@import "./structure.css";
@import "./states.css";
@import "./placement.css";
@import "./safelist.css";

@utility popover {
  --radius-popover: calc(var(--border-radius) * 2); /* 0.5rem */
  --color-popover: var(--color-base);
  --color-popover-active: var(--color-base-active);

  position: relative;
  display: inline-block;

  &:has([popover]:popover-open):after {
    visibility: visible;
    opacity: 1;

    @starting-style {
      visibility: hidden;
      opacity: 0;
    }
  }

  @variant after {
      background-color: var(--color-popover-active);
      content: "";
      visibility: hidden;
      opacity: 0; 
      pointer-events: none;
      width: 0.625rem;
      height: 0.25rem;
      display: block;
      position: absolute;
      mask-repeat: no-repeat;
      mask-position: -1px -1px;
      --mask-popover: url("data:image/svg+xml,%3Csvg width='10' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.500009 1C3.5 1 3.00001 4 5.00001 4C7 4 6.5 1 9.5 1C10 1 10 0.499897 10 0H0C-1.99338e-08 0.5 0 1 0.500009 1Z' fill='black'/%3E%3C/svg%3E%0A");
      mask-image: var(--mask-popover);

      inset-block: 100% auto;
      inset-inline: 50% auto;
      transform: rotate(180deg);
      margin-block-start: 0.20rem;

      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: opacity, transform;
  }
}