@import "./structure.css";
@import "./states.css";
@import "./placement.css";

@utility popover {
  --radius-popover: calc(var(--border-radius) * 2);
  --color-popover: var(--color-base);
  --color-popover-border: var(--color-base-active);
  --popover--anchor-name: --popover-anchor;
  --popover--position-try: flip-block, flip-inline, flip-block flip-inline;

  position: relative;
  display: inline-block;
  anchor-scope: all;
}
