@utility popover-top-start {
  --popover--position-area: start span-start;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0.5rem;
  }

  &:after {
    inset-block: auto 100%;
    inset-inline: 50% auto;
    transform: rotate(0deg);
    margin-block-end: 0.20rem;
  }
}

@utility popover-top-left {
  --popover--position-area: top span-left;
  
  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0.5rem;
  }

  &:after {
    inset-block: auto 100%;
    inset-inline: 50% auto;
    transform: rotate(0deg);
    margin-block-end: 0.20rem;
  }
}

@utility popover-top-center {
  --popover--position-area: start center;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0.5rem;
  }

  &:after {
    inset-block: auto 100%;
    inset-inline: 50% auto;
    transform: rotate(0deg);
    margin-block-end: 0.20rem;
  }
}

@utility popover-top-end {
  --popover--position-area: start span-end;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0.5rem;
  }

  &:after {
    inset-block: auto 100%;
    inset-inline: 50% auto;
    transform: rotate(0deg);
    margin-block-end: 0.20rem;
  }
}

@utility popover-top-right {
  --popover--position-area: top span-right;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0.5rem;
  }

  &:after {
    inset-block: auto 100%;
    inset-inline: 50% auto;
    transform: rotate(0deg);
    margin-block-end: 0.20rem;
  }
}

@utility popover-end-top {
  --popover--position-area: span-start end;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0.5rem;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% auto;
    inset-inline: 100% auto;
    transform: rotate(90deg);
    margin-inline-end: 0.20rem;
  }
}

@utility popover-right-top {
  --popover--position-area: span-top right;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0.5rem;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% auto;
    inset-inline: 100% auto;
    transform: rotate(90deg);
    margin-inline-end: 0.20rem;
  }
}

@utility popover-end-center {
  --popover--position-area: center end;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0.5rem;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% auto;
    inset-inline: 100% auto;
    transform: rotate(90deg);
    margin-inline-end: 0.20rem;
  }
}

@utility popover-right-center {
  --popover--position-area: center right;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0.5rem;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% auto;
    inset-inline: 100% auto;
    transform: rotate(90deg);
    margin-inline-end: 0.20rem;
  }
}

@utility popover-end-bottom {
  --popover--position-area: span-end end;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0.5rem;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% auto;
    inset-inline: 100% auto;
    transform: rotate(90deg);
    margin-inline-end: 0.20rem;
  }
}

@utility popover-right-bottom {
  --popover--position-area: span-bottom right;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0.5rem;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% auto;
    inset-inline: 100% auto;
    transform: rotate(90deg);
    margin-inline-end: 0.20rem;
  }
}

@utility popover-bottom-start {
  --popover--position-area: end span-start;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0.5rem;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 100% auto;
    inset-inline: 50% auto;
    transform: rotate(180deg);
    margin-block-start: 0.20rem;
  }
}

@utility popover-bottom-left {
  --popover--position-area: bottom span-left;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0.5rem;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 100% auto;
    inset-inline: 50% auto;
    transform: rotate(180deg);
    margin-block-start: 0.20rem;
  }
}

@utility popover-bottom-center {
  --popover--position-area: end center;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0.5rem;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 100% auto;
    inset-inline: 50% auto;
    transform: rotate(180deg);
    margin-block-start: 0.20rem;
  }
}

@utility popover-bottom-end {
  --popover--position-area: end span-end;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0.5rem;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 100% auto;
    inset-inline: 50% auto;
    transform: rotate(180deg);
    margin-block-start: 0.20rem;
  }
}

@utility popover-bottom-right {
  --popover--position-area: bottom span-right;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0;
    --popover--margin-block-start: 0.5rem;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 100% auto;
    inset-inline: 50% auto;
    transform: rotate(180deg);
    margin-block-start: 0.20rem;
  }
}

@utility popover-start-top {
  --popover--position-area: span-start start;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0.5rem;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% 50%;
    inset-inline: auto 100%;
    transform: rotate(270deg);
    margin-inline-start: 0.20rem;
  }
}

@utility popover-left-top {
  --popover--position-area: span-top left;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0.5rem;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% 50%;
    inset-inline: auto 100%;
    transform: rotate(270deg);
    margin-inline-start: 0.20rem;
  }
}

@utility popover-start-center {
  --popover--position-area: center start;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0.5rem;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% 50%;
    inset-inline: auto 100%;
    transform: rotate(270deg);
    margin-inline-start: 0.20rem;
  }
}

@utility popover-left-center {
  --popover--position-area: center left;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0.5rem;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% 50%;
    inset-inline: auto 100%;
    transform: rotate(270deg);
    margin-inline-start: 0.20rem;
  }
}

@utility popover-start-bottom {
  --popover--position-area: span-end start;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0.5rem;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% 50%;
    inset-inline: auto 100%;
    transform: rotate(270deg);
    margin-inline-start: 0.20rem;
  }
}

@utility popover-left-bottom {
  --popover--position-area: span-bottom left;

  &>[class*="popover-body"]{
    --popover--margin-inline-start: 0;
    --popover--margin-inline-end: 0.5rem;
    --popover--margin-block-start: 0;
    --popover--margin-block-end: 0;
  }

  &:after {
    inset-block: 50% 50%;
    inset-inline: auto 100%;
    transform: rotate(270deg);
    margin-inline-start: 0.20rem;
  }
}