@utility popover-top-start {
  --popover--position-area: start span-start;
}

@utility popover-top-left {
  --popover--position-area: top span-left;
}

@utility popover-top-center {
  --popover--position-area: start center;
}

@utility popover-top-end {
  --popover--position-area: start span-end;
}

@utility popover-top-right {
  --popover--position-area: top span-right;
}

@utility popover-end-top {
  --popover--position-area: span-start end;
}

@utility popover-right-top {
  --popover--position-area: span-top right;
}

@utility popover-end-center {
  --popover--position-area: center end;
}

@utility popover-right-center {
  --popover--position-area: center right;
}

@utility popover-end-bottom {
  --popover--position-area: span-end end;
}

@utility popover-right-bottom {
  --popover--position-area: span-bottom right;
}

@utility popover-bottom-start {
  --popover--position-area: end span-start;
}

@utility popover-bottom-left {
  --popover--position-area: bottom span-left;
}

@utility popover-bottom-center {
  --popover--position-area: end center;
}

@utility popover-bottom-end {
  --popover--position-area: end span-end;
}

@utility popover-bottom-right {
  --popover--position-area: bottom span-right;
}

@utility popover-start-top {
  --popover--position-area: span-start start;
}

@utility popover-left-top {
  --popover--position-area: span-top left;
}

@utility popover-start-center {
  --popover--position-area: center start;
}

@utility popover-left-center {
  --popover--position-area: center left;
}

@utility popover-start-bottom {
  --popover--position-area: span-end start;
}

@utility popover-left-bottom {
  --popover--position-area: span-bottom left;
}