@utility popover-hover {
  --popover-hover--transition-delay: 0.2s;

  &:hover,
  &:has(:hover) {
    --popover-hover--opacity: 1;
    --popover-hover--pointer-events: auto;
    --popover-hover--transition-delay: 0;
  }
}
