@utility popover-hover {
  --popover-hover--anchor-name: --popover-anchor;
  --popover-hover--transition: opacity, visibility;
  --popover-hover--transition-delay: 0.2s;

  @variant hover{
    --popover-hover--display: block;
    --popover-hover--visibility: visible;
    --popover-hover--opacity: 1;
    --popover-hover--transition-delay: 0;
  }

  @variant after {
    transition: opacity 0.2s, visibility 0.2s allow-discrete;
    transition-delay: 0.2s;
  }

  &:hover:after {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}