@utility popover-hover {
  --popover-hover--transition-delay: 0.2s;

  @variant hover {
    --popover-hover--display: block;
    --popover-hover--visibility: visible;
    --popover-hover--opacity: 1;
    --popover-hover--transition-delay: 0;
  }
}
