@utility dropdown {
  position: relative;
  display: inline-block;
}

@utility dropdown-body {
    border-radius: var(--radius-dropdown);
    padding: 0.75rem;
    visibility: hidden;
    position-anchor: --dropdown;
    position-area: var(--dropdown-y-position) var(--dropdown-x-position);
    position: absolute;
    animation: dropdown 0.2s;
    transition-property: opacity, transform;
    transition-behavior: allow-discrete;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &[popover]:popover-open {
        pointer-events: auto;
        visibility: visible;
        opacity: 1;

        @starting-style {
            visibility: hidden;
            opacity: 0;
        }
    }
}

@keyframes dropdown {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@utility dropdown-toggle {
  anchor-name: --dropdown;
}

/* placements */
@utility dropdown-x-start {
  --dropdown-x-position: span-start;
}

@utility dropdown-x-center {
  --dropdown-x-position: center;
}

@utility dropdown-x-end {
  --dropdown-x-position: end;
}

@utility dropdown-y-start {
  --dropdown-y-position: start;
}

@utility dropdown-y-center {
  --dropdown-y-position: center;
}

@utility dropdown-y-end {
  --dropdown-y-position: end;
}