@utility dropdown {
  position: relative;
  display: inline-block;
}

@utility dropdown-body {
    border-radius: var(--radius-dropdown);
    padding: 0.60rem;
    visibility: hidden;
    position-anchor: var(--anchor-name);

    @supports not (position-area: end span-end) {
        top: var(--dropdown-position--top);
        inset-inline-end: var(--dropdown-position--end);
        bottom: var(--dropdown--bottom);
        inset-inline-start: var(--dropdown-position--start);
        transform: translate(var(--dropdown--translate-x), var(--dropdown--translate-y));
    }
    
    @supports (position-area: end span-end) {
      position-area: var(--dropdown--position-area, end span-end);
    }
    position: absolute;
    animation: dropdown 0.2s;
    background-color: var(--color-base);
    outline-style: solid;
    outline-width: 1px;
    min-width: 13rem;
    outline-color: var(--color-base-active);
    transition-property: opacity, transform;
    transition-behavior: allow-discrete;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes dropdown {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@utility dropdown-hover{
  anchor-name: var(--anchor-name);
  @variant hover{
    :is(.dropdown-body){
      pointer-events: auto;
      visibility: visible;
      opacity: 1;

      @starting-style {
          visibility: hidden;
          opacity: 0;
      }
    }
  }
}

@utility dropdown-toggle {
  anchor-name: var(--anchor-name);

  [popover]:popover-open {
    &:is(.dropdown-body){
      pointer-events: auto;
      visibility: visible;
      opacity: 1;

      @starting-style {
          visibility: hidden;
          opacity: 0;
      }
    }
  }
}

/* placements */
@utility dropdown-top-start {
  --dropdown--position-area: start span-end;

  --dropdown-position--bottom: 100%;
  --dropdown-position--top: auto;
  --dropdown-position--start: 0;
  --dropdown--translate-y: var(-0.5rem);
}

@utility dropdown-top-center {
  --dropdown--position-area: start center;

  --dropdown-position--bottom: 100%;
  --dropdown-position--top: auto;
  --dropdown-position--start: 50%;
  --dropdown--translate-x: var(-50%);
  --dropdown--translate-y: var(-0.5rem);
}

@utility dropdown-top-end {
  --dropdown--position-area: start span-start;

  --dropdown-position--bottom: 100%;
  --dropdown-position--top: auto;
  --dropdown-position--end: 0;
  --dropdown-position--start: auto;
  --dropdown--translate-y: var(-0.5rem);
}

@utility dropdown-end-top {
  --dropdown--position-area: span-start end;
}

@utility dropdown-end-center {
   --dropdown--position-area: center end;
}

@utility dropdown-end-bottom {
 --dropdown--position-area: span-end end;
}

@utility dropdown-bottom-start {
  --dropdown--position-area: end span-end;

  --dropdown-position--top: 100%;
  --dropdown-position--start: 0;
  --dropdown--translate-y: var(0.5rem);
}

@utility dropdown-bottom-center {
  --dropdown--position-area: end center;

  --dropdown-position--top: 100%;
  --dropdown-position--start: 50%;
  --dropdown--translate-x: var(-50%);
  --dropdown--translate-y: var(0.5rem);
}

@utility dropdown-bottom-end {
  --dropdown--position-area: end span-start;

  --dropdown-position--top: 100%;
  --dropdown-position--end: 0;
  --dropdown-position--start: auto;
  --dropdown--translate-y: var(0.5rem);
}

@utility dropdown-start-top {
  --dropdown--position-area: span-start start;
}

@utility dropdown-start-center {
   --dropdown--position-area: center start;
}

@utility dropdown-start-bottom {
 --dropdown--position-area: span-end start;
}
