@import "../../theme/placement.css";

@utility dropdown {
  position: relative;
  display: inline-block;
  position-area: var(--anchor-v, bottom) var(--anchor-h, span-right);

  & > *:not(summary):focus {
    outline-style: none;
    @variant forced-colors {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  .dropdown-body {
    position: absolute;
  }

  &:not(details, .dropdown-open, .dropdown-hover:hover, :focus-within) {
    .dropdown-body {
      display: none;
      transform-origin: top;
      opacity: 0%;
      transform: scaleX(9%) scaleY(9%);
    }
  }

  &[popover],
  .dropdown-body {
    /* animation: dropdown 0.2s; */
    @starting-style {
      transform: scaleX(95%) scaleY(95%);
      opacity: 0;
    }
    z-index: 999;
    width: max-content;
    transition-behavior: allow-discrete;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
  }

  &.dropdown-open,
  &:not(.dropdown-hover):focus,
  &:focus-within {
    > [tabindex]:first-child {
      pointer-events: none;
    }
    .dropdown-body {
      opacity: 100%;
    }
  }

  &.dropdown-hover:hover {
    .dropdown-body {
      opacity: 100%;
      transform: scaleX(100%) scaleY(100%);
    }
  }

  &:is(details) {
    summary {
      &::-webkit-details-marker {
        display: none;
      }
    }
  }

  &.dropdown-open,
  &:focus,
  &:focus-within {
    .dropdown-body {
      transform: scaleX(100%) scaleY(100%);
    }
  }

  /* experimental */
  &:where([popover]) {
    background-color: oklch(0 0 0 / 0);
  }
  &[popover] {
    position: fixed;
    color: inherit;

    @supports not (position-area: bottom) {
      margin: auto;

      &.dropdown-open:not(:popover-open) {
        display: none;
        transform-origin: top;
        opacity: 0%;
        transform: scaleX(95%) scaleY(95%);
      }

      &::backdrop {
        background-color: color-mix(in oklab, #000 30%, #0000);
      }
    }

    &:not(.dropdown-open, :popover-open) {
      display: none;
      transform-origin: top;
      opacity: 0%;
      transform: scaleX(95%) scaleY(95%);
    }
  }
}

@utility dropdown-body {
  /* @reference shadow; */

  @variant forced-colors{
    outline-style: solid
    outline-width: 1px;
  }
  grid-column-start: 1;
  grid-row-start: 1;
  max-height: 100vh;
  padding: 0.75rem;
  transition-property: all;
  transition-duration: 150ms;
  transform: scaleX(95%) scaleY(95%);
  opacity: 0%;
  overflow-y: auto;
  overscroll-behavior: contain;

  --tw-shadow-color: light-dark(
    color-mix(in oklab, var(--base-300) 50%, transparent),
    color-mix(in oklab, var(--base-900) 60%, transparent)
  );
  border: 1px solid light-dark(var(--base-200), var(--base-900));
  border-radius: var(--radius-dropdown);
  background-color: light-dark(var(--base-0), var(--base-1000));
  color: light-dark(var(--base-800), var(--base-50));
}

/* placements */
/* Positioning Classes */
@utility dropdown-x-start {
  left: 0; /* Aligns dropdown to start horizontally */
}

@utility dropdown-x-end {
  right: 0; /* Aligns dropdown to end horizontally */
}

@utility dropdown-y-top {
  bottom: calc(100% + 10px); /* Positions above the button */
}

@utility dropdown-y-bottom {
  top: calc(100% + 10px); /* Positions below the button */
}
