@import "./styles.css";

@utility swap {
    position: relative;
    display: inline-grid;
    place-items: center;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;

    :where(&) :where(input[type="checkbox"]) {
        appearance: none;
        position: absolute;
        inset: 0;
        opacity: 0;
        cursor: pointer;
        margin: 0;
    }

    :where(&) :where(.swap-on),
    :where(&) :where(.swap-off),
    :where(&) :where(.swap-indeterminate) {
        grid-column: 1;
        grid-row: 1;
        transition:
            opacity 300ms ease-in-out,
            rotate 300ms ease-in-out,
            transform 300ms ease-in-out;
    }

    :where(&) :where(.swap-on),
    :where(&) :where(.swap-indeterminate) {
        opacity: 0;
        pointer-events: none;
    }

    :where(&) :where(.swap-off) {
        opacity: 1;
    }

    &:has(input:checked),
    &.swap-active {
        :where(.swap-on) {
            opacity: 1;
            pointer-events: auto;
        }

        :where(.swap-off) {
            opacity: 0;
            pointer-events: none;
        }
    }

    &:has(input:indeterminate) {
        :where(.swap-indeterminate) {
            opacity: 1;
            pointer-events: auto;
        }

        :where(.swap-on) {
            opacity: 0;
            pointer-events: none;
        }
    }
}
