@utility swap-rotate {
    :where(&) :where(.swap-on),
    :where(&) :where(.swap-indeterminate) {
        rotate: 45deg;
    }

    &:has(input:checked),
    &.swap-active {
        :where(.swap-off) {
            rotate: -45deg;
        }

        :where(.swap-on),
        :where(.swap-indeterminate) {
            rotate: 0deg;
        }
    }
}

@utility swap-flip {
    perspective: 16rem;

    :where(&) :where(.swap-on),
    :where(&) :where(.swap-indeterminate) {
        backface-visibility: hidden;
        transform: rotateY(180deg);
    }

    :where(&) :where(.swap-off) {
        backface-visibility: hidden;
        transform: rotateY(0deg);
    }

    &:has(input:checked),
    &.swap-active {
        :where(.swap-off) {
            transform: rotateY(-180deg);
        }

        :where(.swap-on),
        :where(.swap-indeterminate) {
            transform: rotateY(0deg);
        }
    }
}
