@import "./colors.css";
@import "./safelist.css";
@import "./shapes.css";
@import "./sizes.css";
@import "./states.css";
@import "./variants.css";

@utility radio {
  --radius-radio: calc(var(--border-radius) * 1.5);

  --color-radio: var(--color-base-soft);
  --color-on-radio: var(--color-on-base);
  --color-radio-active: var(--color-base-active);

  --color-radio-soft: var(--color-base-soft);
  --color-on-radio-soft: var(--color-on-base-soft);

  padding: var(--radio--padding, 0.3125rem);
  width: var(--radio--width, 1.25rem);
  height: var(--radio--height, 1.25rem);
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  background-color: currerntcolor;
  appearance: none;
  vertical-align: middle;
  cursor: pointer;
  position: relative;

    outline-color: var(--color-radio-active);
    outline-style: solid;
    outline-width: 1px;
  
  background-color: transparent;
  border-radius: var(--radio--radius, var(--radius-radio));
  box-shadow: var(--radio--box-shadow);

  transition: background-color 200ms ease, box-shadow 200ms ease, opacity 200ms ease;

  @variant before {
    content: "";
    position: absolute;
    inset: 4px; 
    border-radius: 50%;
    clip-path: circle(50%);
    background-color: var(--color-radio-active);
    opacity: 0;
    transform: scale(0.4);
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms linear;
  }

  @variant focus-visible {
    outline-width: 2px;
    outline-style: solid;
    outline-color: light-dark(
        var(--color-base-950, currentColor),
        var(--color-base-50, currentColor)
    );
    outline-offset: 3px;
  }

  @variant checked-or-aria-checked {
    background-color: transparent;

    @variant before {
      opacity: 1;
      transform: scale(1);
    }
  }

  @variant radio-disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}