@utility radio-primary {
  --color-radio: var(--color-primary);
  --color-radio-active: var(--color-primary-active);
  --color-on-radio: var(--color-on-primary);

  --radio--box-shadow: 0 0 0 0px var(--color-primary-50), 0 0 0 calc(1px + 0px) var(--color-primary-active), 0 0 var(--color-primary-50);
}

@utility radio-secondary {
  --color-radio: var(--color-secondary);
  --color-radio-active: var(--color-secondary-active);
  --color-on-radio: var(--color-on-secondary);

  --radio--box-shadow: 0 0 0 0px var(--color-secondary-50), 0 0 0 calc(1px + 0px) var(--color-secondary-active), 0 0 var(--color-secondary-50);
}

@utility radio-accent {
  --color-radio: var(--color-accent);
  --color-radio-active: var(--color-accent-active);
  --color-on-radio: var(--color-on-accent);

  --radio--box-shadow: 0 0 0 0px var(--color-accent-50), 0 0 0 calc(1px + 0px) var(--color-accent-active), 0 0 var(--color-accent-50);
}

@utility radio-info {
  --color-radio: var(--color-info);
  --color-radio-active: var(--color-info-active);
  --color-on-radio: var(--color-on-info);

  --radio--box-shadow: 0 0 0 0px var(--color-info-50), 0 0 0 calc(1px + 0px) var(--color-info-active), 0 0 var(--color-info-50);
}

@utility radio-neutral {
  --color-radio: var(--color-neutral);
  --color-radio-active: var(--color-neutral-active);
  --color-on-radio: var(--color-on-neutral);

  --radio--box-shadow: 0 0 0 0px var(--color-neutral-50), 0 0 0 calc(1px + 0px) var(--color-neutral-active), 0 0 var(--color-neutral-50);
}

@utility radio-success {
  --color-radio: var(--color-success);
  --color-radio-active: var(--color-success-active);
  --color-on-radio: var(--color-on-success);

  --radio--box-shadow: 0 0 0 0px var(--color-success-50), 0 0 0 calc(1px + 0px) var(--color-success-active), 0 0 var(--color-success-50);
}

@utility radio-warning {
  --color-radio: var(--color-warning);
  --color-radio-active: var(--color-warning-active);
  --color-on-radio: var(--color-on-warning);

  --radio--box-shadow: 0 0 0 0px var(--color-warning-50), 0 0 0 calc(1px + 0px) var(--color-warning-active), 0 0 var(--color-warning-50);
}

@utility radio-error {
  --color-radio: var(--color-error);
  --color-radio-active: var(--color-error-active);
  --color-on-radio: var(--color-on-error);

  --radio--box-shadow: 0 0 0 0px var(--color-error-50), 0 0 0 calc(1px + 0px) var(--color-error-active), 0 0 var(--color-error-50);
}
