@utility radio-primary {
  --color-radio: var(--color-primary-soft);
  --color-on-radio: var(--color-on-primary);
  --color-radio-active: var(--color-primary-active);

  --color-radio-soft: var(--color-primary-soft);
  --color-on-radio-soft: var(--color-on-primary-soft);
}

@utility radio-secondary {
  --color-radio: var(--color-secondary-soft);
  --color-on-radio: var(--color-on-secondary);
  --color-radio-active: var(--color-secondary-active);

  --color-radio-soft: var(--color-secondary-soft);
  --color-on-radio-soft: var(--color-on-secondary-soft);
}

@utility radio-accent {
  --color-radio: var(--color-accent-soft);
  --color-on-radio: var(--color-on-accent);
  --color-radio-active: var(--color-accent-active);

  --color-radio-soft: var(--color-accent-soft);
  --color-on-radio-soft: var(--color-on-accent-soft);
}

@utility radio-info {
  --color-radio: var(--color-info-soft);
  --color-on-radio: var(--color-on-info);
  --color-radio-active: var(--color-info-active);

  --color-radio-soft: var(--color-info-soft);
  --color-on-radio-soft: var(--color-on-info-soft);
}

@utility radio-neutral {
  --color-radio: var(--color-neutral-soft);
  --color-on-radio: var(--color-on-neutral);
  --color-radio-active: var(--color-neutral-active);

  --color-radio-soft: var(--color-neutral-soft);
  --color-on-radio-soft: var(--color-on-neutral-soft);
}

@utility radio-success {
  --color-radio: var(--color-success-soft);
  --color-on-radio: var(--color-on-success);
  --color-radio-active: var(--color-success-active);

  --color-radio-soft: var(--color-success-soft);
  --color-on-radio-soft: var(--color-on-success-soft);
}

@utility radio-warning {
  --color-radio: var(--color-warning-soft);
  --color-on-radio: var(--color-on-warning);
  --color-radio-active: var(--color-warning-active);

  --color-radio-soft: var(--color-warning-soft);
  --color-on-radio-soft: var(--color-on-warning-soft);
}

@utility radio-error {
  --color-radio: var(--color-error-soft);
  --color-on-radio: var(--color-on-error);
  --color-radio-active: var(--color-error-active);

  --color-radio-soft: var(--color-error-soft);
  --color-on-radio-soft: var(--color-on-error-soft);
}
