@source inline("{,sm:,md:,lg:,xl:}radio{,-{primary,secondary,accent,info,neutral,success,warning,error,xs,sm,md,lg,xl,2xl,circle,rounded,square,disabled}}");
@source not inline("checked-or-aria-checked");