@source inline("radio");
@source inline("radio-{primary,secondary,accent,info,neutral,success,warning,error}");
@source inline("radio-{xs,sm,md,lg,xl,2xl}");
@source inline("radio-{circle,rounded,square}");
@source inline("radio-disabled");

@source not inline("checked-or-aria-checked");
/* @source not inline("checked-disabled"); */