@utility radio-circle {
  --radio--radius: 9999px;
}

@utility radio-rounded {
  --radio--radius: calc(var(--border-radius) * 4);
}

@utility radio-square {
  --radio--radius: calc(var(--border-radius) * 2);
}
