@utility radio-circle {
  --radio--radius: calc(infinity * 1px);
  --radio--aspect-ratio: 1 / 1;
}

@utility radio-rounded {
  --radio--radius: calc(infinity * 1px);
  --radio--aspect-ratio: 1 / 1;
}

@utility radio-square {
  --radio--radius: var(--radius-radio);
  --radio--aspect-ratio: 1 / 1;
}
