@utility radio-xs {
  --radio--padding: 0.1875rem;
  --radio--width: 0.75rem;
  --radio--height: 0.75rem;
}

@utility radio-sm {
  --radio--padding: 0.25rem;
  --radio--width: 1rem;
  --radio--height: 1rem;
}

@utility radio-md {
  --radio--padding: 0.3125rem;
  --radio--width: 1.25rem;
  --radio--height: 1.25rem;
}

@utility radio-lg {
  --radio--padding: 0.375rem;
  --radio--width: 1.5rem;
  --radio--height: 1.5rem;
}

@utility radio-xl {
  --radio--padding: 0.4375rem;
  --radio--width: 1.75rem;
  --radio--height: 1.75rem;
}

@utility radio-2xl {
  --radio--padding: 0.5rem;
  --radio--width: 2rem;
  --radio--height: 2rem;
}
