@custom-variant checked-or-aria-checked {
  &:checked, &[aria-checked="true"] {
    @slot;
  }
}

@custom-variant radio-disabled {
  &:is(:disabled, [disabled], [class*="radio-disabled"]) {
    @slot;
  }
}