@utility input-primary {
   --color-input: var(--color-primary);
   --color-on-input: var(--color-on-primary);

   --color-input-soft: var(--color-primary-soft);
   --color-on-input-soft: var(--color-on-primary-soft);

    --color-input-active: var(--color-primary-active);
    --color-on-input-active: var(--color-on-primary);

    @variant focus-or-within {
        outline-color: var(--color-primary-400);
    }
}

@utility input-secondary {
    --color-input: var(--color-secondary);
    --color-on-input: var(--color-on-secondary);

    --color-input-soft: var(--color-secondary-soft);
    --color-on-input-soft: var(--color-on-secondary-soft);

    --color-input-active: var(--color-secondary-active);
    --color-on-input-active: var(--color-on-secondary);

    @variant focus-or-within {
        outline-color: var(--color-secondary-400);
    }
}

@utility input-neutral {
    --color-input: var(--color-neutral);
    --color-on-input: var(--color-on-neutral);

    --color-input-soft: var(--color-neutral-soft);
    --color-on-input-soft: var(--color-on-neutral-soft);

    --color-input-active: var(--color-neutral-active);
    --color-on-input-active: var(--color-on-neutral);

    @variant focus-or-within {
        outline-color: var(--color-neutral-400);
    }
}

@utility input-accent {
    --color-input: var(--color-accent);
    --color-on-input: var(--color-on-accent);

    --color-input-soft: var(--color-accent-soft);
    --color-on-input-soft: var(--color-on-accent-soft);

    --color-input-active: var(--color-accent-active);
    --color-on-input-active: var(--color-on-accent);

    @variant focus-or-within {
        outline-color: var(--color-accent-400);
    }
}

@utility input-info {
    --color-input: var(--color-info);
    --color-on-input: var(--color-on-info);

    --color-input-soft: var(--color-info-soft);
    --color-on-input-soft: var(--color-on-info-soft);

    --color-input-active: var(--color-info-active);
    --color-on-input-active: var(--color-on-info);

    @variant focus-or-within {
        outline-color: var(--color-info-400);
    }
}

@utility input-success {
    --color-input: var(--color-success);
    --color-on-input: var(--color-on-success);

    --color-input-soft: var(--color-success-soft);
    --color-on-input-soft: var(--color-on-success-soft);

    --color-input-active: var(--color-success-active);
    --color-on-input-active: var(--color-on-success);

    @variant focus-or-within {
        outline-color: var(--color-success-400);
    }
}

@utility input-warning {
    --color-input: var(--color-warning);
    --color-on-input: var(--color-on-warning);

    --color-input-soft: var(--color-warning-soft);
    --color-on-input-soft: var(--color-on-warning-soft);

    --color-input-active: var(--color-warning-active);
    --color-on-input-active: var(--color-on-warning);

    @variant focus-or-within {
        outline-color: var(--color-warning-400);
    }
}

@utility input-error {
    --color-input: var(--color-error);
    --color-on-input: var(--color-on-error);

    --color-input-soft: var(--color-error-soft);
    --color-on-input-soft: var(--color-on-error-soft);

    --color-input-active: var(--color-error-active);
    --color-on-input-active: var(--color-on-error);

    @variant focus-or-within {
        outline-color: var(--color-error-400);
    }
}