@utility input-xs {
  --input--inline: 0.475rem;
  --input--block: 0.375rem;
  --input--font-size: 0.75rem;
}

@utility input-sm {
  --input--inline: 0.6rem;
  --input--block: 0.5rem;
  --input--font-size: 0.875rem;
}

@utility input-md {
  --input--inline: 0.75rem;
  --input--block: 0.625rem;
  --input--font-size: 1rem;
}

@utility input-lg {
  --input--inline: 0.9rem;
  --input--block: 0.75rem;
  --input--font-size: 1rem;
}

@utility input-xl {
  --input--inline: 1rem;
  --input--block: 0.875rem;
  --input--font-size: 1rem;
}

@utility input-2xl {
  --input--inline: 1.25rem;
  --input--block: 1rem;
  --input--font-size: 1.025rem;
}