@utility input-disabled {
    cursor: var(--input-disabled--cursor);
    opacity: var(--input-disabled--opacity);
    pointer-events: var(--input-disabled--pointer-events);
    background-color: var(--input-disabled--bg-color);
    color: var(--input-disabled--color);
    user-select: var(--input-disabled--user-select);
    border-color: var(--input-disabled--border-color);
    
    @variant placeholder {
        color: var(--input-disabled--color);
    }
}