@utility input-dashed {
    border-style: dashed;
}

@utility input-outline {
    border-style: solid;
}

@utility input-soft {
    background-color: var(--color-input-soft);
    border-color: transparent;

    @variant placeholder{
        color: --alpha(var(--color-on-input-soft) / 45%);
    }
}

@utility input-ghost {
    border-color: transparent;
}