@utility input-dashed {
    outline-style: dashed;
}

@utility input-outline {
    outline-style: solid;
}

@utility input-soft {
    background-color: var(--color-input-soft);
    outline-color: transparent;

    @variant placeholder{
        color: --alpha(var(--color-on-input-soft) / 20%);
    }
}

@utility input-ghost {
    outline-color: transparent;
}