@utility input-dashed {
    border-style: dashed;
}

@utility input-outline {
    border-style: solid;
}

@utility input-soft {
    background-color: var(--color-input-soft);
    border-color: transparent;

    @variant placeholder{
        color: --alpha(var(--color-on-input-soft) / 45%);
    }
}

@utility input-ghost {
    border-color: transparent;
}

@utility input-square {
    width: var(--input--square-size, 3rem);
    padding-inline: 0;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}