@import "../../base/preflight.css" layer(theme);
@import "./light.css" layer(theme);
@import "./dark.css" layer(theme);

@custom-variant theme-dark (&:where([data-theme="dark"] *));
@custom-variant theme-light (&:where([data-theme="light"] *));

:root {
    color-scheme: var(--color-scheme);
}

@theme inline {

    --color-backdrop: var(--backdrop-color);

    --color-surface: var(--surface-color);
    --color-surface-content: var(--surface-content-color);

    --color-primary: var(--primary-color);
    --color-primary-content: var(--primary-content-color);

    --color-secondary: var(--secondary-color);
    --color-secondary-content: var(--secondary-content-color);

    --color-accent: var(--accent-color);
    --color-accent-content: var(--accent-content-color);

    --color-info: var(--info-color);
    --color-info-content: var(--info-content-color);

    --color-success: var(--success-color);
    --color-success-content: var(--success-content-color);

    --color-warning: var(--warning-color);
    --color-warning-content: var(--warning-content-color);

    --color-error: var(--error-color);
    --color-error-content: var(--error-content-color);
}