@layer theme {
    [data-theme="dark"] {
        --color-scheme: dark;

        --backdrop-color: color-mix(in oklab,oklch(.141 .005 265.823)20%,transparent);

        --surface-color: oklch(21.03% 0.0059 285.89);
        --base-content-color: oklch(100% 0 0);

        --primary-color: oklch(15.72% 0.0267 199.35);
        --primary-content-color: oklch(0.961151 0.003 300.98);
    
        --secondary-color:  oklch(22.21% 0 0);
        --secondary-content-color: oklch(100% 0 0);
    
        --accent-color: oklch(24.47% 0.0416 202.69);
        --accent-content-color: oklch(100% 0 0);
    
        --info-color: oklch(18.29% 0.0127 270.63);
        --info-content-color: oklch(99.78% 0.0105 106.59);
    
        --success-color: oklch(45.77% 0.155081 142.3128);
        --success-content-color: oklch(100% 0 0);
    
        --warning-color: oklch(78.45% 0.1486 83.48);
        --warning-content-color: oklch(15.72% 0.0267 199.35);
    
        --error-color: oklch(58.57% 0.2363 29.65);
        --error-content-color: oklch(100% 0 0);
    }
}