@layer theme {
    :root, [data-theme="light"] {
        --color-scheme: light;

        --backdrop-color: color-mix(in oklab,oklch(.141 .005 285.823)20%,transparent);

        --surface-color: oklch(100% 0 0);
        --surface-content-color: oklch(15.72% 0.0267 199.35);

        --primary-color: oklch(15.72% 0.0267 199.35);
        --primary-content-color: oklch(0.961151 0.003 300.98);
    
        --secondary-color:  oklch(84.27% 0.0057 31.06);
        --secondary-content-color: oklch(15.72% 0.0267 199.35);
    
        --accent-color: oklch(24.47% 0.0416 202.69);
        --accent-content-color: oklch(100% 0 0);
    
        --info-color: oklch(93.01% 0.0111 348.44);
        --info-content-color: oklch(24.47% 0.0416 202.69);
    
        --success-color: oklch(45.77% 0.155081 142.3128);
        --success-content-color: oklch(100% 0 0);
    
        --warning-color: oklch(78.45% 0.1486 83.48);
        --warning-content-color: oklch(15.72% 0.0267 199.35);
    
        --error-color: oklch(58.57% 0.2363 29.65);
        --error-content-color: oklch(100% 0 0);
    }
    
}