@import "./safelist.css";
@import "./colors.css";
@import "./sizes.css";
@import "./styles.css";
@import "./shapes.css";

@utility badge {
  --badge--bg-color: var(--color-default-200);
  --badge--color: var(--color-base-900);

  @variant dark {
    --badge--bg-color: var(--color-default-900);
    --badge--color: var(--color-default-50);
  }

  padding-inline: var(--badge--padding-inline, 0.75rem);
  padding-block: var(--badge--padding-block, 0.375rem);
  font-size: var(--badge--text-size, 0.875rem);

  background-color: var(--badge--bg-color);
  color: var(--badge--color);

  outline-width: var(--badge--outline-width);
  outline-style: var(--badge--outline-style);
  outline-color: var(--badge--outline-color);

  display: inline-flex;
  gap: 0.5rem;
  border-radius: var(--badge--radius, var(--radius-badge));
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  width: var(--badge--width, fit-content);
  height: var(--badge--height);
  line-height: var(--badge--line-height, 0.938rem);
}