@utility badge-primary {
   --color-badge: var(--color-primary);
   --color-badge-active: var(--color-primary-active);
   --color-on-badge: var(--color-on-primary);

   --color-badge-soft: var(--color-primary-soft);
   --color-on-badge-soft: light-dark(var(--color-primary-800), var(--color-primary));

   --badge-variant-text: light-dark(var(--color-primary-800), var(--color-primary-400));
}

@utility badge-secondary {
   --color-badge: var(--color-secondary);
   --color-badge-active: var(--color-secondary-active);
   --color-on-badge: var(--color-on-secondary);

   --color-badge-soft: var(--color-secondary-soft);
   --color-on-badge-soft: light-dark(var(--color-secondary-800), var(--color-secondary-400));

   --badge-variant-text: light-dark(var(--color-secondary-800), var(--color-secondary-400));
}

@utility badge-accent {
   --color-badge: var(--color-accent);
   --color-badge-active: var(--color-accent-active);
   --color-on-badge: var(--color-on-accent);

   --color-badge-soft: var(--color-accent-soft);
   --color-on-badge-soft: light-dark(var(--color-accent-800), var(--color-accent-400));

   --badge-variant-text: light-dark(var(--color-accent-800), var(--color-accent-400));
}

@utility badge-info {
   --color-badge: var(--color-info);
   --color-badge-active: var(--color-info-active);
   --color-on-badge: var(--color-on-info);

   --color-badge-soft: var(--color-info-soft);
   --color-on-badge-soft: light-dark(var(--color-info-800), var(--color-info-400));

   --badge-variant-text: light-dark(var(--color-info-800), var(--color-info-400));
}

@utility badge-neutral {
   --color-badge: var(--color-neutral);
   --color-badge-active: var(--color-neutral-active);
   --color-on-badge: var(--color-on-neutral);

   --color-badge-soft: var(--color-neutral-soft);
   --color-on-badge-soft: light-dark(var(--color-neutral-800), var(--color-neutral-400));

   --badge-variant-text: light-dark(var(--color-neutral-800), var(--color-neutral-400));
}

@utility badge-success {
   --color-badge: var(--color-success);
   --color-badge-active: var(--color-success-active);
   --color-on-badge: var(--color-on-success);

   --color-badge-soft: var(--color-success-soft);
   --color-on-badge-soft: light-dark(var(--color-success-800), var(--color-success-400));

   --badge-variant-text: light-dark(var(--color-success-800), var(--color-success-400));
}

@utility badge-warning {
   --color-badge: var(--color-warning);
   --color-badge-active: var(--color-warning-active);
   --color-on-badge: var(--color-on-warning);

   --color-badge-soft: var(--color-warning-soft);
   --color-on-badge-soft: light-dark(var(--color-warning-800), var(--color-warning-400));

   --badge-variant-text: light-dark(var(--color-warning-800), var(--color-warning-400));
}

@utility badge-error {
   --color-badge: var(--color-error);
   --color-badge-active: var(--color-error-active);
   --color-on-badge: var(--color-on-error);

   --color-badge-soft: var(--color-error-soft);
   --color-on-badge-soft: light-dark(var(--color-error-800), var(--color-error-400));

   --badge-variant-text: light-dark(var(--color-error-800), var(--color-error-400));
}