

@utility badge-primary {
  --badge--bg-color: var(--color-primary-600);
  --badge--color: var(--color-base-0);

  --badge-soft--bg-color: var(--color-primary-100);
  --badge-soft--color: var(--color-primary-600);

  --badge-dashed--color: var(--color-primary-600);
  --badge-dashed--outline-color: var(--color-primary-500);

  --badge-outline--color: var(--color-primary-600);
  --badge-outline--outline-color: var(--color-primary-500);

  --badge-ghost--color: var(--color-primary-600);

  @variant dark {
    --badge--bg-color: var(--color-primary-800);
    --badge--color: var(--color-base-0);

    --badge-soft--bg-color: --alpha(var(--color-primary-900) / 30%);
    --badge-soft--color: var(--color-primary-400);

    --badge-dashed--color: var(--color-primary-500);
    --badge-dashed--outline-color: var(--color-primary-600);

    --badge-outline--color: var(--color-primary-500);
    --badge-outline--outline-color: var(--color-primary-600);

    --badge-ghost--color: var(--color-primary-500);
  }
}

@utility badge-secondary {
  --badge--bg-color: var(--color-secondary-600);
  --badge--color: var(--color-base-0);

  --badge-soft--bg-color: var(--color-secondary-100);
  --badge-soft--color: var(--color-secondary-600);

  --badge-dashed--color: var(--color-secondary-600);
  --badge-dashed--outline-color: var(--color-secondary-500);

  --badge-outline--color: var(--color-secondary-600);
  --badge-outline--outline-color: var(--color-secondary-500);

  --badge-ghost--color: var(--color-secondary-600);

  @variant dark {
    --badge--bg-color: var(--color-secondary-800);
    --badge--color: var(--color-base-0);

    --badge-soft--bg-color: --alpha(var(--color-secondary-900) / 30%);
    --badge-soft--color: var(--color-secondary-400);

    --badge-dashed--color: var(--color-secondary-500);
    --badge-dashed--outline-color: var(--color-secondary-600);

    --badge-outline--color: var(--color-secondary-500);
    --badge-outline--outline-color: var(--color-secondary-600);

    --badge-ghost--color: var(--color-secondary-500);
  }
}

@utility badge-accent {
  --badge--bg-color: var(--color-accent-600);
  --badge--color: var(--color-base-0);

  --badge-soft--bg-color: var(--color-accent-100);
  --badge-soft--color: var(--color-accent-600);

  --badge-dashed--color: var(--color-accent-600);
  --badge-dashed--outline-color: var(--color-accent-500);

  --badge-outline--color: var(--color-accent-600);
  --badge-outline--outline-color: var(--color-accent-500);

  --badge-ghost--color: var(--color-accent-600);

  @variant dark {
    --badge--bg-color: var(--color-accent-800);
    --badge--color: var(--color-base-0);

    --badge-soft--bg-color: --alpha(var(--color-accent-900) / 30%);
    --badge-soft--color: var(--color-accent-400);

    --badge-dashed--color: var(--color-accent-400);
    --badge-dashed--outline-color: var(--color-accent-600);

    --badge-outline--color: var(--color-accent-400);
    --badge-outline--outline-color: var(--color-accent-600);

    --badge-ghost--color: var(--color-accent-400);
  }
}

@utility badge-info {
  --badge--bg-color: var(--color-info-500);
  --badge--color: var(--color-base-900);

  --badge-soft--bg-color: var(--color-info-100);
  --badge-soft--color: var(--color-info-700);

  --badge-dashed--color: var(--color-info-700);
  --badge-dashed--outline-color: var(--color-info-500);

  --badge-outline--color: var(--color-info-700);
  --badge-outline--outline-color: var(--color-info-500);

  --badge-ghost--color: var(--color-info-700);

  @variant dark {
    --badge--bg-color: var(--color-info-600);
    --badge--color: var(--color-base-900);

    --badge-soft--bg-color: --alpha(var(--color-info-900) / 30%);
    --badge-soft--color: var(--color-info-400);

    --badge-dashed--color: var(--color-info-400);
    --badge-dashed--outline-color: var(--color-info-600);

    --badge-outline--color: var(--color-info-400);
    --badge-outline--outline-color: var(--color-info-600);

    --badge-ghost--color: var(--color-info-400);
  }
}

@utility badge-success {
  --badge--bg-color: var(--color-success-400);
  --badge--color: var(--color-base-900);

  --badge-soft--bg-color: var(--color-success-100);
  --badge-soft--color: var(--color-success-700);

  --badge-dashed--color: var(--color-success-700);
  --badge-dashed--outline-color: var(--color-success-500);

  --badge-outline--color: var(--color-success-700);
  --badge-outline--outline-color: var(--color-success-500);

  --badge-ghost--color: var(--color-success-700);

  @variant dark {
    --badge--bg-color: var(--color-success-600);
    --badge--color: var(--color-base-900);

    --badge-soft--bg-color: --alpha(var(--color-success-900) / 30%);
    --badge-soft--color: var(--color-success-400);

    --badge-dashed--color: var(--color-success-400);
    --badge-dashed--outline-color: var(--color-success-600);

    --badge-outline--color: var(--color-success-400);
    --badge-outline--outline-color: var(--color-success-600);

    --badge-ghost--color: var(--color-success-400);
  }
}

@utility badge-warning {
  --badge--bg-color: var(--color-warning-400);
  --badge--color: var(--color-base-900);

  --badge-soft--bg-color: var(--color-warning-100);
  --badge-soft--color: var(--color-warning-700);

  --badge-dashed--color: var(--color-warning-700);
  --badge-dashed--outline-color: var(--color-warning-500);

  --badge-outline--color: var(--color-warning-700);
  --badge-outline--outline-color: var(--color-warning-500);

  --badge-ghost--color: var(--color-warning-700);

  @variant dark {
    --badge--bg-color: var(--color-warning-600);
    --badge--color: var(--color-base-900);

    --badge-soft--bg-color: --alpha(var(--color-warning-900) / 30%);
    --badge-soft--color: var(--color-warning-400);

    --badge-dashed--color: var(--color-warning-400);
    --badge-dashed--outline-color: var(--color-warning-600);

    --badge-outline--color: var(--color-warning-400);
    --badge-outline--outline-color: var(--color-warning-600);

    --badge-ghost--color: var(--color-warning-400);
  }
}

@utility badge-error {
  --badge--bg-color: var(--color-error-600);
  --badge--color: var(--color-base-0);

  --badge-soft--bg-color: var(--color-error-100);
  --badge-soft--color: var(--color-error-600);

  --badge-dashed--color: var(--color-error-600);
  --badge-dashed--outline-color: var(--color-error-500);

  --badge-outline--color: var(--color-error-600);
  --badge-outline--outline-color: var(--color-error-500);

  --badge-ghost--color: var(--color-error-600);

  @variant dark {
    --badge--bg-color: var(--color-error-700);
    --badge--color: var(--color-base-0);

    --badge-soft--bg-color: --alpha(var(--color-error-900) / 30%);
    --badge-soft--color: var(--color-error-500);

    --badge-dashed--color: var(--color-error-500);
    --badge-dashed--outline-color: var(--color-error-600);

    --badge-outline--color: var(--color-error-500);
    --badge-outline--outline-color: var(--color-error-600);

    --badge-ghost--color: var(--color-error-500);
  }
}