@utility badge-square {
  --badge--padding-inline: var(--badge-square--padding, 0.625rem);
  --badge--padding-block: var(--badge-square--padding, 0.625rem);
  --badge--width: var(--badge-square--padding);
  --badge--height: var(--badge-square--padding);
}

@utility badge-rounded {
  --badge--radius: calc(infinity * 1px);
}

@utility badge-circle {
  --badge--padding-inline: var(--badge--padding-inline, 0.625rem);
  --badge--padding-block: var(--badge--padding-inline, 0.625rem);
  --badge--width: var(--badge--padding-block);
  --badge--height: var(--badge--padding-block);
  --badge--radius: calc(infinity * 1px);
}