@utility badge-xs {
  --badge--padding-inline: 0.5rem;
  --badge--padding-block: 0.125rem;
  --badge--text-size: 0.625rem;     /* 10px */
  --badge--line-height: 0.688rem;   /* ~11px */

  --badge-square--padding: 0.125rem;
}

@utility badge-sm {
  --badge--padding-inline: 0.625rem;
  --badge--padding-block: 0.25rem;
  --badge--text-size: 0.75rem;      /* 12px */
  --badge--line-height: 0.813rem;   /* ~13px */

  --badge-square--padding: 0.25rem;
}

@utility badge-md {
  --badge--padding-inline: 0.75rem;
  --badge--padding-block: 0.375rem;
  --badge--text-size: 0.875rem;     /* 14px */
  --badge--line-height: 0.938rem;   /* ~15px */

  --badge-square--padding: 0.375rem;
}

@utility badge-lg {
  --badge--padding-inline: 0.875rem;
  --badge--padding-block: 0.5rem;
  --badge--text-size: 1rem;         /* 16px */
  --badge--line-height: 1.063rem;   /* ~17px */

  --badge-square--padding: 0.5rem;
}

@utility badge-xl {
  --badge--padding-inline: 1rem;
  --badge--padding-block: 0.625rem;
  --badge--text-size: 1.125rem;     /* 18px */
  --badge--line-height: 1.188rem;   /* ~19px */

  --badge-square--padding: 0.625rem;
}

@utility badge-2xl {
  --badge--padding-inline: 1.125rem;
  --badge--padding-block: 0.75rem;
  --badge--text-size: 1.25rem;      /* 20px */
  --badge--line-height: 1.313rem;   /* ~21px */

  --badge-square--padding: 0.75rem;
}