@utility badge-xs {
  --badge--padding-inline: 0.5rem;
  --badge--padding-block: 0.125rem;
  --badge--font-size: 0.625rem;     /* 10px */
  --badge--line-height: 1.3;

  --badge-square--padding-block: 0.125rem;
  --badge-circle--padding-block: 0.125rem;
}

@utility badge-sm {
  --badge--padding-inline: 0.625rem;
  --badge--padding-block: 0.25rem;
  --badge--font-size: 0.75rem;      /* 12px */
  --badge--line-height: 1.3;

  --badge-square--padding-block: 0.25rem;
  --badge-circle--padding-block: 0.25rem;
}

@utility badge-md {
  --badge--padding-inline: 0.75rem;
  --badge--padding-block: 0.375rem;
  --badge--font-size: 0.875rem;     /* 14px */
  --badge--line-height: 1.3;

  --badge-square--padding-block: 0.375rem;
  --badge-circle--padding-block: 0.375rem;
}

@utility badge-lg {
  --badge--padding-inline: 0.875rem;
  --badge--padding-block: 0.5rem;
  --badge--font-size: 1rem;         /* 16px */
  --badge--line-height: 1.2;

  --badge-square--padding-block: 0.5rem;
  --badge-circle--padding-block: 0.5rem;
}

@utility badge-xl {
  --badge--padding-inline: 1rem;
  --badge--padding-block: 0.625rem;
  --badge--font-size: 1.125rem;     /* 18px */
  --badge--line-height: 1.2;

  --badge-square--padding-block: 0.625rem;
  --badge-circle--padding-block: 0.625rem;
}

@utility badge-2xl {
  --badge--padding-inline: 1.125rem;
  --badge--padding-block: 0.75rem;
  --badge--font-size: 1.25rem;      /* 20px */
  --badge--line-height: 1.2;

  --badge-square--padding-block: 0.75rem;
  --badge-circle--padding-block: 0.75rem;
}