@utility badge-dashed {
    background-color: transparent;
    color: var(--badge-variant-text);
    outline-color: var(--color-badge);
    outline-style: dashed;
    outline-width: 1px;
}

@utility badge-outline {
    background-color: transparent;
    color: var(--badge-variant-text);
    outline-color: var(--color-badge);
    outline-style: solid;
    outline-width: 1px;
}


@utility badge-soft {
  background-color: var(--color-badge-soft);
  color: var(--color-on-badge-soft);
}

@utility badge-ghost {
    background-color: transparent;
    color: var(--badge-variant-text);
}