

@utility badge-dashed {
  --badge--bg-color: transparent;
  --badge--outline-style: dashed;
  --badge--outline-width: 1px;

  --badge--color: var(--badge-dashed--color);
  --badge--outline-color: var(--badge-dashed--outline-color);

  @variant dark {
    --badge--color: var(--badge-dashed--color);
    --badge--outline-color: var(--badge-dashed--outline-color);
  }
}

@utility badge-outline {
  --badge--bg-color: transparent;
  --badge--outline-style: solid;
  --badge--outline-width: 1px;

  --badge--color: var(--badge-dashed--color);
  --badge--outline-color: var(--badge-dashed---outline-color);

  @variant dark {
    --badge--color: var(--badge-dashed--color);
    --badge--outline-color: var(--badge-dashed---outline-color);
  }
}

@utility badge-soft {
  --badge--bg-color: var(--badge-soft--bg-color);
  --badge--color: var(--badge-soft--color);

  @variant dark {
    --badge--bg-color: var(--badge-soft--bg-color);
    --badge--color: var(--badge-soft--color);
  }
}

@utility badge-ghost {
  --badge--bg-color: transparent;
  --badge--color: var(--badge-ghost--color);
}