@import "./safelist.css";

@utility para {
  text-wrap-style: pretty;
  /* color: var(--para--color); */
  font-size: var(--text-base);
}

@utility para-* {
  text-wrap-style: pretty;
  /* color: var(--para--color); */
  font-size: --value(--text-*, integer, [integer]);
}

@utility para-md {
  text-wrap-style: pretty;
  /* color: var(--para--color); */
  font-size: var(--text-base);
}