@import "./safelist.css";

@utility para {
  text-wrap-style: pretty;
  /* color: var(--para--color); */
  font-size: var(--text-base);
  line-height: 1.6;
}

@utility para-* {
  text-wrap-style: pretty;
  /* color: var(--para--color); */
  font-size: --value(--text-*, integer, [integer]);
  line-height: 1.6;
}

@utility para-md {
  text-wrap-style: pretty;
  /* color: var(--para--color); */
  font-size: var(--text-base);
  line-height: 1.6;
}