@import "./sizes.css";
@import "./styles.css";

@utility chat {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 0.75rem;
  row-gap: 0.125rem;
  padding-block: 0.25rem;

  /* sent — align right */
  :where(&.chat-end) :where(.chat-footer) {
    direction: ltr;
    text-align: end;
  }
}

@utility chat-start {
  grid-template-columns: auto 1fr;
  direction: ltr;
}

@utility chat-end {
  grid-template-columns: 1fr auto;
  direction: rtl;
  --chat-bubble-bg: var(--color-primary);
  --chat-bubble-color: var(--color-on-primary);
  --chat-bubble-radius: 1rem 0.25rem 1rem 1rem;
  :where(&) :where(.chat-bubble) {
    direction: ltr;
  }
}

@utility chat-avatar {
  grid-row: 1 / 4;
  align-self: end;
}

@utility chat-bubble {
  --chat-bubble-bg: var(--color-base-soft);
  --chat-bubble-color: var(--color-on-base);
  --chat-bubble-radius: 0.25rem 1rem 1rem 1rem;
  --chat-bubble-padding-inline: 1rem;
  --chat-bubble-padding-block: 0.625rem;

  grid-column: 2;
  position: relative;
  display: block;
  width: fit-content;
  max-width: min(20rem, 80%);
  padding-inline: var(--chat-bubble-padding-inline);
  padding-block: var(--chat-bubble-padding-block);
  background-color: var(--chat-bubble-bg);
  color: var(--chat-bubble-color);
  border-radius: var(--chat-bubble-radius);
  font-size: var(--chat-bubble-font-size, 0.9375rem);
  line-height: 1.5;
  word-break: break-word;

  :where(&) :where(p, li) {
    color: inherit;
  }
}

@utility chat-header {
  grid-column: 2;
  font-size: 0.6875rem;
  opacity: 0.5;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

@utility chat-footer {
  grid-column: 2;
  font-size: 0.6875rem;
  opacity: 0.5;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}