@utility combobox-primary {
    --color-combobox: var(--color-primary);
    --color-combobox-option-active: var(--color-primary-soft);
    --color-on-combobox-option-active: light-dark(var(--color-primary-800), var(--color-primary));
}

@utility combobox-secondary {
    --color-combobox: var(--color-secondary);
    --color-combobox-option-active: var(--color-secondary-soft);
    --color-on-combobox-option-active: light-dark(var(--color-secondary-800), var(--color-secondary));
}

@utility combobox-accent {
    --color-combobox: var(--color-accent);
    --color-combobox-option-active: var(--color-accent-soft);
    --color-on-combobox-option-active: light-dark(var(--color-accent-800), var(--color-accent));
}

@utility combobox-info {
    --color-combobox: var(--color-info);
    --color-combobox-option-active: var(--color-info-soft);
    --color-on-combobox-option-active: light-dark(var(--color-info-800), var(--color-info));
}

@utility combobox-success {
    --color-combobox: var(--color-success);
    --color-combobox-option-active: var(--color-success-soft);
    --color-on-combobox-option-active: light-dark(var(--color-success-800), var(--color-success));
}

@utility combobox-warning {
    --color-combobox: var(--color-warning);
    --color-combobox-option-active: var(--color-warning-soft);
    --color-on-combobox-option-active: light-dark(var(--color-warning-800), var(--color-warning));
}

@utility combobox-error {
    --color-combobox: var(--color-error);
    --color-combobox-option-active: var(--color-error-soft);
    --color-on-combobox-option-active: light-dark(var(--color-error-800), var(--color-error));
}
