@utility combobox-xs {
    --combobox-option-padding-inline: 0.5rem;
    --combobox-option-padding-block: 0.25rem;
    --combobox-option-font-size: 0.75rem;
    --combobox-list-padding: 0.25rem;
}

@utility combobox-sm {
    --combobox-option-padding-inline: 0.625rem;
    --combobox-option-padding-block: 0.375rem;
    --combobox-option-font-size: 0.8125rem;
    --combobox-list-padding: 0.25rem;
}

@utility combobox-md {
    --combobox-option-padding-inline: 0.75rem;
    --combobox-option-padding-block: 0.5rem;
    --combobox-option-font-size: 0.875rem;
    --combobox-list-padding: 0.375rem;
}

@utility combobox-lg {
    --combobox-option-padding-inline: 1rem;
    --combobox-option-padding-block: 0.625rem;
    --combobox-option-font-size: 1rem;
    --combobox-list-padding: 0.5rem;
}

@utility combobox-xl {
    --combobox-option-padding-inline: 1.25rem;
    --combobox-option-padding-block: 0.75rem;
    --combobox-option-font-size: 1.125rem;
    --combobox-list-padding: 0.5rem;
}
