@import "./colors.css";
@import "./safelist.css";
@import "./shapes.css";
@import "./sizes.css";
@import "./states.css";
@import "./styles.css";

@utility btn {
    --radius-btn: calc(var(--border-radius) * 2);      /* 0.5rem */
    --color-btn: var(--color-base-soft);
    --color-on-btn: var(--color-on-base);
    --color-btn-active: var(--color-base-active);

    --color-btn-soft: var(--color-base-soft);
    --color-on-btn-soft: var(--color-on-base-soft);

    --btn-variant-text: var(--color-on-base);

    background-color: var(--color-btn);
    color: var(
        --color-on-btn,
        color-contrast(
        var(--color-btn)
        vs
        white,
        black
        )
    );

    --btn--opacity: 1;
    --btn--cursor: pointer;
    --btn--pointer-events: auto;

    /* border tokens */
    --btn--border-width: 0;
    --btn--border-style: solid;
    --btn--border-color: transparent;

    border-width: var(--btn--border-width);
    border-style: var(--btn--border-style);
    border-color: var(--btn--border-color);


    &:is(:disabled, [disabled]){
        --btn--opacity: 0.5;
        --btn--cursor: not-allowed;
        --btn--pointer-events: none;
    }

    opacity: var(--btn--opacity);
    cursor: var(--btn--cursor);
    pointer-events: var(--btn--pointer-events);
    user-select: none;

    @variant hover {
        background-color: var(--color-btn-active);
        color: var(--color-on-btn);
        transition-duration: 220ms;
    }

    border-radius: var(--btn--radius, var(--radius-btn));
    display: var(--btn--display, inline-flex);

    padding-inline: var(--btn--padding-inline, 1.125rem);
    padding-block: var(--btn--padding-block, 0.625rem);
    font-size: var(--btn--font-size, 1rem);
    line-height: calc(var(--btn--font-size, 1rem) * var(--btn--line-height, 1.5));

    width: var(--btn--width);
    max-width: var(--btn--max-width);

    position: relative;
    gap: 0.375rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    vertical-align: middle;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    transition:
        background-color 180ms cubic-bezier(0.4, 0, 0.2, 1),
        color 180ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 180ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 200ms ease;

    &:is(input[type="checkbox"], input[type="radio"]) {
        appearance: none;

        @variant after {
            content: attr(aria-label);
        }

        @variant checked {
            isolation: isolate;
        }
    }

    @variant focus-visible {
        outline-width: 2px;
        outline-style: solid;
        outline-color: light-dark(
            var(--color-base-950, currentColor),
            var(--color-base-50, currentColor)
        );
        outline-offset: 3px;
        isolation: isolate;
    }
}