@utility btn-primary {
   --color-btn: var(--color-primary);
   --color-btn-active: var(--color-primary-active);
   --color-on-btn: var(--color-on-primary);

   --color-btn-soft:  var(--color-primary-soft);
   --color-on-btn-soft: var(--color-on-primary-soft);

   --btn-variant-text: light-dark(var(--color-primary-800), var(--color-primary-400));
}

@utility btn-secondary {
   --color-btn: var(--color-secondary);
   --color-btn-active: var(--color-secondary-active);
   --color-on-btn: var(--color-on-secondary);

   --color-btn-soft:  var(--color-secondary-soft);
   --color-on-btn-soft: var(--color-on-secondary-soft);

   --btn-variant-text: light-dark(var(--color-secondary-800), var(--color-secondary-400));
}

@utility btn-accent {
   --color-btn: var(--color-accent);
   --color-btn-active: var(--color-accent-active);
   --color-on-btn: var(--color-on-accent);

   --color-btn-soft:  var(--color-accent-soft);
   --color-on-btn-soft: var(--color-on-accent-soft);

   --btn-variant-text: light-dark(var(--color-accent-800), var(--color-accent-400));
}

@utility btn-info {
   --color-btn: var(--color-info);
   --color-btn-active: var(--color-info-active);
   --color-on-btn: var(--color-on-info);

   --color-btn-soft:  var(--color-info-soft);
   --color-on-btn-soft: var(--color-on-info-soft);

   --btn-variant-text: light-dark(var(--color-info-800), var(--color-info-400));
}

@utility btn-neutral {
   --color-btn: var(--color-neutral);
   --color-btn-active: var(--color-neutral-active);
   --color-on-btn: var(--color-on-neutral);

   --color-btn-soft:  var(--color-neutral-soft);
   --color-on-btn-soft: var(--color-on-neutral-soft);

   --btn-variant-text: light-dark(var(--color-neutral-800), var(--color-neutral-400));
}

@utility btn-success {
   --color-btn: var(--color-success);
   --color-btn-active: var(--color-success-active);
   --color-on-btn: var(--color-on-success);

   --color-btn-soft:  var(--color-success-soft);
   --color-on-btn-soft: var(--color-on-success-soft);

   --btn-variant-text: light-dark(var(--color-success-800), var(--color-success-400));
}

@utility btn-warning {
   --color-btn: var(--color-warning);
   --color-btn-active: var(--color-warning-active);
   --color-on-btn: var(--color-on-warning);

   --color-btn-soft:  var(--color-warning-soft);
   --color-on-btn-soft: var(--color-on-warning-soft);

   --btn-variant-text: light-dark(var(--color-warning-800), var(--color-warning-400));
}

@utility btn-error {
   --color-btn: var(--color-error);
   --color-btn-active: var(--color-error-active);
   --color-on-btn: var(--color-on-error);

   --color-btn-soft:  var(--color-error-soft);
   --color-on-btn-soft: var(--color-on-error-soft);

   --btn-variant-text: light-dark(var(--color-error-800), var(--color-error-400));
}