@utility btn-primary {
  --btn--bg-color: var(--color-primary-600);
  --btn--color: var(--color-base-0);

  --btn-soft--bg-color: var(--color-primary-100);
  --btn-soft--color: var(--color-primary-600);

  --btn-dashed--color: var(--color-primary-600);
  --btn-dashed--outline-color: var(--color-primary-500);

  --btn-outline--color: var(--color-primary-600);
  --btn-outline--outline-color: var(--color-primary-500);

  --btn-ghost--color: var(--color-primary-600);

  --btn-link--color: var(--color-primary-600);

  --btn-active--bg-color: var(--color-primary-700);
  --btn-active--color: var(--color-base-0);

  @variant hover {
    --btn--bg-color: var(--color-primary-700);
    --btn--color: var(--color-base-0);
  }

  @variant dark {
    --btn--bg-color: var(--color-primary-800);
    --btn--color: var(--color-base-0);

    --btn-soft--bg-color: --alpha(var(--color-primary-900) / 30%);
    --btn-soft--color: var(--color-primary-400);

    --btn-dashed--color: var(--color-primary-500);
    --btn-dashed--outline-color: var(--color-primary-600);

    --btn-outline--color: var(--color-primary-500);
    --btn-outline--outline-color: var(--color-primary-600);

    --btn-ghost--color: var(--color-primary-500);

    --btn-link--color: var(--color-primary-500);

    --btn-active--bg-color: var(--color-primary-700);
    --btn-active--color: var(--color-base-0);

    @variant hover {
      --btn--bg-color: var(--color-primary-700);
      --btn--color: var(--color-base-0);
    }
  }
}

@utility btn-secondary {
  --btn--bg-color: var(--color-secondary-600);
  --btn--color: var(--color-base-0);

  --btn-soft--bg-color: var(--color-secondary-100);
  --btn-soft--color: var(--color-secondary-600);

  --btn-dashed--color: var(--color-secondary-600);
  --btn-dashed--outline-color: var(--color-secondary-500);

  --btn-outline--color: var(--color-secondary-600);
  --btn-outline--outline-color: var(--color-secondary-500);

  --btn-ghost--color: var(--color-secondary-600);

  --btn-link--color: var(--color-secondary-600);

  --btn-active--bg-color: var(--color-secondary-700);
  --btn-active--color: var(--color-base-0);

  @variant hover {
    --btn--bg-color: var(--color-secondary-700);
    --btn--color: var(--color-base-0);
  }

  @variant dark {
    --btn--bg-color: var(--color-secondary-800);
    --btn--color: var(--color-base-0);

    --btn-soft--bg-color: --alpha(var(--color-secondary-900) / 30%);
    --btn-soft--color: var(--color-secondary-400);

    --btn-dashed--color: var(--color-secondary-500);
    --btn-dashed--outline-color: var(--color-secondary-600);

    --btn-outline--color: var(--color-secondary-500);
    --btn-outline--outline-color: var(--color-secondary-600);

    --btn-ghost--color: var(--color-secondary-500);

    --btn-link--color: var(--color-secondary-500);

    --btn-active--bg-color: var(--color-secondary-700);
    --btn-active--color: var(--color-base-0);

    @variant hover {
      --btn--bg-color: var(--color-secondary-700);
      --btn--color: var(--color-base-0);
    }
  }
}

@utility btn-accent {
  --btn--bg-color: var(--color-accent-600);
  --btn--color: var(--color-base-0);

  --btn-soft--bg-color: var(--color-accent-100);
  --btn-soft--color: var(--color-accent-600);

  --btn-dashed--color: var(--color-accent-600);
  --btn-dashed--outline-color: var(--color-accent-500);

  --btn-outline--color: var(--color-accent-600);
  --btn-outline--outline-color: var(--color-accent-500);

  --btn-ghost--color: var(--color-accent-600);

  --btn-link--color: var(--color-accent-600);

  --btn-active--bg-color: var(--color-accent-700);
  --btn-active--color: var(--color-base-0);

  @variant hover {
    --btn--bg-color: var(--color-accent-700);
    --btn--color: var(--color-base-0);
  }

  @variant dark {
    --btn--bg-color: var(--color-accent-800);
    --btn--color: var(--color-base-0);

    --btn-soft--bg-color: --alpha(var(--color-accent-900) / 30%);
    --btn-soft--color: var(--color-accent-400);

    --btn-dashed--color: var(--color-accent-400);
    --btn-dashed--outline-color: var(--color-accent-600);

    --btn-outline--color: var(--color-accent-400);
    --btn-outline--outline-color: var(--color-accent-600);

    --btn-ghost--color: var(--color-accent-400);

    --btn-link--color: var(--color-accent-400);

    --btn-active--bg-color: var(--color-accent-700);
    --btn-active--color: var(--color-base-0);

    @variant hover {
      --btn--bg-color: var(--color-accent-700);
      --btn--color: var(--color-base-0);
    }
  }
}

@utility btn-info {
  --btn--bg-color: var(--color-info-500);
  --btn--color: var(--color-base-900);

  --btn-soft--bg-color: var(--color-info-100);
  --btn-soft--color: var(--color-info-700);

  --btn-dashed--color: var(--color-info-700);
  --btn-dashed--outline-color: var(--color-info-500);

  --btn-outline--color: var(--color-info-700);
  --btn-outline--outline-color: var(--color-info-500);

  --btn-ghost--color: var(--color-info-700);

  --btn-link--color: var(--color-info-700);

  --btn-active--bg-color: var(--color-info-600);
  --btn-active--color: var(--color-base-950);

  @variant hover {
    --btn--bg-color: var(--color-info-600);
    --btn--color: var(--color-base-950);
  }

  @variant dark {
    --btn--bg-color: var(--color-info-600);
    --btn--color: var(--color-base-900);

    --btn-soft--bg-color: --alpha(var(--color-info-900) / 30%);
    --btn-soft--color: var(--color-info-400);

    --btn-dashed--color: var(--color-info-400);
    --btn-dashed--outline-color: var(--color-info-600);

    --btn-outline--color: var(--color-info-400);
    --btn-outline--outline-color: var(--color-info-600);

    --btn-ghost--color: var(--color-info-400);

    --btn-link--color: var(--color-info-400);

    --btn-active--bg-color: var(--color-info-500);
    --btn-active--color: var(--color-base-900);

    @variant hover {
      --btn--bg-color: var(--color-info-500);
      --btn--color: var(--color-base-900);
    }
  }
}

@utility btn-success {
  --btn--bg-color: var(--color-success-400);
  --btn--color: var(--color-base-900);

  --btn-soft--bg-color: var(--color-success-100);
  --btn-soft--color: var(--color-success-700);

  --btn-dashed--color: var(--color-success-700);
  --btn-dashed--outline-color: var(--color-success-500);

  --btn-outline--color: var(--color-success-700);
  --btn-outline--outline-color: var(--color-success-500);

  --btn-ghost--color: var(--color-success-700);

  --btn-link--color: var(--color-success-700);

  --btn-active--bg-color: var(--color-success-500);
  --btn-active--color: var(--color-base-950);

  @variant hover {
    --btn--bg-color: var(--color-success-500);
    --btn--color: var(--color-base-950);
  }

  @variant dark {
    --btn--bg-color: var(--color-success-600);
    --btn--color: var(--color-base-900);

    --btn-soft--bg-color: --alpha(var(--color-success-900) / 30%);
    --btn-soft--color: var(--color-success-400);

    --btn-dashed--color: var(--color-success-400);
    --btn-dashed--outline-color: var(--color-success-600);

    --btn-outline--color: var(--color-success-400);
    --btn-outline--outline-color: var(--color-success-600);

    --btn-ghost--color: var(--color-success-400);

    --btn-link--color: var(--color-success-400);

    --btn-active--bg-color: var(--color-success-500);
    --btn-active--color: var(--color-base-900);

    @variant hover {
      --btn--bg-color: var(--color-success-500);
      --btn--color: var(--color-base-900);
    }
  }
}

@utility btn-warning {
  --btn--bg-color: var(--color-warning-400);
  --btn--color: var(--color-base-900);

  --btn-soft--bg-color: var(--color-warning-100);
  --btn-soft--color: var(--color-warning-700);

  --btn-dashed--color: var(--color-warning-700);
  --btn-dashed--outline-color: var(--color-warning-500);

  --btn-outline--color: var(--color-warning-700);
  --btn-outline--outline-color: var(--color-warning-500);

  --btn-ghost--color: var(--color-warning-700);

  --btn-link--color: var(--color-warning-700);

  --btn-active--bg-color: var(--color-warning-500);
  --btn-active--color: var(--color-base-950);

  @variant hover {
    --btn--bg-color: var(--color-warning-500);
    --btn--color: var(--color-base-950);
  }

  @variant dark {
    --btn--bg-color: var(--color-warning-600);
    --btn--color: var(--color-base-900);

    --btn-soft--bg-color: --alpha(var(--color-warning-900) / 30%);
    --btn-soft--color: var(--color-warning-400);

    --btn-dashed--color: var(--color-warning-400);
    --btn-dashed--outline-color: var(--color-warning-600);

    --btn-outline--color: var(--color-warning-400);
    --btn-outline--outline-color: var(--color-warning-600);

    --btn-ghost--color: var(--color-warning-400);

    --btn-link--color: var(--color-warning-400);

    --btn-active--bg-color: var(--color-warning-500);
    --btn-active--color: var(--color-base-900);

    @variant hover {
      --btn--bg-color: var(--color-warning-500);
      --btn--color: var(--color-base-900);
    }
  }
}

@utility btn-error {
  --btn--bg-color: var(--color-error-600);
  --btn--color: var(--color-base-0);

  --btn-soft--bg-color: var(--color-error-100);
  --btn-soft--color: var(--color-error-600);

  --btn-dashed--color: var(--color-error-600);
  --btn-dashed--outline-color: var(--color-error-500);

  --btn-outline--color: var(--color-error-600);
  --btn-outline--outline-color: var(--color-error-500);

  --btn-ghost--color: var(--color-error-600);

  --btn-link--color: var(--color-error-600);

  --btn-active--bg-color: var(--color-error-700);
  --btn-active--color: var(--color-base-0);

  @variant hover {
    --btn--bg-color: var(--color-error-700);
    --btn--color: var(--color-base-0);
  }

  @variant dark {
    --btn--bg-color: var(--color-error-700);
    --btn--color: var(--color-base-0);

    --btn-soft--bg-color: --alpha(var(--color-error-900) / 30%);
    --btn-soft--color: var(--color-error-500);

    --btn-dashed--color: var(--color-error-500);
    --btn-dashed--outline-color: var(--color-error-600);

    --btn-outline--color: var(--color-error-500);
    --btn-outline--outline-color: var(--color-error-600);

    --btn-ghost--color: var(--color-error-500);

    --btn-link--color: var(--color-error-500);

    --btn-active--bg-color: var(--color-error-600);
    --btn-active--color: var(--color-base-0);

    @variant hover {
      --btn--bg-color: var(--color-error-600);
      --btn--color: var(--color-base-0);
    }
  }
}