@utility btn-square {
  --btn--padding-inline: var(--btn-square--padding-block, 0.625rem);
  --btn--padding-block: var(--btn-square--padding-block, 0.625rem);
}

@utility btn-rounded {
  --btn--radius: var(--radius-btn);
}

@utility btn-pill {
  --btn--radius: 9999px;
}

@utility btn-circle {
  --btn--radius: 9999px;
  --btn--padding-inline: var(--btn-circle--padding);
  --btn--padding-block: var(--btn-circle--padding);
}
