@utility btn-square {
  --btn--padding-inline: var(--btn-square--padding-block, 0.625rem);
  --btn--padding-block: var(--btn-square--padding-block, 0.625rem);
}

@utility btn-rounded {
  --btn--radius: calc(infinity * 1px);
}

@utility btn-pill {
  --btn--radius: calc(infinity * 1px);
}

@utility btn-circle {
  --btn--padding-inline: var(--btn-circle--padding-block, 0.625rem);
  --btn--padding-block: var(--btn-circle--padding-block, 0.625rem);
  --btn--radius: calc(infinity * 1px);
}