@utility btn-active {
  --btn--bg-color: var(--btn-active--bg-color);
  --btn--color: var(--btn-active--color);
  outline-style: none;
}

@utility btn-disabled {
    opacity: var(--btn--opacity);
    cursor: var(--btn--cursor);
    pointer-events: var(--btn--pointer-events);
}