@utility btn-active {
  background-color: var(--color-btn-active);
  color: var(--color-on-btn);
  outline-style: none;

  @variant hover{
    background-color: var(--color-btn-active);
  }
}

@utility btn-disabled {
    opacity: var(--btn--opacity);
    cursor: var(--btn--cursor);
    pointer-events: var(--btn--pointer-events);
}