@utility btn-soft {
  --btn--bg-color: var(--btn-soft--bg-color);
  --btn--color: var(--btn-soft--color);

  @variant dark {
    --btn--bg-color: var(--btn-soft--bg-color);
    --btn--color: var(--btn-soft--color);
  }
}

@utility btn-dashed {
  --btn--bg-color: transparent;
  --btn-outline-style: dashed;
  --btn-outline-width: 1px;

  --btn--color: var(--btn-dashed--color);
  --btn-outline-color: var(--btn-dashed--outline-color);

  @variant dark {
    --btn--color: var(--btn-dashed--color);
    --btn-outline-color: var(--btn-dashed--outline-color);
  }
}

@utility btn-outline {
  --btn--bg-color: transparent;
  --btn-outline-style: solid;
  --btn-outline-width: 1px;

  --btn--color: var(--btn-outline--color);
  --btn-outline-color: var(--btn-outline--outline-color);

  @variant dark {
    --btn--color: var(--btn-outline--color);
    --btn-outline-color: var(--btn-outline--outline-color);
  }
}

@utility btn-ghost {
  --btn--bg-color: transparent;
  --btn--color: var(--btn-ghost--color);
}

@utility btn-link {
  --btn--bg-color: transparent;
  --btn--color: var(--btn-link--color);

  @variant hover {
    --btn--bg-color: transparent;
    --btn--text-decoration: underline;
    --btn--text-underline-offset: 4px;
    --btn--color: var(--btn-link--color);
  }

  @variant dark {
    --btn-text-color: var(--btn-500);
  }
}