@utility btn-soft {
  background-color: var(--color-btn-soft);
  color: var(--color-on-btn-soft);

  @variant hover{
    background-color: var(--color-btn-active);
    color: var(--color-on-btn);
  }
}

@utility btn-dashed {
    background-color: transparent;
    color: var(--btn-variant-text);

    --btn--border-width: 1px;
    --btn--border-style: dashed;
    --btn--border-color: var(--color-btn-active);

    @variant hover {
        --btn--border-color: transparent;
    }
}

@utility btn-outline {
    background-color: transparent;
    color: var(--btn-variant-text);

    --btn--border-width: 1px;
    --btn--border-color: var(--color-btn-active);

    @variant hover {
        --btn--border-color: transparent;
    }
}

@utility btn-ghost {
    background-color: transparent;
    color: var(--btn-variant-text);

    --btn--border-width: 0;
}

@utility btn-link {
    background-color: transparent;
    color: var(--btn-variant-text);

    --btn--border-width: 0;

    @variant hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        background-color: transparent;
        color: var(--btn-variant-text);
    }
}