@import "./colors.css";
@import "./sizes.css";

@utility radial-progress {
    --radial-progress--size: var(--size, 5rem);
    --radial-progress--thickness: var(--thickness, calc(var(--radial-progress--size) * 0.1));
    --radial-progress--value: var(--value, 0);
    --radial-progress--font-size: 1rem;

    --color-radial-progress: currentColor;
    --color-radial-progress-track: var(--color-base-soft);

    width: var(--radial-progress--size);
    height: var(--radial-progress--size);
    border-radius: 9999px;
    display: inline-grid;
    place-items: center;
    position: relative;
    font-size: var(--radial-progress--font-size);
    font-weight: 600;
    color: var(--color-on-base);
    vertical-align: middle;
    flex-shrink: 0;

    background:
        radial-gradient(
            closest-side,
            var(--color-base) calc(100% - var(--radial-progress--thickness)),
            transparent calc(100% - var(--radial-progress--thickness))
        ),
        conic-gradient(
            var(--color-radial-progress) calc(var(--radial-progress--value) * 1%),
            var(--color-radial-progress-track) 0
        );
}
