@utility radial-progress-base {
    --color-radial-progress: var(--color-base-active);
}

@utility radial-progress-current {
    --color-radial-progress: currentColor;
}

@utility radial-progress-primary {
    --color-radial-progress: var(--color-primary);
}

@utility radial-progress-secondary {
    --color-radial-progress: var(--color-secondary);
}

@utility radial-progress-accent {
    --color-radial-progress: var(--color-accent);
}

@utility radial-progress-neutral {
    --color-radial-progress: var(--color-neutral);
}

@utility radial-progress-info {
    --color-radial-progress: var(--color-info);
}

@utility radial-progress-success {
    --color-radial-progress: var(--color-success);
}

@utility radial-progress-warning {
    --color-radial-progress: var(--color-warning);
}

@utility radial-progress-error {
    --color-radial-progress: var(--color-error);
}
