@utility radial-progress-xs {
    --radial-progress--size: 3rem;
    --radial-progress--thickness: 0.25rem;
    --radial-progress--font-size: 0.625rem;
}

@utility radial-progress-sm {
    --radial-progress--size: 4rem;
    --radial-progress--thickness: 0.375rem;
    --radial-progress--font-size: 0.75rem;
}

@utility radial-progress-md {
    --radial-progress--size: 5rem;
    --radial-progress--thickness: 0.5rem;
    --radial-progress--font-size: 1rem;
}

@utility radial-progress-lg {
    --radial-progress--size: 7rem;
    --radial-progress--thickness: 0.625rem;
    --radial-progress--font-size: 1.25rem;
}

@utility radial-progress-xl {
    --radial-progress--size: 9rem;
    --radial-progress--thickness: 0.75rem;
    --radial-progress--font-size: 1.5rem;
}
