@utility radial-progress-xs {
    --size: 3rem;
    --thickness: 0.25rem;
    --radial-progress--font-size: 0.625rem;
}

@utility radial-progress-sm {
    --size: 4rem;
    --thickness: 0.375rem;
    --radial-progress--font-size: 0.75rem;
}

@utility radial-progress-md {
    --size: 5rem;
    --thickness: 0.5rem;
    --radial-progress--font-size: 1rem;
}

@utility radial-progress-lg {
    --size: 7rem;
    --thickness: 0.625rem;
    --radial-progress--font-size: 1.25rem;
}

@utility radial-progress-xl {
    --size: 9rem;
    --thickness: 0.75rem;
    --radial-progress--font-size: 1.5rem;
}
