@utility countdown-xs {
    font-size: 1.5rem;
}

@utility countdown-sm {
    font-size: 2rem;
}

@utility countdown-md {
    font-size: 3rem;
}

@utility countdown-lg {
    font-size: 4.5rem;
}

@utility countdown-xl {
    font-size: 6rem;
}
