@utility countdown-xs {
    --countdown--font-size: 1.5rem;
}

@utility countdown-sm {
    --countdown--font-size: 2rem;
}

@utility countdown-md {
    --countdown--font-size: 3rem;
}

@utility countdown-lg {
    --countdown--font-size: 4.5rem;
}

@utility countdown-xl {
    --countdown--font-size: 6rem;
}
