@import "./safelist.css";
@import "./placement.css";
@import "./states.css";
@import "./sizes.css";
@import "./structure.css";

@utility menu {
  --color-menu: var(--color-base-soft);
  --color-on-menu: var(--color-on-base-soft);
  --color-menu-active: var(--color-base-active);
  --radius-menu: calc(var(--border-radius) * 4);

  display: flex;
  width: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding: 0.5rem; */
  font-size: 0.875rem;
  border-radius: var(--radius-menu);
  color: var(--color-on-base);

  :where(ul, li:not(:first-child)) {
    margin-block-start: 0.375rem;
  }

  :where(li ul) {
    position: relative;
    margin-block-start: 0rem;
    margin-inline-start: 0.1rem;
    padding-inline-start: 1.4rem;
    white-space: nowrap;
    font-size: 0.875rem;
    color: var(--color-on-base);

    @variant before {
      background-color: var(--color-on-menu);
      position: absolute;
      inset-inline-start: 0.7rem;
      inset-block-start: 0.7rem;
      inset-block-end: 0rem;
      opacity: 10%;
      width: 1px;
      content: "";
    }
  }

  :where(summary){
      margin-inline: 0.75rem;
      margin-block: 0.375rem;
  }
}