@import "./safelist.css";
@import "./placement.css";
@import "./sizes.css";
@import "./structure.css";

@utility menu {
  --color-menu: var(--color-base-soft);
  --color-on-menu: var(--color-on-base-soft);
  --color-menu-active: var(--color-base-active);
  --radius-menu: calc(var(--border-radius) * 4);

  display: flex;
  width: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem;
  font-size: 0.875rem;
  background-color: var(--color-menu);
  color: var(--color-on-menu);
  border-radius: var(--radius-menu);

  :where(li ul) {
    position: relative;
    color: var(--color-on-menu);
    margin-inline-start: 1rem;
    padding-inline-start: 0.5rem;
    white-space: nowrap;

    &:before {
      background-color: var(--color-on-menu);
      position: absolute;
      inset-inline-start: 0;
      top: 0.75rem;
      bottom: 0.75rem;
      opacity: 10%;
      width: 1px;
      content: "";
    }
  }

  :where(li:not([class*="menu-title"]) > *:not(ul, details, [class*="menu-title"], [class*="btn"])),
  :where(li:not([class*="menu-title"]) > details > summary:not([class*="menu-title"])) {
    display: grid;
    grid-auto-flow: column;
    align-content: flex-start;
    border-radius: calc(var(--radius-menu) / 2);
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    text-align: start;
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    grid-auto-columns: minmax(auto, max-content) auto max-content;
    text-wrap: balance;
    user-select: none;
  }

  :where(li > details > summary) {
    --tw-outline-style: none;
    outline-style: none;

    @media (forced-colors: active) {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  :where(li > details > summary) {
    &:after {
      justify-self: flex-end;
      display: block;
      height: 0.375rem;
      width: 0.375rem;
      rotate: -135deg;
      translate: 0 -1px;
      transition-property: rotate, translate;
      transition-duration: 0.2s;
      content: "";
      transform-origin: 50% 50%;
      box-shadow: 2px 2px inset;
      pointer-events: none;
    }
  }

  details {
    overflow: hidden;
    interpolate-size: allow-keywords;
  }

  details::details-content {
    block-size: 0;

    @media (prefers-reduced-motion: no-preference) {
      transition-behavior: allow-discrete;
      transition-property: block-size, content-visibility;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  details[open]::details-content {
    block-size: auto;
  }

  :where(li > details[open] > summary):after {
    rotate: 45deg;
    translate: 0 1px;
  }

  :where(li:not([class*="menu-title"]) > *:not(ul, details, [class*="menu-title"]),
    li:not([class*="menu-title"]) > details > summary:not([class*="menu-title"])):not([class*="menu-active"], :active, [class*="btn"]) {

    &.menu-focus,
    &:focus-visible {
      background-color: var(--color-menu);
      color: var(--color-on-menu);
      outline-style: none;
      cursor: pointer;

      @media (forced-colors: active) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }
  }

  :where(li:not([class*="menu-title"]) > *:not(ul, details, [class*="menu-title"]):not([class*="menu-active"], :active, [class*="btn"]):hover, li:not([class*="menu-title"]) > details > summary:not([class*="menu-title"]):not([class*="menu-active"], :active, [class*="btn"]):hover) {
    background-color: var(--color-menu-active);
    cursor: pointer;
    outline-style: none;

    @media (forced-colors: active) {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  :where(li:empty) {
    background-color: var(--color-menu);
    opacity: 10%;
    margin: 0.5rem 1rem;
    height: 1px;
  }

  :where(li) {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;

    [class*="badge"] {
      justify-self: flex-end;
    }

    &>*:not(ul, [class*="menu-title"], details, [class*="btn"]):active,
    &>*:not(ul, [class*="menu-title"], details, [class*="btn"])[class*="menu-active"],
    &>details>summary:active {
      outline-style: none;

      @media (forced-colors: active) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      color: var(--color-on-menu);
      background-color: var(--color-menu-active);
      background-size: auto,
      calc(var(--noise) * 100%);
      background-image: none,
      var(--fx-noise);

      &:not(&:active) {
        box-shadow: 0 2px calc(var(--depth) * 3px) -2px var(--menu-active-bg);
      }
    }

    &.menu-disabled {
      --menu--opacity: 20%;
      --menu--cursor: not-allowed;
      --menu--pointer-events: none;

      opacity: var(--menu--opacity);
      cursor: var(--menu--cursor);
      pointer-events: var(--menu--pointer-events);
    }
  }
}

/* Supports group-hover:menu-active to activate menu items on menu hover */
:where(:not(ul, details, [class*="menu-title"], [class*="btn"]))[class*="menu-active"] {
  --tw-outline-style: none;
  outline-style: none;

  @media (forced-colors: active) {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  color: var(--color-on-menu);
  background-color: var(--color-menu-active);
  background-size: auto,
  calc(var(--noise) * 100%);
  background-image: none,
  var(--fx-noise);
}

@keyframes menu {
  0% {
    opacity: 0;
  }
}