@import "./safelist.css";
@import "./placement.css";
@import "./states.css";
@import "./sizes.css";
@import "./structure.css";

@utility menu {
    --color-menu: var(--color-base-soft);
    --color-on-menu: var(--color-on-base-soft);
    --color-menu-active: var(--color-base-active);
    --radius-menu: calc(var(--border-radius) * 4);

    display: flex;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
    font-size: 0.875rem;
    border-radius: var(--radius-menu);

  :where(li) {
    border-radius: calc(var(--radius-menu) / 2);
    padding-left: 0.75rem;
    padding-block: 0.375rem;
    text-align: start;
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    text-wrap: balance;
    user-select: none;
    font-size: 0.875rem;
  }

  :where(ul, li) {
    margin-top: 0.375rem;
  }

  :where(li:not([class*="menu-title"], [class*="submenu"], li:has([class*="menu-title"]))) {
    @variant hover {
      background-color: var(--color-menu);
      color: var(--color-on-menu);
    }

    @variant focus-within  {
      background-color: var(--color-menu);
      color: var(--color-on-menu);
      outline-style: none;
      cursor: pointer;

      @media (forced-colors: active) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    :where(a, button){
      @variant focus-visible  {
        outline: 2px solid transparent;

        @media (forced-colors: active) {
          outline: 2px solid transparent;
          outline-offset: 2px;
        }
      }
    }
  }

  :where(li ul) {
    position: relative;
    margin-inline-start: 0.1rem;
    padding-inline-start: 1rem;
    white-space: nowrap;
    font-size: 0.875rem;

    @variant before {
      background-color: var(--color-on-menu);
      position: absolute;
      inset-inline-start: 0;
      top: -0.1rem;
      bottom: 0rem;
      opacity: 10%;
      width: 1px;
      content: "";
    }
  }
}