@utility menu-xs {
    :where(li:not([class*="menu-title"]) > *:not(ul, details, [class*="menu-title"])),
    :where(li:not([class*="menu-title"]) > details > summary:not([class*="menu-title"])) {
        /* padding-inline: 0.5rem; */
        padding-block: 0.25rem;
        font-size: 0.6875rem;
    }

    [class*="menu-title"] {
        /* padding-inline: 0.5rem; */
        padding-block: 0.25rem;
    }
}

@utility menu-sm {
    :where(li:not([class*="menu-title"]) > *:not(ul, details, [class*="menu-title"])),
    :where(li:not([class*="menu-title"]) > details > summary:not([class*="menu-title"])) {
        /* padding-inline: 0.625rem; */
        padding-block: 0.25rem;
        font-size: 0.75rem;
    }

    [class*="menu-title"] {
        /* padding-inline: 0.75rem; */
        padding-block: 0.5rem;
    }
}

@utility menu-md {
    :where(li:not([class*="menu-title"]) > *:not(ul, details, [class*="menu-title"])),
    :where(li:not([class*="menu-title"]) > details > summary:not([class*="menu-title"])) {
        /* padding-inline: 0.75rem; */
        padding-block: 0.375rem;
        font-size: 0.875rem;
    }

    [class*="menu-title"] {
        /* padding-inline: 0.75rem; */
        padding-block: 0.5rem;
    }
}

@utility menu-lg {
    :where(li:not([class*="menu-title"]) > *:not(ul, details, [class*="menu-title"])),
    :where(li:not([class*="menu-title"]) > details > summary:not([class*="menu-title"])) {
        /* padding-inline: 1rem; */
        padding-block: 0.375rem;
        font-size: 1.125rem;
    }

    [class*="menu-title"] {
        /* padding-inline: 1.5rem; */
        padding-block: 0.75rem;
    }
}

@utility menu-xl {
    :where(li:not([class*="menu-title"]) > *:not(ul, details, [class*="menu-title"])),
    :where(li:not([class*="menu-title"]) > details > summary:not([class*="menu-title"])) {
        /* padding-inline: 1.25rem; */
        padding-block: 0.375rem;
        font-size: 1.375rem;
    }

    [class*="menu-title"] {
        /* padding-inline: 1.5rem; */
        padding-block: 0.75rem;
    }
}