@utility menu-disabled {
    --menu--opacity: 20%;
    --menu--cursor: not-allowed;
    --menu--pointer-events: none;

    opacity: var(--menu--opacity);
    cursor: var(--menu--cursor);
    pointer-events: var(--menu--pointer-events);
}

@utility menu-active {
  --tw-outline-style: none;
  outline-style: none;

  @media (forced-colors: active) {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  color: var(--color-on-menu);
  background-color: var(--color-menu-active);
}