@utility menu-title {
    color: light-dark(var(--color-base-900), var(--color-base-100));
    /* padding-inline: 0.75rem; */
    padding-block: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
}

@utility submenu {
    font-size: 0.875rem;
}