@utility menu-title {
    color: light-dark(var(--color-base-900), var(--color-base-100));
    padding-inline: 0.75rem;
    padding-block: var(--menu-title--padding-block, 0.375rem);
    font-size: 0.875rem;
    font-weight: 600;
}

@utility menu-item {
    color: var(--color-on-base);
    border-radius: calc(var(--radius-menu) / 2);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    text-align: start;
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    text-wrap: balance;
    user-select: none;
    font-size: 0.875rem;
    gap: 0.5rem;
    display: grid;
    grid-auto-columns: minmax(auto, max-content) auto max-content;
    grid-auto-flow: column;
    align-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-inline-end: var(--menu-x--padding-inline-end, 0);

    @variant hover {
      background-color: var(--color-menu);
      color: var(--color-on-menu);
    }

    @variant focus-within {
      background-color: var(--color-menu);
      color: var(--color-on-menu);
      outline-style: none;
      cursor: pointer;

      @media (forced-colors: active) {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
    }

    :where(a, button) {
      @variant focus-visible {
        outline: 2px solid transparent;

        @media (forced-colors: active) {
          outline: 2px solid transparent;
          outline-offset: 2px;
        }
      }
    }
}