@utility menu-title {
    color: light-dark(var(--color-base-900), var(--color-base-100));
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
}

@utility menu-item {
    color: var(--color-on-base);
    border-radius: calc(var(--radius-menu) / 2);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    text-align: start;
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    text-wrap: balance;
    user-select: none;
    font-size: 0.875rem;
    gap: 0.5rem;
    display: grid;
    grid-auto-columns: minmax(auto, max-content) auto max-content;
    grid-auto-flow: column;
    align-content: flex-start;
    align-items: center;
    cursor: pointer;

    &:has([class*="accordion"]) {
        padding-inline-end: 0rem;
    }
}