@utility textarea-primary {
    --color-textarea: var(--color-primary);
    --color-on-textarea: var(--color-on-primary);

    --color-textarea-soft: var(--color-primary-soft);
    --color-on-textarea-soft: var(--color-on-primary-soft);

    --color-textarea-active: var(--color-primary-active);
    --color-on-textarea-active: var(--color-on-primary);

    @variant focus-or-within {
        border-color: var(--color-primary-400);
    }
}

@utility textarea-secondary {
    --color-textarea: var(--color-secondary);
    --color-on-textarea: var(--color-on-secondary);

    --color-textarea-soft: var(--color-secondary-soft);
    --color-on-textarea-soft: var(--color-on-secondary-soft);

    --color-textarea-active: var(--color-secondary-active);
    --color-on-textarea-active: var(--color-on-secondary);

    @variant focus-or-within {
        border-color: var(--color-secondary-400);
    }
}

@utility textarea-accent {
    --color-textarea: var(--color-accent);
    --color-on-textarea: var(--color-on-accent);

    --color-textarea-soft: var(--color-accent-soft);
    --color-on-textarea-soft: var(--color-on-accent-soft);

    --color-textarea-active: var(--color-accent-active);
    --color-on-textarea-active: var(--color-on-accent);

    @variant focus-or-within {
        border-color: var(--color-accent-400);
    }
}

@utility textarea-neutral {
    --color-textarea: var(--color-neutral);
    --color-on-textarea: var(--color-on-neutral);

    --color-textarea-soft: var(--color-neutral-soft);
    --color-on-textarea-soft: var(--color-on-neutral-soft);

    --color-textarea-active: var(--color-neutral-active);
    --color-on-textarea-active: var(--color-on-neutral);

    @variant focus-or-within {
        border-color: var(--color-neutral-400);
    }
}

@utility textarea-info {
    --color-textarea: var(--color-info);
    --color-on-textarea: var(--color-on-info);

    --color-textarea-soft: var(--color-info-soft);
    --color-on-textarea-soft: var(--color-on-info-soft);

    --color-textarea-active: var(--color-info-active);
    --color-on-textarea-active: var(--color-on-info);

    @variant focus-or-within {
        border-color: var(--color-info-400);
    }
}

@utility textarea-success {
    --color-textarea: var(--color-success);
    --color-on-textarea: var(--color-on-success);

    --color-textarea-soft: var(--color-success-soft);
    --color-on-textarea-soft: var(--color-on-success-soft);

    --color-textarea-active: var(--color-success-active);
    --color-on-textarea-active: var(--color-on-success);

    @variant focus-or-within {
        border-color: var(--color-success-400);
    }
}

@utility textarea-warning {
    --color-textarea: var(--color-warning);
    --color-on-textarea: var(--color-on-warning);

    --color-textarea-soft: var(--color-warning-soft);
    --color-on-textarea-soft: var(--color-on-warning-soft);

    --color-textarea-active: var(--color-warning-active);
    --color-on-textarea-active: var(--color-on-warning);

    @variant focus-or-within {
        border-color: var(--color-warning-400);
    }
}

@utility textarea-error {
    --color-textarea: var(--color-error);
    --color-on-textarea: var(--color-on-error);

    --color-textarea-soft: var(--color-error-soft);
    --color-on-textarea-soft: var(--color-on-error-soft);

    --color-textarea-active: var(--color-error-active);
    --color-on-textarea-active: var(--color-on-error);

    @variant focus-or-within {
        border-color: var(--color-error-400);
    }
}
