@utility textarea-xs {
    --textarea--inline: 0.475rem;
    --textarea--block: 0.375rem;
    --textarea--font-size: 0.75rem;
    --textarea--min-height: 3rem;
}

@utility textarea-sm {
    --textarea--inline: 0.6rem;
    --textarea--block: 0.5rem;
    --textarea--font-size: 0.875rem;
    --textarea--min-height: 4rem;
}

@utility textarea-md {
    --textarea--inline: 0.75rem;
    --textarea--block: 0.625rem;
    --textarea--font-size: 1rem;
    --textarea--min-height: 5rem;
}

@utility textarea-lg {
    --textarea--inline: 0.9rem;
    --textarea--block: 0.75rem;
    --textarea--font-size: 1rem;
    --textarea--min-height: 6.5rem;
}

@utility textarea-xl {
    --textarea--inline: 1rem;
    --textarea--block: 0.875rem;
    --textarea--font-size: 1rem;
    --textarea--min-height: 8rem;
}

@utility textarea-2xl {
    --textarea--inline: 1.25rem;
    --textarea--block: 1rem;
    --textarea--font-size: 1.025rem;
    --textarea--min-height: 10rem;
}
