@utility textarea-soft {
    background-color: var(--color-textarea-soft);
    border-color: transparent;
    color: var(--color-on-textarea-soft);
}

@utility textarea-ghost {
    border-color: transparent;
    background-color: transparent;

    @variant focus-or-within {
        border-color: var(--color-textarea-active);
    }
}

@utility textarea-dashed {
    border-style: dashed;
}
