/* Style variants for the tabs container */
@utility tabs-box {
  background-color: var(--color-base-soft);
  border-radius: calc(var(--border-radius) * 2);
  padding: 0.25rem;
  border-block-end: none;
  gap: 0.25rem;

  & > .tab {
    border-block-end: none;
    border-radius: calc(var(--border-radius) * 1.5);
    margin-block-end: 0;
  }

  & > .tab-active {
    background-color: var(--color-base);
    color: var(--color-on-base);
    box-shadow: 0 1px 3px --alpha(oklch(0% 0 0) / 10%);
  }
}

@utility tabs-lifted {
  border-block-end: none;
  gap: 0;

  & > .tab {
    border: 1px solid transparent;
    border-block-end: none;
    border-radius: calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) 0 0;
    margin-block-end: 0;
  }

  & > .tab-active {
    color: var(--color-on-base);
    border-color: var(--color-base-active);
    background-color: var(--color-base);
  }
}
