@import "./structure.css";
@import "./safelist.css";

@utility hero {
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;

    & > * {
      grid-column-start: 1;
      grid-row-start: 1;
    }
}

@utility hero-overlay {
    background-color: color-mix(in oklab, var(--color-neutral-500) 50%, transparent);
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
}