@import "./safelist.css";
@import "./sizes.css";

@utility container {
  width: var(--container--width);
  max-width: var(--container--max-width);
  box-sizing: var(--container--box-sizing);

  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }
}