@utility container-xs {
  --container--max-width: 320px;
}
@utility container-sm {
  --container--max-width: 640px;
}
@utility container-md {
  --container--max-width: 768px;
}

@utility container-lg {
  --container--max-width: 1024px;
}

@utility container-xl {
  --container--max-width: 1280px;
}

@utility container-2xl {
  --container--max-width: 1536px;
}

@utility container-full {
  --container--width: 100%;
  --container--max-width: 100%;
  --container--box-sizing: border-box;
}