/* Horizontal placement */
@utility toast-start {
  inset-inline-end: auto;
  inset-inline-start: 0;
}

@utility toast-center {
  inset-inline-end: auto;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}

@utility toast-end {
  inset-inline-start: auto;
  inset-inline-end: 0;
}

/* Vertical placement */
@utility toast-top {
  inset-block-end: auto;
  inset-block-start: 0;
}

@utility toast-middle {
  inset-block-end: auto;
  inset-block-start: 50%;
  transform: translateY(-50%);
}

@utility toast-bottom {
  inset-block-start: auto;
  inset-block-end: 0;
}
