@utility heading-* {
  font-weight: bold;
  text-wrap-style: balance;
  /* color: var(--heading--color); */
  font-size: --value(--text-*, integer, [integer]);
}

@utility heading-md {
  font-weight: bold;
  text-wrap-style: balance;
  /* color: var(--heading--color); */
  font-size: var(--text-base);
}