@utility heading {
  --heading-size: 1rem /* 16px */;
  color: var(--color-on-base);
  font-weight: bold;
  text-wrap-style: balance;
  font-size: var(--heading-size);
  line-height: 1.15;
}

@utility heading-xs {
  @copy heading;
  --heading-size: 0.75rem /* 12px */;
}

@utility heading-sm {
  @copy heading;
  --heading-size: 0.875rem /* 14px */;
}

@utility heading-md {
  @copy heading;
  --heading-size: 1rem /* 16px */;
}

@utility heading-lg {
  @copy heading;
  --heading-size: 1.125rem /* 18px */;
}

@utility heading-xl {
  @copy heading;
  --heading-size: 1.25rem /* 20px */;
}

@utility heading-2xl {
  @copy heading;
  --heading-size: 1.5rem /* 24px */;
}

@utility heading-3xl {
  @copy heading;
  --heading-size: 1.875rem /* 30px */;
}

@utility heading-4xl {
  @copy heading;
  --heading-size: 2.25rem /* 36px */;
}

@utility heading-5xl {
  @copy heading;
  --heading-size: 3rem /* 48px */;
}

@utility heading-6xl {
  @copy heading;
  --heading-size: 3.75rem /* 60px */;
}

@utility heading-7xl {
  @copy heading;
  --heading-size: 4.5rem /* 72px */;
}

@utility heading-8xl {
  @copy heading;
  --heading-size: 6rem /* 96px */;
}

@utility heading-9xl {
  @copy heading;
  --heading-size: 8rem /* 128px */;
}
