@utility heading {
  color: var(--color-on-base);
  font-weight: bold;
  text-wrap-style: balance;
  font-size: var(--text-base);
  line-height: 1.15;
}

@utility heading-xs {
  @apply heading;
  font-size: var(--text-xs);
}

@utility heading-sm {
  @apply heading;
  font-size: var(--text-sm);
}

@utility heading-md {
  @apply heading;
  font-size: var(--text-base);
}

@utility heading-lg {
  @apply heading;
  font-size: var(--text-lg);
}

@utility heading-xl {
  @apply heading;
  font-size: var(--text-xl);
}

@utility heading-2xl {
  @apply heading;
  font-size: var(--text-2xl);
}

@utility heading-3xl {
  @apply heading;
  font-size: var(--text-3xl);
}

@utility heading-4xl {
  @apply heading;
  font-size: var(--text-4xl);
}

@utility heading-5xl {
  @apply heading;
  font-size: var(--text-5xl);
}

@utility heading-6xl {
  @apply heading;
  font-size: var(--text-6xl);
}

@utility heading-7xl {
  @apply heading;
  font-size: var(--text-7xl);
}

@utility heading-8xl {
  @apply heading;
  font-size: var(--text-8xl);
}

@utility heading-9xl {
  @apply heading;
  font-size: var(--text-9xl);
}
