@utility para {
  text-wrap-style: pretty;
  font-size: var(--text-base);
  line-height: 1.6;
}

@utility para-xs {
  @apply para;
  font-size: var(--text-xs);
}

@utility para-sm {
  @apply para;
  font-size: var(--text-sm);
}


@utility para-md {
  @apply para;
  font-size: var(--text-base);
}

@utility para-lg {
  @apply para;
  font-size: var(--text-lg);
}

@utility para-xl {
  @apply para;
  font-size: var(--text-xl);
}

@utility para-2xl {
  @apply para;
  font-size: var(--text-2xl);
}

@utility para-3xl {
  @apply para;
  font-size: var(--text-3xl);
}

@utility para-4xl {
  @apply para;
  font-size: var(--text-4xl);
}

@utility para-5xl {
  @apply para;
  font-size: var(--text-5xl);
}

@utility para-6xl {
  @apply para;
  font-size: var(--text-6xl);
}

@utility para-7xl {
  @apply para;
  font-size: var(--text-7xl);
}

@utility para-8xl {
  @apply para;
  font-size: var(--text-8xl);
}

@utility para-9xl {
  @apply para;
  font-size: var(--text-9xl);
}

