@utility core-para {
  text-wrap-style: pretty;
  color: light-dark(var(--base-700), var(--base-300));
}

@utility para-* {
  @reference core-para;
  font-size: --value(--text- *);
}

@utility para {
  @reference core-para;
  font-size: var(--text-base);
}

@utility para-md {
  @reference core-para;
  font-size: var(--text-base);
}
