@utility core-para {
    text-wrap-style: pretty;
    color:light-dark(
        var(--core-700),
        var(--core-300)
    );
}

@utility para-* {
    @apply core-para;
    font-size: --value(--text-*);
}

@utility para {
    @apply core-para;
    font-size: var(--text-base);
}

@utility para-md {
    @apply core-para;
    font-size: var(--text-base);
}