@utility surface-0 {
    background-color: light-dark(var(--core-0), var(--core-1000));
    color: light-dark(var(--core-1000), var(--core-0));
}

@utility surface-50 {
    background-color: light-dark(var(--core-50), var(--core-950));
    color: light-dark(var(--core-950), var(--core-50));
}

@utility surface-100 {
    background-color: light-dark(var(--core-100), var(--core-900));
    color: light-dark(var(--core-900), var(--core-100));
}

@utility surface-200 {
    background-color: light-dark(var(--core-200), var(--core-800));
    color: light-dark(var(--core-800), var(--core-200));
}

@utility surface-300 {
    background-color: light-dark(var(--core-300), var(--core-700));
    color: light-dark(var(--core-700), var(--core-300));
}

@utility surface-400 {
    background-color: light-dark(var(--core-400), var(--core-600));
    color: light-dark(var(--core-600), var(--core-400));
}

@utility surface-500 {
    background-color: light-dark(var(--core-500), var(--core-500));
    color: light-dark(var(--core-500), var(--core-500));
}

@utility surface-600 {
    background-color: light-dark(var(--core-600), var(--core-400));
    color: light-dark(var(--core-400), var(--core-600));
}

@utility surface-700 {
    background-color: light-dark(var(--core-700), var(--core-300));
    color: light-dark(var(--core-300), var(--core-700));
}

@utility surface-800 {
    background-color: light-dark(var(--core-800), var(--core-200));
    color: light-dark(var(--core-200), var(--core-800));
}

@utility surface-900 {
    background-color: light-dark(var(--core-900), var(--core-100));
    color: light-dark(var(--core-100), var(--core-900));
}

@utility surface-950 {
    background-color: light-dark(var(--core-950), var(--core-50));
    color: light-dark(var(--core-50), var(--core-950));
}

@utility surface-1000 {
    background-color: light-dark(var(--core-1000), var(--core-0));
    color: light-dark(var(--core-0), var(--core-1000));
}
