@utility surface-0 {
  background-color: light-dark(var(--base-0), var(--base-1000));
  color: light-dark(var(--base-1000), var(--base-0));
}

@utility surface-50 {
  background-color: light-dark(var(--base-50), var(--base-950));
  color: light-dark(var(--base-950), var(--base-50));
}

@utility surface-100 {
  background-color: light-dark(var(--base-100), var(--base-900));
  color: light-dark(var(--base-900), var(--base-100));
}

@utility surface-200 {
  background-color: light-dark(var(--base-200), var(--base-800));
  color: light-dark(var(--base-800), var(--base-200));
}

@utility surface-300 {
  background-color: light-dark(var(--base-300), var(--base-700));
  color: light-dark(var(--base-700), var(--base-300));
}

@utility surface-400 {
  background-color: light-dark(var(--base-400), var(--base-600));
  color: light-dark(var(--base-600), var(--base-400));
}

@utility surface-500 {
  background-color: light-dark(var(--base-500), var(--base-500));
  color: light-dark(var(--base-500), var(--base-500));
}

@utility surface-600 {
  background-color: light-dark(var(--base-600), var(--base-400));
  color: light-dark(var(--base-400), var(--base-600));
}

@utility surface-700 {
  background-color: light-dark(var(--base-700), var(--base-300));
  color: light-dark(var(--base-300), var(--base-700));
}

@utility surface-800 {
  background-color: light-dark(var(--base-800), var(--base-200));
  color: light-dark(var(--base-200), var(--base-800));
}

@utility surface-900 {
  background-color: light-dark(var(--base-900), var(--base-100));
  color: light-dark(var(--base-100), var(--base-900));
}

@utility surface-950 {
  background-color: light-dark(var(--base-950), var(--base-50));
  color: light-dark(var(--base-50), var(--base-950));
}

@utility surface-1000 {
  background-color: light-dark(var(--base-1000), var(--base-0));
  color: light-dark(var(--base-0), var(--base-1000));
}
