@utility progress-primary {
    --color-progress: var(--color-primary);
    --color-on-progress: var(--color-on-primary);
}

@utility progress-secondary {
   --color-progress: var(--color-secondary);
}

@utility progress-accent {
   --color-progress: var(--color-accent);
}

@utility progress-info {
   --color-progress: var(--color-info);
}

@utility progress-neutral {
   --color-progress: var(--color-neutral);
}

@utility progress-success {
   --color-progress: var(--color-success);
}

@utility progress-warning {
   --color-progress: var(--color-warning);
}

@utility progress-error {
   --color-progress: var(--color-error);
}