@import "../../base/preflight.css" layer(theme);
@import "./light.css" layer(theme);
@import "./dark.css" layer(theme);

@custom-variant theme-dark (&:where([data-theme="dark"] *));
@custom-variant theme-light (&:where([data-theme="light"] *));

:root {
    color-scheme: var(--color-scheme);
}

@theme inline {

    --color-backdrop: var(--backdrop-color);

    --color-surface: var(--surface-back-color);
    --color-surface-fore: var(--surface-fore-color);

    --color-base: var(--base-back-color);
    --color-base-fore: var(--base-fore-color);

    --color-primary: var(--primary-back-color);
    --color-primary-fore: var(--primary-fore-color);

    --color-secondary: var(--secondary-back-color);
    --color-secondary-fore: var(--secondary-fore-color);

    --color-accent: var(--accent-back-color);
    --color-accent-fore: var(--accent-fore-color);

    --color-info: var(--info-back-color);
    --color-info-fore: var(--info-fore-color);

    --color-success: var(--success-back-color);
    --color-success-fore: var(--success-fore-color);

    --color-warning: var(--warning-back-color);
    --color-warning-fore: var(--warning-fore-color);

    --color-error: var(--error-back-color);
    --color-error-fore: var(--error-fore-color);
}