@layer theme {
    :root, [data-theme="snowberry"] {
        --color-scheme: light;

        --radius-btn: 0.5rem;
        --radius-checkbox: 0.375rem;

        --core-50: #ffffff;
        --core-100: #f2f2f2;
        --core-200: #d9d9d9;
        --core-300: #bfbfbf;
        --core-400: #a6a6a6;
        --core-500: #8c8c8c;
        --core-600: #737373;
        --core-700: #595959;
        --core-800: #404040;
        --core-900: #262626;
        --core-950: #1a1a1a;

        --default-50: #fafaf9;
        --default-100: #f5f5f4;
        --default-200: #e7e5e4;
        --default-300: #d6d3d1;
        --default-400: #a8a29e;
        --default-500: #78716c;
        --default-600: #57534e;
        --default-700: #44403c;
        --default-800: #292524;
        --default-900: #1c1917;
        --default-950: #0c0a09;

        --primary-50: oklch(94.6% 0.027 285.88);
        --primary-100: oklch(87.8% 0.06 285.09);
        --primary-200: oklch(75.59% 0.128 283.91);
        --primary-300: oklch(65.14% 0.187 280.58);
        --primary-400: oklch(54.76% 0.249 275.15);
        --primary-500: oklch(47.24% 0.294 267.83);
        --primary-600: oklch(41.49% 0.284 264.67);
        --primary-700: oklch(33.75% 0.23 264.88);
        --primary-800: oklch(24.84% 0.167 265.32);
        --primary-900: oklch(15.73% 0.102 267.34);
        --primary-950: oklch(10.87% 0.072 268.84);
        
        --secondary-50: #fdf4ff;
        --secondary-100: #fae8ff;
        --secondary-200: #f5d0fe;
        --secondary-300: #f0abfc;
        --secondary-400: #e879f9;
        --secondary-500: #d946ef;
        --secondary-600: #c026d3;
        --secondary-700: #a21caf;
        --secondary-800: #86198f;
        --secondary-900: #701a75;
        --secondary-950: #4a044e;

        --accent-50: #fafafa;
        --accent-100: #f4f4f5;
        --accent-200: #e4e4e7;
        --accent-300: #d4d4d8;
        --accent-400: #a1a1aa;
        --accent-500: #71717a;
        --accent-600: #52525b;
        --accent-700: #3f3f46;
        --accent-800: #27272a;
        --accent-900: #18181b;
        --accent-950: #09090b;
        
        --info-50: #f0fdfa;
        --info-100: #ccfbf1;
        --info-200: #99f6e4;
        --info-300: #5eead4;
        --info-400: #2dd4bf;
        --info-500: #14b8a6;
        --info-600: #0d9488;
        --info-700: #0f766e;
        --info-800: #115e59;
        --info-900: #134e4a;
        --info-950: #042f2e;
        
        --success-50: #eefcf2;
        --success-100: #ddf8e4;
        --success-200: #bbf1ca;
        --success-300: #95eaab;
        --success-400: #73e391;
        --success-500: #51dc76;
        --success-600: #2dd55b;
        --success-700: #20a243;
        --success-800: #156a2c;
        --success-900: #0b3717;
        --success-950: #051a0b;
        
        
        --warning-50: #fffbeb;
        --warning-100: #fffbeb;
        --warning-200: #fffbeb;
        --warning-300: #fcd34d;
        --warning-400: #fbbf24;
        --warning-500: #f59e0b;
        --warning-600: #d97706;
        --warning-700: #b45309;
        --warning-800: #92400e;
        --warning-900: #78350f;
        --warning-950: #451a03;
        
        --error-50: #fef2f2;
        --error-100: #fee2e2;
        --error-200: #fecaca;
        --error-300: #fca5a5;
        --error-400: #f87171;
        --error-500: #ef4444;
        --error-600: #dc2626;
        --error-700: #b91c1c;
        --error-800: #991b1b;
        --error-900: #7f1d1d;
        --error-950: #450a0a;
    }
}