@import "./safelist.css";
@import "./states.css";
@import "./structure.css";

@utility breadcrumb {
  padding-block: 0.5rem;
  max-width: 100%;
  overflow-x: auto;
  font-size: 0.875rem;
  color: light-dark(var(--color-base-900), var(--color-base-200));
}