@utility breadcrumb-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.125rem;

  @variant hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    cursor: pointer;
  }

  @variant focus {
    outline-style: none;
    @variant forced-colors {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  @variant focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
}

@utility breadcrumb-current {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.125rem;
}