@utility breadcrumb-link {
  color: var(--color-body);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.125rem;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 200ms ease-out, color 200ms ease-out;

  @variant hover {
    background-size: 100% 1px;
    cursor: pointer;
  }

  @variant focus {
    outline-style: none;
    @variant forced-colors {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }

  @variant focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
}

@utility breadcrumb-current {
  color: currentColor;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.125rem;
}