@utility breadcrumb-list {
  display: flex;
  min-height: min-content;
  align-items: center;
  white-space: nowrap;
}

@utility breadcrumb-item {
  display: flex;
  align-items: center;

  @variant before {
    content: "";
    margin-inline-end: 0.75rem;
    margin-inline-start: 0.5rem;
    height: 0.375rem;
    width: 0.375rem;
    display: block;
    transform: rotate(45deg);
    transition: transform 300ms;
    border-block-start: 1px solid;
    border-inline-end: 1px solid;
    background-color: oklch(0 0 0 / 0);
    color: var(--color-on-base);
  }

  @variant first {
    @variant before {
      content: none;
    }
  }

  &:has([class*="breadcrumb-separator"]) {
    @variant before {
      content: none;
    }
  }

  @variant rtl {
    @variant before {
      transform: rotate(-135deg);
    }
  }

  &:has([aria-current="page"]) {
    color: var(--color-on-base);
  }
}

@utility breadcrumb-separator {
  display: flex;
  align-items: center;
  margin-inline: 0.5rem;
  color: var(--color-on-base);
}