@utility select-xs {
    --select--inline: 0.475rem;
    --select--block: 0.375rem;
    --select--font-size: 0.75rem;
}

@utility select-sm {
    --select--inline: 0.6rem;
    --select--block: 0.5rem;
    --select--font-size: 0.875rem;
}

@utility select-md {
    --select--inline: 0.75rem;
    --select--block: 0.625rem;
    --select--font-size: 1rem;
}

@utility select-lg {
    --select--inline: 0.9rem;
    --select--block: 0.75rem;
    --select--font-size: 1rem;
}

@utility select-xl {
    --select--inline: 1rem;
    --select--block: 0.875rem;
    --select--font-size: 1rem;
}

@utility select-2xl {
    --select--inline: 1.25rem;
    --select--block: 1rem;
    --select--font-size: 1.025rem;
}
