@utility select-soft {
    background-color: var(--color-select-soft, var(--color-base-soft));
    border-color: transparent;
}

@utility select-ghost {
    border-color: transparent;
    background-color: transparent;

    @variant focus-or-within {
        border-color: var(--color-select-active);
    }
}

@utility select-dashed {
    border-style: dashed;
}
