@import "./safelist.css";

@utility surface {
    background-color: var(--color-base);
    color: var(--color-on-base);
}

@utility surface-1 {
  background-color: color-mix(in oklch, var(--color-base) 90%, var(--color-on-base) 10%);
  color: var(--color-on-base);
}

@utility surface-2 {
  background-color: color-mix(in oklch, var(--color-base) 80%, var(--color-on-base) 20%);
  color: var(--color-on-base);
}

@utility surface-3 {
  background-color: color-mix(in oklch, var(--color-base) 70%, var(--color-on-base) 30%);
  color: var(--color-on-base);
}

@utility surface-4 {
  background-color: color-mix(in oklch, var(--color-base) 60%, var(--color-on-base) 40%);
  color: var(--color-on-base);
}

@utility surface-5 {
  background-color: color-mix(in oklch, var(--color-base) 50%, var(--color-on-base) 50%);
  color: var(--color-on-base);
}