/* Shape variants */
@utility skeleton-circle {
  border-radius: 9999px;
  aspect-ratio: 1 / 1;
}

@utility skeleton-text {
  background-image: linear-gradient(
    105deg,
    color-mix(in oklch, var(--color-on-base) 20%, transparent) 0% 40%,
    var(--color-on-base) 50%,
    color-mix(in oklch, var(--color-on-base) 20%, transparent) 60% 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
