@import "./placement.css";

@utility indicator {
    position: relative;
    display: inline-flex;
    width: fit-content;
}

@utility indicator-item {
    /* Default: top-end */
    position: absolute;
    z-index: 10;
    inset-block-start: 0;
    inset-inline-end: 0;
    transform: translate(var(--indicator-tx, 50%), var(--indicator-ty, -50%));
}
