/* Horizontal position modifiers */
@utility indicator-start {
    .indicator-item {
        inset-inline-end: auto;
        inset-inline-start: 0;
        --indicator-tx: -50%;
    }
}

@utility indicator-end {
    .indicator-item {
        inset-inline-start: auto;
        inset-inline-end: 0;
        --indicator-tx: 50%;
    }
}

@utility indicator-center {
    .indicator-item {
        inset-inline-start: 50%;
        inset-inline-end: auto;
        --indicator-tx: -50%;
    }
}

/* Vertical position modifiers */
@utility indicator-top {
    .indicator-item {
        inset-block-end: auto;
        inset-block-start: 0;
        --indicator-ty: -50%;
    }
}

@utility indicator-middle {
    .indicator-item {
        inset-block-end: auto;
        inset-block-start: 50%;
        --indicator-ty: -50%;
    }
}

@utility indicator-bottom {
    .indicator-item {
        inset-block-start: auto;
        inset-block-end: 0;
        --indicator-ty: 50%;
    }
}
