@import "./safelist.css";
@import "./sizes.css";
@import "./structure.css";
@import "./styles.css";
@import "./colors.css";

@utility card {
  --radius-card: calc(var(--border-radius) * 4);     /* 1rem */
  --card--border-width: 1px;
  --color-card: var(--color-base);
  
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-card);
  background-color: var(--color-card);

  :where(figure:first-child) {
    overflow: hidden;
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
    border-end-start-radius: unset;
    border-end-end-radius: unset;
  }

  :where(figure:last-child) {
    overflow: hidden;
    border-start-start-radius: unset;
    border-start-end-radius: unset;
    border-end-start-radius: inherit;
    border-end-end-radius: inherit;
  }
}