@import "./safelist.css";
@import "./sizes.css";
@import "./structure.css";
@import "./styles.css";

@utility card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-card);
  overflow: hidden;
  background-color: var(--color-base-0);

  @variant dark {
    background-color: var(--color-base-1000);
  }

  :where(figure:first-child) {
    overflow: hidden;
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
    border-end-start-radius: unset;
    border-end-end-radius: unset;
  }

  :where(figure:last-child) {
    overflow: hidden;
    border-start-start-radius: unset;
    border-start-end-radius: unset;
    border-end-start-radius: inherit;
    border-end-end-radius: inherit;
  }
}