@utility card-primary {
   --color-card: var(--color-primary);
   --color-on-card: var(--color-on-primary);
}

@utility card-secondary {
   --color-card: var(--color-secondary);
   --color-on-card: var(--color-on-secondary);
}

@utility card-accent {
   --color-card: var(--color-accent);
   --color-on-card: var(--color-on-accent);
}

@utility card-info {
   --color-card: var(--color-info);
   --color-on-card: var(--color-on-info);
}

@utility card-neutral {
   --color-card: var(--color-neutral);
   --color-on-card: var(--color-on-neutral);
}

@utility card-success {
   --color-card: var(--color-success);
   --color-on-card: var(--color-on-success);
}

@utility card-warning {
   --color-card: var(--color-warning);
   --color-on-card: var(--color-on-warning);
}

@utility card-error {
   --color-card: var(--color-error);
   --color-on-card: var(--color-on-error);
}