@utility card-primary {
   --color-card: var(--color-primary);
}

@utility card-secondary {
   --color-card: var(--color-secondary);
}

@utility card-accent {
   --color-card: var(--color-accent);
}

@utility card-info {
   --color-card: var(--color-info);
}

@utility card-neutral {
   --color-card: var(--color-neutral);
}

@utility card-success {
   --color-card: var(--color-success);
}

@utility card-warning {
   --color-card: var(--color-warning);
}

@utility card-error {
   --color-card: var(--color-error);
}