@utility card-xs {
  .card-content {
    --card-content-padding: 0.5rem;
    --card-content-font-size: 0.6875rem;
  }

  .card-title {
    --card-title-font-size: 0.875rem;
  }
}

@utility card-sm {
  .card-content {
    --card-content-padding: 1rem;
    --card-content-font-size: 0.75rem;
  }

  .card-title {
    --card-title-font-size: 1rem;
  }
}

@utility card-md {
  .card-content {
    --card-content-padding: 1.5rem;
    --card-content-font-size: 0.875rem;
  }

  .card-title {
    --card-title-font-size: 1.125rem;
  }
}

@utility card-lg {
  .card-content {
    --card-content-padding: 2rem;
    --card-content-font-size: 1rem;
  }

  .card-title {
    --card-title-font-size: 1.25rem;
  }
}

@utility card-xl {
  .card-content {
    --card-content-padding: 2.5rem;
    --card-content-font-size: 1.125rem;
  }

  .card-title {
    --card-title-font-size: 1.375rem;
  }
}