@utility card-body {
  display: flex;
  gap: 0.5rem;
  flex: auto;
  flex-direction: column;
  padding: var(--card-body-padding, 1.5rem);

  :where(p) {
    flex-grow: 1;
    font-size: var(--card-body-font-size, 1rem);
  }
}

@utility card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: var(--card-title-font-size, 1.125rem);
}
