@utility card-outline {
  --card--border-width: 1px;
  border-width: var(--card--border-width, 1px);
  border-style: solid;
  border-color: var(--color-base-soft);
}

@utility card-dashed {
  --card--border-width: 1px;
  border-width: var(--card--border-width, 1px);
  border-style: dashed;
  border-color: var(--color-base-soft);
}