@utility card-outline {
  border-width: 1px;
  border-style: solid;
  border-color: light-dark(--alpha(var(--color-base-950) / 10%), --alpha(var(--color-base-400) / 10%));
}

@utility card-dashed {
  border-width: 1px;
  border-style: dashed;
  border-color: light-dark(--alpha(var(--color-base-950) / 10%), --alpha(var(--color-base-400) / 10%));
}