@utility card-outline {
  border-width: var(--card--border-width, 1px);
  border-style: solid;
  border-color: var(--color-base-active);
}

@utility card-dashed {
  border-width: var(--card--border-width, 1px);
  border-style: dashed;
  border-color: var(--color-base-active);
}