@theme inline {
    --style-h1-size: var(--text-4xl);
    --style-h2-size: var(--text-3xl);
    --style-h3-size: var(--text-2xl);
    --style-h4-size: var(--text-xl);
    --style-h5-size: var(--text-lg);
    --style-h6-size: var(--text-base);
}