@utility divider {
    --divider--width: 100%;
    --divider--height: 1px;
    --divider--bg-color: var(--color-default-200);

    /* @apply divider-primary; */

    width: var(--divider--width);
    height: var(--divider--height);
    background-color: var(--divider--bg-color);

    @variant dark {
        --divider--bg-color: var(--color-default-600);

        background-color: var(--divider--bg-color);
    }
}

@utility divider-primary {
    --divider--bg-color: var(--color-primary-700);

    @variant dark {
        --divider--bg-color: var(--color-primary-700);
    }
}