@utility divider-primary {
    --color-divider: var(--color-primary);
}

@utility divider-secondary {
    --color-divider: var(--color-secondary);
}

@utility divider-accent {
    --color-divider: var(--color-accent);
}

@utility divider-neutral {
    --color-divider: var(--color-neutral);
}

@utility divider-success {
    --color-divider: var(--color-success);
}

@utility divider-warning {
    --color-divider: var(--color-warning);
}

@utility divider-error {
    --color-divider: var(--color-error);
}
