@utility divider-x {
    --divider-direction: right;
    --divider--width: 100%;
    --divider--height: 1px;
    --divider--flex-direction: row;
    --divider--margin: 1rem 0;
}

@utility divider-y {
    --divider-direction: bottom;
    --divider--width: 1px;
    --divider--height: 100%;
    --divider--flex-direction: column;
    --divider--margin: 0 1rem;

    height: 100%;
}