@utility divider-solid {
    --divider-dash-length: 10px;
    --divider-gap-length: 0px;
}

@utility divider-dashed {
    --divider-dash-length: 5px;
    --divider-gap-length: 5px;
}

@utility divider-dotted {
    --divider-dash-length: 2px;
    --divider-gap-length: 4px;
}