@utility alert-horizontal {
    justify-content: start;
    justify-items: start;
    grid-auto-flow: column;
    grid-template-columns: auto;
    text-align: start;

    &:has(:nth-child(2)) {
        grid-template-columns: auto minmax(auto, 1fr);
    }
}

@utility alert-vertical {
    justify-content: center;
    justify-items: center;
    grid-auto-flow: row;
    grid-template-columns: auto;
    text-align: center;

    &:has(:nth-child(2)) {
        grid-template-columns: auto;
    }
}