@utility alert-xs {
  --alert--padding-inline: 0.5rem;
  --alert--padding-block: 0.25rem;
  --alert--font-size: 0.75rem;
}

@utility alert-sm {
  --alert--padding-inline: 0.625rem;
  --alert--padding-block: 0.3125rem;
  --alert--font-size: 0.8125rem;
}

@utility alert-md {
  --alert--padding-inline: 0.75rem;
  --alert--padding-block: 0.375rem;
  --alert--font-size: 0.875rem;
}

@utility alert-lg {
  --alert--padding-inline: 1rem;
  --alert--padding-block: 0.5rem;
  --alert--font-size: 1rem;
}
