@utility alert-dashed {
    background-color: transparent;
    color: var(--alert-variant-text);
    outline-color: var(--color-alert);
    outline-style: dashed;
    outline-width: 1px;
}

@utility alert-outline {
    background-color: transparent;
    color: var(--alert-variant-text);
    outline-color: var(--color-alert);
    outline-style: solid;
    outline-width: 1px;
}


@utility alert-soft {
  background-color: var(--color-alert-soft);
  color: var(--color-on-alert-soft);
}

@utility alert-ghost {
    background-color: transparent;
    color: var(--alert-variant-text);
}