@import "./safelist.css";

@theme {
  --container-xs: 320px;
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;
  --container-full: 320px;
}

/* @utility container {
  box-sizing: border-box;

  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }
} */

@utility container-* {
  max-width: --value(--container-*, integer, [integer]);

  box-sizing: border-box;

  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }
}

@utility container-full {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }

}