@import "./safelist.css";

@theme {
  --ui-container-xs: 320px;
  --ui-container-sm: 640px;
  --ui-container-md: 768px;
  --ui-container-lg: 1024px;
  --ui-container-xl: 1280px;
  --ui-container-2xl: 1536px;
  --ui-container-full: 320px;
}

@utility container {
  max-width: var(--ui-container-md);
  box-sizing: border-box;

  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }
}

@utility container-* {
  max-width: --value(--ui-container-*, integer, [integer]);
  box-sizing: border-box;

  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }
}

@utility container-full {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }

}