@import "./safelist.css";

@utility container {
  box-sizing: border-box;

  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }
}

@utility container-* {

  --container-size-xs: 320px;
  --container-size-sm: 640px;
  --container-size-md: 768px;
  --container-size-lg: 1024px;
  --container-size-xl: 1280px;
  --container-size-2xl: 1536px;
  --container-size-full: 320px;

  max-width: --value(--container-size-*, integer, [integer]);
  box-sizing: border-box;

  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }
}

@utility container-full {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }

}