@utility modal-slide-up {
  --modal-content--translate: 0 100%;
  --modal-content--scale: 1;
}

@utility modal-slide-down {
  --modal-content--translate: 0 -100%;
  --modal-content--scale: 1;
}

@utility modal-slide-start {
  --modal-content--translate: -100% 0;
  --modal-content--scale: 1;
}

@utility modal-slide-end {
  --modal-content--translate: 100% 0;
  --modal-content--scale: 1;
}