@utility modal-slide-up {
  --modal-slide--translate: 0 100%;
  --modal-slide--scale: 1;
}

@utility modal-slide-down {
  --modal-slide--translate: 0 -100%;
  --modal-slide--scale: 1;
}

@utility modal-slide-start {
  --modal-slide--translate: 100% 0;
  --modal-slide--scale: 1;
}

@utility modal-slide-end {
  --modal-slide--translate: -100% 0;
  --modal-slide--scale: 1;
}