@import "./animation.css";
@import "./placement.css";
@import "./safelist.css";
@import "./structure.css";



@utility modal {
  --radius-modal: calc(var(--border-radius) * 4);
  
  position: fixed;
  inset: 0;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  z-index: 999;
  padding: 0.75rem;
  overflow: hidden;
  overscroll-behavior: contain;

  /* State Handling */
  pointer-events: none;
  visibility: hidden;
  background-color: transparent; /* Keep container clear */

  /* The transition should be fast on the visibility toggle */
  transition: 
    visibility 200ms ease allow-discrete, 
    overlay 200ms ease allow-discrete;

  /* Use the native backdrop for the background color */
  @variant backdrop {
    background-color: light-dark(
      color-mix(in oklch, black 10%, var(--color-base-600) 40%), 
      color-mix(in oklch, black 10%, var(--color-base-400) 40%)
    );
    opacity: 0;
    transition: opacity 200ms ease-out;
  }

  &[open] {
    pointer-events: auto;
    visibility: visible;

    @variant backdrop {
      opacity: 1;
    }

    /* Start the backdrop from 0 so it fades in smooth */
    @starting-style {
      @variant backdrop { opacity: 0; }
    }

    /* Trigger Body Variables */
    --modal-body--translate: 0 0;
    --modal-body--scale: 1;
    --modal-body--opacity: 1;
  }
}