@utility modal-x-start {
  justify-items: start;
}

@utility modal-x-center {
  justify-items: center;
}

@utility modal-x-end {
  justify-items: end;
}

@utility modal-y-start {
  align-items: start;
}

@utility modal-y-center {
  align-items: center;
}

@utility modal-y-end {
  align-items: end;
}