@utility modal-start {
  justify-items: start;
}

@utility modal-center {
  justify-items: center;
}

@utility modal-end {
  justify-items: end;
}

@utility modal-top {
  align-items: start;
}

@utility modal-middle {
  align-items: center;
}

@utility modal-bottom {
  align-items: end;
}
