@import "../../theme/placement.css";

@utility modal-x-start {
  justify-items: var(--x-start);
}

@utility modal-x-center {
  justify-items: var(--x-center);
}

@utility modal-x-end {
  justify-items: var(--x-end);
}

@utility modal-y-start {
  align-items: var(--y-start);
}

@utility modal-y-center {
  align-items: var(--y-center);
}

@utility modal-y-end {
  align-items: var(--y-end);
}