@utility modal-backdrop {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: stretch;
  justify-self: stretch;
  color: transparent;
  background-color: transparent;
  z-index: -1;

  button {
    cursor: pointer;
  }
}

@utility modal-body {
  translate: var(--modal-body--translate);
  scale: var(--modal-body--scale, 95%);
  opacity: var(--modal-body--opacity, 0);

  box-shadow: light-dark(var(--color-base-600), var(--color-base-900)) 0px 1px 1px;
  grid-column-start: 1;
  grid-row-start: 1;
  max-height: 100vh;
  width: calc(11 / 12 * 100%);
  max-width: 32rem;
  padding: 1.5rem;
  overflow-y: auto;
  overscroll-behavior: contain;
  border-radius: var(--radius-modal);
  background-color: var(--color-base);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-base-soft);
  transition:
    translate 0.3s ease-out,
    scale 0.3s ease-out,
    opacity 0.3s ease-out 0.05s,
    box-shadow 0.3s ease-out;

  @variant forced-colors {
    outline-style: solid;
    outline-width: 1px;
  }
}