@utility modal-backdrop {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: stretch;
  justify-self: stretch;

  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  z-index: -1;

  color: transparent;
  font-size: 0;
}

@utility modal-body {
  translate: var(--modal-body--translate);
  scale: var(--modal-body--scale, 95%);
  opacity: var(--modal-body--opacity, 0);

  grid-column-start: 1;
  grid-row-start: 1;
  width: calc(11 / 12 * 100%);
  max-width: 32rem;
  max-height: 100vh;
  padding: 1.5rem;
  overflow-y: auto;
  overscroll-behavior: contain;
  
  background-color: var(--color-base);
  border-radius: var(--radius-modal);
  border: 1px solid var(--color-base-soft);
  box-shadow: light-dark(var(--color-base-600), var(--color-base-900)) 0px 1px 1px;

  transition:
    translate 200ms ease-out,
    scale 200ms ease-out,
    opacity 200ms ease-out,
    box-shadow 200ms ease-out;

  @variant forced-colors {
    outline: 1px solid;
  }
}