@import '../base/main.css';
@layer base {
  :root {
    --neutral-color: oklch(14% .005 285.823);
    --neutral-content-color: #fff;

    --primary-color: oklch(0.546 0.245 262.881);
    --primary-content-color: oklch(0.95 0.02 262.881);

    --secondary-color: oklch(37.69% 0.1347 323.76);
    --secondary-content-color: oklch(100% 0 0);

    --accent-color: oklch(0.6 0.3 262.881);
    --accent-content-color: oklch(0.98 0.03 262.881);

    --info-color: oklch(0.65 0.2 230);
    --info-content-color: oklch(0.98 0.02 230);

    --success-color: oklch(0.6 0.22 150);
    --success-content-color: oklch(0.98 0.02 150);

    --warning-color: oklch(77.2% 0.1738 64.55);
    --warning-content-color: oklch(0% 0 0);

    --error-color: oklch(0.6 0.25 30);
    --error-content-color: oklch(0.98 0.02 30);

  }

  [data-theme="dark"] {
    --primary-color: oklch(.546 .245 262.881);
    --primary-content-color: #fff;

    --secondary-color: oklch(.546 .245 262.881);
    --secondary-content-color: #fff;
  }
}

@theme inline {
  --color-neutral: var(--neutral-color);
  --color-neutral-content: var(--neutral-content-color);

  --color-primary: var(--primary-color);
  --color-primary-content: var(--primary-content-color);

  --color-secondary: var(--secondary-color);
  --color-secondary-content: var(--secondary-content-color);

  --color-accent: var(--accent-color);
  --color-accent-content: var(--accent-content-color);

  --color-info: var(--info-color);
  --color-info-content: var(--info-content-color);

  --color-success: var(--success-color);
  --color-success-content: var(--success-content-color);

  --color-warning: var(--warning-color);
  --color-warning-content: var(--warning-content-color);

  --color-error: var(--error-color);
  --color-error-content: var(--error-content-color);
}