<p>
  Divider components create visual separation between content sections. Lightweight and semantic, dividers help structure information hierarchically and improve readability. The Frutjam divider system supports horizontal and vertical orientations with optional text content for labeled separations between sections.
</p>

<h2>Basic Usage</h2>
<c-snippet>
<div class="divider"></div>
</c-snippet>

<h2>Divider Directions</h2>

<h3>Horizontal Divider</h3>
<c-snippet>
<div class="divider divider-horizontal"></div>
</c-snippet>

<h3>Vertical Divider</h3>
<c-snippet>
<div class="flex gap-4 w-full">
    <div class="card card-outline w-full">
       <div class="card-content">content 1</div>
    </div>
    <div class="divider divider-vertical"></div>
    <div class="card card-outline w-full">
        <div class="card-content">content 2</div>
    </div>
</div>
</c-snippet>

<h2>Divider with Text</h2>
<h3>Horizontal with Text</h3>
<c-snippet>
<div class="divider divider-horizontal">OR</div>
</c-snippet>

<h3>Vertical with Text</h3>
<c-snippet>
<div class="flex gap-4 w-full">
    <div class="card card-outline w-full">
       <div class="card-content">content 1</div>
    </div>
    <div class="divider divider-vertical">OR</div>
    <div class="card card-outline w-full">
        <div class="card-content">content 2</div>
    </div>
</div>

</c-snippet>

<h2>Divider Colors</h2>
<c-snippet>
<div class="flex flex-col gap-8 w-full">
  <div class="divider">Default</div>
  <div class="divider divider-neutral">Neutral</div>
  <div class="divider divider-primary">Primary</div>
  <div class="divider divider-secondary">Secondary</div>
  <div class="divider divider-accent">Accent</div>
  <div class="divider divider-success">Success</div>
  <div class="divider divider-warning">Warning</div>
  <div class="divider divider-info">Info</div>
  <div class="divider divider-error">Error</div>
</div>
</c-snippet>

<h2>Divider Content Positions</h2>
<p>You can align the text within a divider to the start, center (default), or end of the line.</p>
<h3>Horizontal Positions</h3>
<c-snippet>
<div class="flex w-full gap-8 flex-col">
  <div class="divider divider-start">Start</div>
  <div class="divider">Default</div>
  <div class="divider divider-end">End</div>
</div>
</c-snippet>

<h3>Vertical Positions</h3>
<c-snippet>
<div class="flex justify-center w-full h-64 gap-12">
  <div class="divider divider-vertical divider-start">Start</div>
  <div class="divider divider-vertical">Default</div>
  <div class="divider divider-vertical divider-end">End</div>
</div>
</c-snippet>
