<p>
  Radio button components allow users to select exactly one option from a set of mutually exclusive choices. Built with native HTML input elements and enhanced with Tailwind CSS, radio buttons support multiple sizes, colors, and states. Accessible and keyboard-navigable, radios are ideal for preference selection, filtering, and single-choice form questions.
</p>

<h2>Basic Usage</h2>
<c-snippet>
<input type="radio" name="radio-1" class="radio" checked="checked">
<input type="radio" name="radio-1" class="radio">
</c-snippet>

<h2>Radio Sizes</h2>
<c-snippet>
<input type="radio" name="radio-sizes" class="radio radio-xs" checked="checked">
<input type="radio" name="radio-sizes" class="radio radio-sm" checked="checked">
<input type="radio" name="radio-sizes" class="radio radio-md" checked="checked">
<input type="radio" name="radio-sizes" class="radio radio-lg" checked="checked">
<input type="radio" name="radio-sizes" class="radio radio-xl" checked="checked">
</c-snippet>

<h2>Radio Colors</h2>
<c-snippet>
<input type="radio" name="radio-colors" class="radio" checked="checked">
<input type="radio" name="radio-colors" class="radio radio-primary" checked="checked">
<input type="radio" name="radio-colors" class="radio radio-secondary" checked="checked">
<input type="radio" name="radio-colors" class="radio radio-accent" checked="checked">
<input type="radio" name="radio-colors" class="radio radio-info" checked="checked">
<input type="radio" name="radio-colors" class="radio radio-success" checked="checked">
<input type="radio" name="radio-colors" class="radio radio-warning" checked="checked">
<input type="radio" name="radio-colors" class="radio radio-error" checked="checked">
<input type="radio" name="radio-colors" class="radio radio-neutral" checked="checked">
</c-snippet>

<h2>Disabled radio</h2>
<c-snippet>
<input type="radio" class="radio" disabled="">
<input type="radio" class="radio" disabled="" checked="checked">
</c-snippet>

<h2>Square radio</h2>
<c-snippet>
<input type="checkbox" class="radio radio-square" checked="checked">
</c-snippet>

<h2>Rounded or circle radio</h2>
<c-snippet>
<input type="checkbox" class="radio radio-circle" checked="checked">
<input type="checkbox" class="radio radio-rounded" checked="checked">
</c-snippet>

<h2>Radio with label</h2>
<c-snippet>
<input type="radio" class="radio radio-circle radio-neutral radio-sm" id="size-small" name="size" value="small">
<label for="size-small">Small</label>

<input type="radio" class="radio radio-circle radio-neutral radio-sm" id="size-medium" name="size" value="medium">
<label for="size-medium">Medium</label>

<input type="radio" class="radio radio-circle radio-neutral radio-sm" id="size-large" name="size" value="large">
<label for="size-large">Large</label>
</c-snippet>
