/* Structure variants */
@utility steps-horizontal {
  grid-auto-flow: column;
  grid-auto-rows: unset;
  grid-auto-columns: 1fr;
}

@utility steps-vertical {
  grid-auto-flow: row;
  grid-auto-columns: unset;
  grid-auto-rows: auto;
}
