@utility range-primary {
    --color-range: var(--color-primary);
    --color-on-range: var(--color-primary-soft);
}

@utility range-secondary {
    --color-range: var(--color-secondary);
    --color-on-range: var(--color-secondary-soft);
}

@utility range-accent {
    --color-range: var(--color-accent);
    --color-on-range: var(--color-accent-soft);
}

@utility range-neutral {
    --color-range: var(--color-neutral);
    --color-on-range: var(--color-neutral-soft);
}

@utility range-info {
    --color-range: var(--color-info);
    --color-on-range: var(--color-info-soft);
}

@utility range-success {
    --color-range: var(--color-success);
    --color-on-range: var(--color-success-soft);
}

@utility range-warning {
    --color-range: var(--color-warning);
    --color-on-range: var(--color-warning-soft);
}

@utility range-error {
    --color-range: var(--color-error);
    --color-on-range: var(--color-error-soft);
}
