@utility range-xs {
    --range--height: 0.2rem;
    --range--thumb-size: 0.875rem;
}

@utility range-sm {
    --range--height: 0.25rem;
    --range--thumb-size: 1rem;
}

@utility range-md {
    --range--height: 0.375rem;
    --range--thumb-size: 1.25rem;
}

@utility range-lg {
    --range--height: 0.5rem;
    --range--thumb-size: 1.5rem;
}

@utility range-xl {
    --range--height: 0.625rem;
    --range--thumb-size: 1.75rem;
}
