@utility drawer-top {
  place-items: start;

  :where(.drawer-body) {
    height: auto;
    width: 100%;
    max-height: calc(100vh - 5em);
    translate: 0 -100%;
  }
}

@utility drawer-bottom {
  place-items: end;

  :where(.drawer-body) {
    height: auto;
    width: 100%;
    max-height: calc(100vh - 5em);
    translate: 0 100%;
  }
}

@utility drawer-start {
  place-items: start;

  :where(.drawer-body) {
    height: 100vh;
    width: auto;
    max-height: none;
    translate: -100% 0;
  }
}

@utility drawer-end {
  place-items: end;

  :where(.drawer-body) {
    height: 100vh;
    max-height: none;
    width: auto;
    translate: 100% 0;
  }
}