@utility drawer-top {
  place-items: start;

  :where([class*=drawer-body]) {
    height: auto;
    width: 100%;
    max-height: 80vh;
    margin-block-end: calc(var(--spacing)*24);
    translate: 0 -100%;
  }
}

@utility drawer-bottom {
  place-items: end;

  :where([class*=drawer-body]) {
    height: auto;
    width: 100%;
    max-height: 80vh;
    margin-block-start: calc(var(--spacing)*24);
    translate: 0 100%;

    border-start-end-radius: var(--radius-drawer);
    border-start-start-radius: var(--radius-drawer);
  }
}

@utility drawer-start {
  place-items: start;

  :where([class*=drawer-body]) {
    height: 100vh;
    width: auto;
    max-height: none;
    translate: -100% 0;
  }
}

@utility drawer-end {
  place-items: end;

  :where([class*=drawer-body]) {
    height: 100vh;
    max-height: none;
    width: auto;
    translate: 100% 0;
  }
}