@import "./safelist.css";
@import "./states.css";
@import "./structure.css";

@utility header {
  background-color: var(--color-base);
  /* color: var(--heading--color); */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-base-soft);
  top: 0;
  z-index: 999;
  width: 100%;
}