@import "./safelist.css";
@import "./states.css";
@import "./structure.css";

@utility header {
  background-color: var(--color-base);
  /* color: var(--heading--color); */
  border-block-end-width: 1px;
  border-block-end-style: solid;
  border-block-end-color: var(--color-base-soft);
  inset-block-start: 0;
  z-index: 999;
  width: 100%;
}