@import "./placement.css";
@import "./safelist.css";
@import "./structure.css";

@utility navbar {
  display: flex;
  width: 100%;

  /* & > :where(.navbar-list) {
    display: flex;
    width: 100%;
  }

  & > :where(.navbar-list > li) {
    width: 100%;
  } */
}