@import "./placement.css";
@import "./safelist.css";

@utility navbar {
  display: flex;
  width: 100%;

  & > :where(.nav-list) {
    display: flex;
    width: 100%;
  }

  & > :where(.nav-list > li) {
    width: 100%;
  }
}
