@import "../../theme/placement.css";

@utility navbar-x-start {
  justify-self: var(--x-start);
  flex-direction: row;

  & > :where(.nav-list) {
    flex-direction: row;
    justify-content: var(--x-start);
    align-items: center;
    column-gap: 0.5rem;
  }

  & > :where(.nav-list > li) {
    width: auto; /* override vertical width if needed */
  }
}

@utility navbar-x-center {
  justify-self: var(--x-center);
  flex-direction: row;

  & > :where(.nav-list) {
    flex-direction: row;
    justify-content: var(--x-center);
    align-items: center;
    column-gap: 0.5rem;
  }

  & > :where(.nav-list > li) {
    width: auto;
  }
}

@utility navbar-x-end {
  justify-self: var(--x-end);
  flex-direction: row;

  & > :where(.nav-list) {
    flex-direction: row;
    justify-content: var(--x-end);
    align-items: center;
    column-gap: 0.5rem;
  }

  & > :where(.nav-list > li) {
    width: auto;
  }
}


@utility navbar-y-start {
  justify-content: var(--y-start);
  flex-direction: column;
  row-gap: 0.75rem;

  & > :where(.nav-list) {
    flex-direction: column;
    align-items: start;
    row-gap: 0.25rem;
  }
}

@utility navbar-y-center {
  justify-content: var(--y-center);
  flex-direction: column;
  row-gap: 0.75rem;

  & > :where(.nav-list) {
    flex-direction: column;
    align-items: start;
    row-gap: 0.25rem;
  }
}

@utility navbar-y-end {
  justify-content: var(--y-end);
  flex-direction: column;
  row-gap: 0.75rem;

  & > :where(.nav-list) {
    flex-direction: column;
    align-items: start;
    row-gap: 0.25rem;
  }
}
