@utility badge {

  --badge-bg-color: var(--color-default-200);
  --badge-text-color: var(--color-default-900);

  --badge-bg-color__hover: var(--color-default-300);
  --badge-text-color__hover: var(--color-default-950);

  @variant dark {
    --badge-bg-color: var(--color-default-900);
    --badge-text-color: var(--color-default-50);

    --badge-bg-color__hover: var(--color-default-800);
    --badge-text-color__hover: var(--color-default-100);
  }

  padding-inline: var(--badge-padding-inline, 0.75rem);
  padding-block: var(--badge-padding-block, 0.375rem);
  font-size: var(--badge-text-size, 0.875rem);

  background-color: var(--badge-bg-color);
  color: var(--badge-text-color);

  outline-width: var(--badge-outline-width);
  outline-style: var(--badge-outline-style);
  outline-color: var(--badge-outline-color);

  display: inline-flex;
  gap: 0.5rem;
  border-radius: var(--badge-radius, var(--radius-badge));
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  width: var(--badge-width, fit-content);
  height: var(--badge-height);
}

@utility badge-primary {
  --badge-50: var(--color-primary-50);
  --badge-100: var(--color-primary-100);
  --badge-200: var(--color-primary-200);
  --badge-300: var(--color-primary-300);
  --badge-400: var(--color-primary-400);
  --badge-500: var(--color-primary-500);
  --badge-600: var(--color-primary-600);
  --badge-700: var(--color-primary-700);
  --badge-800: var(--color-primary-800);
  --badge-900: var(--color-primary-900);
  --badge-950: var(--color-primary-950);

  --badge-bg-color: var(--badge-700);
  --badge-text-color: var(--badge-50);

  --badge-bg-color__hover: var(--badge-800);
  --badge-text-color__hover: var(--badge-50);
}

@utility badge-secondary {
  --badge-50: var(--color-secondary-50);
  --badge-100: var(--color-secondary-100);
  --badge-200: var(--color-secondary-200);
  --badge-300: var(--color-secondary-300);
  --badge-400: var(--color-secondary-400);
  --badge-500: var(--color-secondary-500);
  --badge-600: var(--color-secondary-600);
  --badge-700: var(--color-secondary-700);
  --badge-800: var(--color-secondary-800);
  --badge-900: var(--color-secondary-900);
  --badge-950: var(--color-secondary-950);


  --badge-bg-color: var(--badge-700);
  --badge-text-color: var(--badge-50);

  --badge-bg-color__hover: var(--badge-800);
  --badge-text-color__hover: var(--badge-50);
}

@utility badge-accent {
  --badge-50: var(--color-accent-50);
  --badge-100: var(--color-accent-100);
  --badge-200: var(--color-accent-200);
  --badge-300: var(--color-accent-300);
  --badge-400: var(--color-accent-400);
  --badge-500: var(--color-accent-500);
  --badge-600: var(--color-accent-600);
  --badge-700: var(--color-accent-700);
  --badge-800: var(--color-accent-800);
  --badge-900: var(--color-accent-900);
  --badge-950: var(--color-accent-950);


  --badge-bg-color: var(--badge-700);
  --badge-text-color: var(--badge-50);

  --badge-bg-color__hover: var(--badge-800);
  --badge-text-color__hover: var(--badge-50);
}

@utility badge-info {
  --badge-50: var(--color-info-50);
  --badge-100: var(--color-info-100);
  --badge-200: var(--color-info-200);
  --badge-300: var(--color-info-300);
  --badge-400: var(--color-info-400);
  --badge-500: var(--color-info-500);
  --badge-600: var(--color-info-600);
  --badge-700: var(--color-info-700);
  --badge-800: var(--color-info-800);
  --badge-900: var(--color-info-900);
  --badge-950: var(--color-info-950);

  --badge-bg-color: var(--badge-400);
  --badge-text-color: var(--badge-950);

  --badge-bg-color__hover: var(--badge-500);
  --badge-text-color__hover: var(--badge-950);

  @variant dark{
      --badge-bg-color: var(--badge-500);
      --badge-bg-color__hover: var(--badge-600);
  }
}

@utility badge-success {
  --badge-50: var(--color-success-50);
  --badge-100: var(--color-success-100);
  --badge-200: var(--color-success-200);
  --badge-300: var(--color-success-300);
  --badge-400: var(--color-success-400);
  --badge-500: var(--color-success-500);
  --badge-600: var(--color-success-600);
  --badge-700: var(--color-success-700);
  --badge-800: var(--color-success-800);
  --badge-900: var(--color-success-900);
  --badge-950: var(--color-success-950);


  --badge-bg-color: var(--badge-400);
  --badge-text-color: var(--badge-950);

  --badge-bg-color__hover: var(--badge-500);
  --badge-text-color__hover: var(--badge-950);

  @variant dark{
      --badge-bg-color: var(--badge-500);
      --badge-bg-color__hover: var(--badge-600);
  }
}

@utility badge-warning {
  --badge-50: var(--color-warning-50);
  --badge-100: var(--color-warning-100);
  --badge-200: var(--color-warning-200);
  --badge-300: var(--color-warning-300);
  --badge-400: var(--color-warning-400);
  --badge-500: var(--color-warning-500);
  --badge-600: var(--color-warning-600);
  --badge-700: var(--color-warning-700);
  --badge-800: var(--color-warning-800);
  --badge-900: var(--color-warning-900);
  --badge-950: var(--color-warning-950);

  --badge-bg-color: var(--badge-400);
  --badge-text-color: var(--badge-950);

  --badge-bg-color__hover: var(--badge-500);
  --badge-text-color__hover: var(--badge-950);

  @variant dark{
      --badge-bg-color: var(--badge-500);
      --badge-bg-color__hover: var(--badge-600);
  }
}

@utility badge-error {
  --badge-50: var(--color-error-50);
  --badge-100: var(--color-error-100);
  --badge-200: var(--color-error-200);
  --badge-300: var(--color-error-300);
  --badge-400: var(--color-error-400);
  --badge-500: var(--color-error-500);
  --badge-600: var(--color-error-600);
  --badge-700: var(--color-error-700);
  --badge-800: var(--color-error-800);
  --badge-900: var(--color-error-900);
  --badge-950: var(--color-error-950);

  --badge-bg-color: var(--badge-600);
  --badge-text-color: var(--badge-50);

  --badge-bg-color__hover: var(--badge-700);
  --badge-text-color__hover: var(--badge-50);

  @variant dark{
      --badge-bg-color: var(--badge-700);
      --badge-bg-color__hover: var(--badge-800);
  }
}

@utility badge-xs {
  --badge-padding-inline: 0.5rem;
  --badge-padding-block: 0.125rem;
  --badge-text-size: 0.625rem;
}

@utility badge-sm {
  --badge-padding-inline: 0.625rem;
  --badge-padding-block: 0.25rem;
  --badge-text-size: 0.75rem;
}

@utility badge-md {
  --badge-padding-inline: 0.75rem;
  --badge-padding-block: 0.375rem;
  --badge-text-size: 0.875rem;
}

@utility badge-lg {
  --badge-padding-inline: 0.875rem;
  --badge-padding-block: 0.5rem;
  --badge-text-size: 1rem;
}

@utility badge-xl {
  --badge-padding-inline: 1rem;
  --badge-padding-block: 0.625rem;
  --badge-text-size: 1.125rem;
}

@utility badge-2xl {
  --badge-padding-inline: 1.125rem;
  --badge-padding-block: 0.75rem;
  --badge-text-size: 1.25rem;
}

@utility badge-square {
  --badge-padding-inline: var(--badge-padding-inline, 0.625rem);
  --badge-padding-block: var(--badge-padding-inline, 0.625rem);
  --badge-width: var(--badge-padding-block);
  --badge-height: var(--badge-padding-block);
}

@utility badge-rounded {
  --badge-radius: calc(infinity * 1px);
}

@utility badge-circle {
  --badge-padding-inline: var(--badge-padding-inline, 0.625rem);
  --badge-padding-block: var(--badge-padding-inline, 0.625rem);
  --badge-width: var(--badge-padding-block);
  --badge-height: var(--badge-padding-block);
  --badge-radius: calc(infinity * 1px);
}

@utility badge-dashed {
  --badge-bg-color: transparent;
  --badge-outline-style: dashed;
  --badge-outline-width: 1px;

  --badge-text-color: var(--badge-700);
  --badge-outline-color: var(--badge-500, var(--color-default-300));

  @variant dark {
    --badge-text-color: var(--badge-500);
    --badge-outline-color: var(--badge-700, var(--color-default-700));
  }
}

@utility badge-outline {
  --badge-bg-color: transparent;
  --badge-outline-style: solid;
  --badge-outline-width: 1px;

  --badge-text-color: var(--badge-700);
  --badge-outline-color: var(--badge-500, var(--color-default-300));

  @variant dark {
    --badge-text-color: var(--badge-500);
    --badge-outline-color: var(--badge-700, var(--color-default-700));
  }
}

@utility badge-soft {
    --badge-bg-color: var(--badge-100);
    --badge-text-color: var(--badge-800);

    @variant dark{
        --badge-bg-color: --alpha(var(--badge-900, var(--color-default-800)) / 30%);
        --badge-text-color: var(--badge-400);
    }
}

@utility badge-ghost {
  --badge-bg-color: transparent;
  --badge-text-color: var(--badge-600);

  @variant dark {
    --badge-text-color: var(--badge-500);
  }
}