@import "../theme/jams/base.css";

@utility breadcrumb {
  padding-block: 0.5rem;
  max-width: 100%;
  overflow-x: auto;

  & > .breadcrumb-list,
  & > ol,
  & > ul {
    display: flex;
    min-height: min-content;
    align-items: center;
    white-space: nowrap;

    /* Automatically hide default separator if a custom separator is used */
    .breadcrumb-item, li {
      display: flex;
      align-items: center;

      & > .breadcrumb-link,
      & > .breadcrumb-current,
      & > a,
      & > span {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        @media (hover: hover) {
          &:hover:not([aria-current="page"]):not(.breadcrumb-current) {
            text-decoration-line: underline;
            text-underline-offset: 4px;
            cursor: pointer;
          }
        }

        &:focus {
          outline-style: none;
          @media (forced-colors: active) {
            outline: 2px solid transparent;
            outline-offset: 2px;
          }
        }

        &:focus-visible {
          outline: 2px solid currentColor;
          outline-offset: 2px;
        }
      }

      /* Only show default separator if NOT preceded by .breadcrumb-separator */
      & + .breadcrumb-item::before, & + li::before {
        content: "";
        margin-right: 0.75rem;
        margin-left: 0.5rem;
        height: 0.375rem;
        width: 0.375rem;
        opacity: 40%;
        display: block;
        transform: rotate(45deg);
        transition: transform 300ms;
        border-top: 1px solid;
        border-right: 1px solid;
        background-color: #0000;
      }

      [dir="rtl"] & + .breadcrumb-item::before, [dir="rtl"] & + li::before {
        transform: rotate(-135deg);
        transition: transform 300ms;
      }

      /* Remove default separator when preceded by custom .breadcrumb-separator */
      .breadcrumb-separator + &::before {
        content: none;
      }
    }

    /* Slotted custom separator */
    .breadcrumb-separator {
      display: flex;
      align-items: center;
      margin-inline: 0.5rem;
      font-size: 0.875rem;
      color: light-dark(
        var(--core-200),
        var(--core-900)
      );
    }
  }
}
