@source inline("btn");
@source inline("btn-primary");
@source inline("btn-secondary");
@source inline("btn-accent");
@source inline("btn-info");
@source inline("btn-success");
@source inline("btn-warning");
@source inline("btn-error");
@source inline("btn-active");
@source inline("btn-xs");
@source inline("btn-sm");
@source inline("btn-md");
@source inline("btn-lg");
@source inline("btn-xl");
@source inline("btn-2xl");
@source inline("btn-square");
@source inline("btn-rounded");
@source inline("btn-circle");
@source inline("btn-wide");
@source inline("btn-soft");
@source inline("btn-dashed");
@source inline("btn-outline");
@source inline("btn-ghost");
@source inline("btn-link");

@utility btn {
  --btn--bg-color: var(--color-default-200);
  --btn--color: var(--color-base-900);

  --btn-soft--bg-color: var(--color-default-100);
  --btn-soft--color: var(--color-base-900);

  --btn-dashed--outline-color: var(--color-default-400);
  --btn-dashed--color: var(--color-base-900);

  --btn-outline--outline-color: var(--color-default-400);
  --btn-outline--color: var(--color-base-900);

  --btn-ghost--color: var(--color-default-900);

  --btn-link--color: var(--color-default-900);

  --btn-active--bg-color: var(--color-default-300);
  --btn-active--color: var(--color-base-950);

  background-color: var(--btn--bg-color);
  color: var(--btn--color);

  @variant hover {
    --btn--bg-color: var(--color-default-300);
    --btn--color: var(--color-base-950);

    background-color: var(--btn--bg-color);
    color: var(--btn--color);
    outline-style: none;

    text-decoration: var(--btn--text-decoration);
    text-underline-offset: var(--btn--text-underline-offset);
  }

  @variant dark {
    --btn--bg-color: var(--color-default-900);
    --btn--color: var(--color-default-400);

    --btn-soft--bg-color: var(--color-default-900);
    --btn-soft--color: var(--color-default-400);

    --btn-dashed--outline-color: var(--color-default-800);
    --btn-dashed--color: var(--color-default-400);

    --btn-outline--outline-color: var(--color-default-800);
    --btn-outline--color: var(--color-default-400);

    --btn-ghost--color: var(--color-default-400);

    --btn-link--color: var(--color-default-400);

    --btn-active--bg-color: var(--color-error-800);
    --btn-active--color: var(--color-default-300);

    background-color: var(--btn--bg-color);
    color: var(--btn--color);

    @variant hover {
      --btn--bg-color: var(--color-default-800);
      --btn--color: var(--color-default-300);

      background-color: var(--btn--bg-color);
      color: var(--btn--color);
    }
  }

  border-radius: var(--btn-radius, var(--radius-btn));
  display: var(--btn-display, inline-flex);

  padding-inline: var(--btn-inline, 1.125rem);
  padding-block: var(--btn-block, 0.625rem);
  font-size: var(--btn-text-size, 1rem);

  outline-color: var(--btn-outline-color);
  outline-style: var(--btn-outline-style);
  outline-width: var(--btn-outline-width);

  width: var(--btn-width);
  max-width: var(--btn-max-width);

  position: relative;
  line-height: 1.5;
  gap: 0.375rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  flex-wrap: nowrap;
  vertical-align: middle;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 200ms ease-out;

  &:is(:disabled, [disabled], .btn-disabled) {
    opacity: 20%;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:is(input[type="checkbox"], input[type="radio"]) {
    appearance: none;

    &::after {
      content: attr(aria-label);
    }

    &:checked {
      isolation: isolate;
    }
  }

  @variant focus-visible {
    outline: 2px solid var(--color-default-700, currentColor);
    outline-offset: 2px;
    isolation: isolate;
  }
}

@utility btn-primary {
  --btn--bg-color: var(--color-primary-600);
  --btn--color: var(--color-base-0);

  --btn-soft--bg-color: var(--color-primary-100);
  --btn-soft--color: var(--color-primary-600);

  --btn-dashed--color: var(--color-primary-600);
  --btn-dashed--outline-color: var(--color-primary-500);

  --btn-outline--color: var(--color-primary-600);
  --btn-outline--outline-color: var(--color-primary-500);

  --btn-ghost--color: var(--color-primary-600);

  --btn-link--color: var(--color-primary-600);

  --btn-active--bg-color: var(--color-primary-700);
  --btn-active--color: var(--color-base-0);

  @variant hover {
    --btn--bg-color: var(--color-primary-700);
    --btn--color: var(--color-base-0);
  }

  @variant dark {
    --btn--bg-color: var(--color-primary-800);
    --btn--color: var(--color-base-0);

    --btn-soft--bg-color: --alpha(var(--color-primary-900) / 30%);
    --btn-soft--color: var(--color-primary-400);

    --btn-dashed--color: var(--color-primary-500);
    --btn-dashed--outline-color: var(--color-primary-600);

    --btn-outline--color: var(--color-primary-500);
    --btn-outline--outline-color: var(--color-primary-600);

    --btn-ghost--color: var(--color-primary-500);

    --btn-link--color: var(--color-primary-500);

    --btn-active--bg-color: var(--color-primary-700);
    --btn-active--color: var(--color-base-0);

    @variant hover {
      --btn--bg-color: var(--color-primary-700);
      --btn--color: var(--color-base-0);
    }
  }
}

@utility btn-secondary {
  --btn--bg-color: var(--color-secondary-600);
  --btn--color: var(--color-base-0);

  --btn-soft--bg-color: var(--color-secondary-100);
  --btn-soft--color: var(--color-secondary-600);

  --btn-dashed--color: var(--color-secondary-600);
  --btn-dashed--outline-color: var(--color-secondary-500);

  --btn-outline--color: var(--color-secondary-600);
  --btn-outline--outline-color: var(--color-secondary-500);

  --btn-ghost--color: var(--color-secondary-600);

  --btn-link--color: var(--color-secondary-600);

  --btn-active--bg-color: var(--color-secondary-700);
  --btn-active--color: var(--color-base-0);

  @variant hover {
    --btn--bg-color: var(--color-secondary-700);
    --btn--color: var(--color-base-0);
  }

  @variant dark {
    --btn--bg-color: var(--color-secondary-800);
    --btn--color: var(--color-base-0);

    --btn-soft--bg-color: --alpha(var(--color-secondary-900) / 30%);
    --btn-soft--color: var(--color-secondary-400);

    --btn-dashed--color: var(--color-secondary-500);
    --btn-dashed--outline-color: var(--color-secondary-600);

    --btn-outline--color: var(--color-secondary-500);
    --btn-outline--outline-color: var(--color-secondary-600);

    --btn-ghost--color: var(--color-secondary-500);

    --btn-link--color: var(--color-secondary-500);

    --btn-active--bg-color: var(--color-secondary-700);
    --btn-active--color: var(--color-base-0);

    @variant hover {
      --btn--bg-color: var(--color-secondary-700);
      --btn--color: var(--color-base-0);
    }
  }
}

@utility btn-accent {
  --btn--bg-color: var(--color-accent-600);
  --btn--color: var(--color-base-0);

  --btn-soft--bg-color: var(--color-accent-100);
  --btn-soft--color: var(--color-accent-600);

  --btn-dashed--color: var(--color-accent-600);
  --btn-dashed--outline-color: var(--color-accent-500);

  --btn-outline--color: var(--color-accent-600);
  --btn-outline--outline-color: var(--color-accent-500);

  --btn-ghost--color: var(--color-accent-600);

  --btn-link--color: var(--color-accent-600);

  --btn-active--bg-color: var(--color-accent-700);
  --btn-active--color: var(--color-base-0);

  @variant hover {
    --btn--bg-color: var(--color-accent-700);
    --btn--color: var(--color-base-0);
  }

  @variant dark {
    --btn--bg-color: var(--color-accent-800);
    --btn--color: var(--color-base-0);

    --btn-soft--bg-color: --alpha(var(--color-accent-900) / 30%);
    --btn-soft--color: var(--color-accent-400);

    --btn-dashed--color: var(--color-accent-400);
    --btn-dashed--outline-color: var(--color-accent-600);

    --btn-outline--color: var(--color-accent-400);
    --btn-outline--outline-color: var(--color-accent-600);

    --btn-ghost--color: var(--color-accent-400);

    --btn-link--color: var(--color-accent-400);

    --btn-active--bg-color: var(--color-accent-700);
    --btn-active--color: var(--color-base-0);

    @variant hover {
      --btn--bg-color: var(--color-accent-700);
      --btn--color: var(--color-base-0);
    }
  }
}

@utility btn-info {
  --btn--bg-color: var(--color-info-500);
  --btn--color: var(--color-base-900);

  --btn-soft--bg-color: var(--color-info-100);
  --btn-soft--color: var(--color-info-700);

  --btn-dashed--color: var(--color-info-700);
  --btn-dashed--outline-color: var(--color-info-500);

  --btn-outline--color: var(--color-info-700);
  --btn-outline--outline-color: var(--color-info-500);

  --btn-ghost--color: var(--color-info-700);

  --btn-link--color: var(--color-info-700);

  --btn-active--bg-color: var(--color-info-600);
  --btn-active--color: var(--color-base-950);

  @variant hover {
    --btn--bg-color: var(--color-info-600);
    --btn--color: var(--color-base-950);
  }

  @variant dark {
    --btn--bg-color: var(--color-info-600);
    --btn--color: var(--color-base-900);

    --btn-soft--bg-color: --alpha(var(--color-info-900) / 30%);
    --btn-soft--color: var(--color-info-400);

    --btn-dashed--color: var(--color-info-400);
    --btn-dashed--outline-color: var(--color-info-600);

    --btn-outline--color: var(--color-info-400);
    --btn-outline--outline-color: var(--color-info-600);

    --btn-ghost--color: var(--color-info-400);

    --btn-link--color: var(--color-info-400);

    --btn-active--bg-color: var(--color-info-500);
    --btn-active--color: var(--color-base-900);

    @variant hover {
      --btn--bg-color: var(--color-info-500);
      --btn--color: var(--color-base-900);
    }
  }
}

@utility btn-success {
  --btn--bg-color: var(--color-success-400);
  --btn--color: var(--color-base-900);

  --btn-soft--bg-color: var(--color-success-100);
  --btn-soft--color: var(--color-success-700);

  --btn-dashed--color: var(--color-success-700);
  --btn-dashed--outline-color: var(--color-success-500);

  --btn-outline--color: var(--color-success-700);
  --btn-outline--outline-color: var(--color-success-500);

  --btn-ghost--color: var(--color-success-700);

  --btn-link--color: var(--color-success-700);

  --btn-active--bg-color: var(--color-success-500);
  --btn-active--color: var(--color-base-950);

  @variant hover {
    --btn--bg-color: var(--color-success-500);
    --btn--color: var(--color-base-950);
  }

  @variant dark {
    --btn--bg-color: var(--color-success-600);
    --btn--color: var(--color-base-900);

    --btn-soft--bg-color: --alpha(var(--color-success-900) / 30%);
    --btn-soft--color: var(--color-success-400);

    --btn-dashed--color: var(--color-success-400);
    --btn-dashed--outline-color: var(--color-success-600);

    --btn-outline--color: var(--color-success-400);
    --btn-outline--outline-color: var(--color-success-600);

    --btn-ghost--color: var(--color-success-400);

    --btn-link--color: var(--color-success-400);

    --btn-active--bg-color: var(--color-success-500);
    --btn-active--color: var(--color-base-900);

    @variant hover {
      --btn--bg-color: var(--color-success-500);
      --btn--color: var(--color-base-900);
    }
  }
}

@utility btn-warning {
  --btn--bg-color: var(--color-warning-400);
  --btn--color: var(--color-base-900);

  --btn-soft--bg-color: var(--color-warning-100);
  --btn-soft--color: var(--color-warning-700);

  --btn-dashed--color: var(--color-warning-700);
  --btn-dashed--outline-color: var(--color-warning-500);

  --btn-outline--color: var(--color-warning-700);
  --btn-outline--outline-color: var(--color-warning-500);

  --btn-ghost--color: var(--color-warning-700);

  --btn-link--color: var(--color-warning-700);

  --btn-active--bg-color: var(--color-warning-500);
  --btn-active--color: var(--color-base-950);

  @variant hover {
    --btn--bg-color: var(--color-warning-500);
    --btn--color: var(--color-base-950);
  }

  @variant dark {
    --btn--bg-color: var(--color-warning-600);
    --btn--color: var(--color-base-900);

    --btn-soft--bg-color: --alpha(var(--color-warning-900) / 30%);
    --btn-soft--color: var(--color-warning-400);

    --btn-dashed--color: var(--color-warning-400);
    --btn-dashed--outline-color: var(--color-warning-600);

    --btn-outline--color: var(--color-warning-400);
    --btn-outline--outline-color: var(--color-warning-600);

    --btn-ghost--color: var(--color-warning-400);

    --btn-link--color: var(--color-warning-400);

    --btn-active--bg-color: var(--color-warning-500);
    --btn-active--color: var(--color-base-900);

    @variant hover {
      --btn--bg-color: var(--color-warning-500);
      --btn--color: var(--color-base-900);
    }
  }
}

@utility btn-error {
  --btn--bg-color: var(--color-error-600);
  --btn--color: var(--color-base-0);

  --btn-soft--bg-color: var(--color-error-100);
  --btn-soft--color: var(--color-error-600);

  --btn-dashed--color: var(--color-error-600);
  --btn-dashed--outline-color: var(--color-error-500);

  --btn-outline--color: var(--color-error-600);
  --btn-outline--outline-color: var(--color-error-500);

  --btn-ghost--color: var(--color-error-600);

  --btn-link--color: var(--color-error-600);

  --btn-active--bg-color: var(--color-error-700);
  --btn-active--color: var(--color-base-0);

  @variant hover {
    --btn--bg-color: var(--color-error-700);
    --btn--color: var(--color-base-0);
  }

  @variant dark {
    --btn--bg-color: var(--color-error-700);
    --btn--color: var(--color-base-0);

    --btn-soft--bg-color: --alpha(var(--color-error-900) / 30%);
    --btn-soft--color: var(--color-error-500);

    --btn-dashed--color: var(--color-error-500);
    --btn-dashed--outline-color: var(--color-error-600);

    --btn-outline--color: var(--color-error-500);
    --btn-outline--outline-color: var(--color-error-600);

    --btn-ghost--color: var(--color-error-500);

    --btn-link--color: var(--color-error-500);

    --btn-active--bg-color: var(--color-error-600);
    --btn-active--color: var(--color-base-0);

    @variant hover {
      --btn--bg-color: var(--color-error-600);
      --btn--color: var(--color-base-0);
    }
  }
}

@utility btn-active {
  --btn--bg-color: var(--btn-active--bg-color);
  --btn--color: var(--btn-active--color);
  outline-style: none;
}

@utility btn-xs {
  --btn-inline: 0.875rem;
  --btn-block: 0.375rem;
  --btn-text-size: 0.75rem;
}

@utility btn-sm {
  --btn-inline: 1rem;
  --btn-block: 0.5rem;
  --btn-text-size: 0.875rem;
}

@utility btn-md {
  --btn-inline: 1.125rem;
  --btn-block: 0.625rem;
  --btn-text-size: 1rem;
}

@utility btn-lg {
  --btn-inline: 1.25rem;
  --btn-block: 0.75rem;
  --btn-text-size: 1.125rem;
}

@utility btn-xl {
  --btn-inline: 1.375rem;
  --btn-block: 0.875rem;
  --btn-text-size: 1.25rem;
}

@utility btn-2xl {
  --btn-inline: 1.5rem;
  --btn-block: 1rem;
  --btn-text-size: 1.375rem;
}

@utility btn-square {
  --btn-inline: var(--btn-block, 0.625rem);
}

@utility btn-rounded {
  --btn-radius: calc(infinity * 1px);
}

@utility btn-circle {
  --btn-inline: var(--btn-block, 0.625rem);
  --btn-block: var(--btn-block, 0.625rem);
  --btn-radius: calc(infinity * 1px);
}

@utility btn-wide {
  --btn-max-width: 320px;
  --btn-width: 100%;
}

@utility btn-soft {
  --btn--bg-color: var(--btn-soft--bg-color);
  --btn--color: var(--btn-soft--color);

  @variant dark {
    --btn--bg-color: var(--btn-soft--bg-color);
    --btn--color: var(--btn-soft--color);
  }
}

@utility btn-dashed {
  --btn--bg-color: transparent;
  --btn-outline-style: dashed;
  --btn-outline-width: 1px;

  --btn--color: var(--btn-dashed--color);
  --btn-outline-color: var(--btn-dashed--outline-color);

  @variant dark {
    --btn--color: var(--btn-dashed--color);
    --btn-outline-color: var(--btn-dashed--outline-color);
  }
}

@utility btn-outline {
  --btn--bg-color: transparent;
  --btn-outline-style: solid;
  --btn-outline-width: 1px;

  --btn--color: var(--btn-outline--color);
  --btn-outline-color: var(--btn-outline--outline-color);

  @variant dark {
    --btn--color: var(--btn-outline--color);
    --btn-outline-color: var(--btn-outline--outline-color);
  }
}

@utility btn-ghost {
  --btn--bg-color: transparent;
  --btn--color: var(--btn-ghost--color);
}

@utility btn-link {
  --btn--bg-color: transparent;
  --btn--color: var(--btn-link--color);

  @variant hover {
    --btn--bg-color: transparent;
    --btn--text-decoration: underline;
    --btn--text-underline-offset: 4px;
    --btn--color: var(--btn-link--color);
  }

  @variant dark {
    --btn-text-color: var(--btn-500);
  }
}
