@import "../theme/jams/base.css";

@utility card-outline {
    border: 1px solid light-dark(
      var(--core-200),
      var(--core-950)
    );
}

@utility card-dashed {
    border: 1px dashed light-dark(
      var(--core-200),
      var(--core-950)
    );
}

/* card size */

@utility card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-card);
    overflow:hidden;
    background-color: light-dark(
        var(--core-0),
        var(--core-1000)
    );

    :where(figure:first-child) {
        overflow: hidden;
        border-start-start-radius: inherit;
        border-start-end-radius: inherit;
        border-end-start-radius: unset;
        border-end-end-radius: unset;
    }
    
    :where(figure:last-child) {
        overflow: hidden;
        border-start-start-radius: unset;
        border-start-end-radius: unset;
        border-end-start-radius: inherit;
        border-end-end-radius: inherit;
    }
}

@utility card-body {
    display: flex;
    gap: 0.5rem;
    flex: auto;
    flex-direction: column;
    padding: 1.5rem;

    :where(p){
        flex-grow: 1;
        font-size: 1rem;
    }
}

@utility card-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
}