@import "../theme/jams/base.css";

@utility checkbox-xs {
  padding: 0.1875rem;
  width: 0.75rem;
  height: 0.75rem;
}

@utility checkbox-sm {
  padding: 0.25rem;
  width: 1rem;
  height: 1rem;
}

@utility checkbox-md {
  padding: 0.3125rem;
  width: 1.25rem;
  height: 1.25rem;
}

@utility checkbox-lg {
  padding: 0.375rem;
  width: 1.5rem;
  height: 1.5rem;
}

@utility checkbox-xl {
  padding: 0.4375rem;
  width: 1.75rem;
  height: 1.75rem;
}

@utility checkbox-2xl {
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
}

@utility checkbox-circle {
  border-radius: calc(infinity * 1px);
  aspect-ratio: 1 / 1;
}

@utility checkbox-square {
  border-radius: var(--radius-checkbox);
  aspect-ratio: 1 / 1;
}

@utility checkbox {
    @apply checkbox-md;
    /* box-shadow: light-dark(
      var(--core-100),
      var(--core-900)
    ) 0px 1px 1px; */
    position: relative;
    transition-duration: 350ms;
    flex-shrink: 0;
    cursor: pointer;
    appearance: none;
    vertical-align: middle;

    box-shadow: 0 0 0 0px var(--checkbox-100), 0 0 0 calc(1px + 0px) light-dark(var(--checkbox-300), var(--checkbox-500)), 0 0 var(--checkbox-100);
    /* border: 1.6px solid var(--checkbox-100); */
    outline: 1px solid light-dark(
      var(--checkbox-400),
      var(--checkbox-700)
    );
      
    background-color: light-dark(
      var(--checkbox-100),
      color-mix(in oklab, var(--checkbox-600) 15%, transparent)
    );


    /* &:not(
      .checkbox-primary,
      .checkbox-secondary,
      .checkbox-accent,
      .checkbox-info,
      .checkbox-success,
      .checkbox-warning,
      .checkbox-error
    ){
      outline: 1px solid light-dark(
        var(--checkbox-400),
        var(--checkbox-700)
      );
      border: 0.5px solid light-dark(
        var(--checkbox-50),
        var(--checkbox-900)
      );
    }

    &:is(
      .checkbox-primary,
      .checkbox-secondary,
      .checkbox-accent,
      .checkbox-info,
      .checkbox-success,
      .checkbox-warning,
      .checkbox-error
    ){
      outline: 1px solid var(--checkbox-700);
      border: 0.5px solid light-dark(
        var(--checkbox-50),
        var(--checkbox-900)
      );
    } */


    /* background-color: transparent; */
    /* color: light-dark(var(--checkbox-700), var(--checkbox-200)); */
    color: light-dark(var(--checkbox-700), var(--checkbox-200));
    border-radius: var(--radius-checkbox);

    &::before {
      content: none;
      opacity: 0%;
      background-color: currentcolor;
      transform: rotate(45deg);
      transition: transform 300ms, background-color 100ms;
      display: block;
      width: 100%;
      height: 100%;
      clip-path: polygon(20% 100%, 20% 80%, 50% 80%, 50% 0, 70% 0, 70% 100%);
      font-size: 1rem;
      line-height: 0.75;
    }

    &:focus-visible {
      outline: 1px solid var(--checkbox-700, currentColor);
      outline-offset: 2px;
    }

    &:checked,
    &[aria-checked="true"] {
      box-shadow: 0 0 0 0px var(--checkbox-100),   0 0 0 calc(1px + 0px) var(--checkbox-400), 0 0 var(--checkbox-100);
      background-color: light-dark(var(--checkbox-200), var(--checkbox-600));
      transition: transform 300ms, background-color 100ms;

      &::before {
        content: '✔︎';
        opacity: 100%;
      }

      @media (forced-colors: active) {
        &:before {
          content: '✔︎';
          transform: rotate(0deg);
          background-color: light-dark(var(--checkbox-200), var(--checkbox-600));
          clip-path:none;
        }
      }
    }

    &:indeterminate {
      &:before {
        opacity: 100%;
        transform: rotate(0deg) translate(0, -35%);
        clip-path: polygon(
          20% 100%,
          20% 80%,
          50% 80%,
          50% 80%,
          80% 80%,
          80% 100%
        );
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 20%;
    }

    --checkbox-50: var(--default-50);
    --checkbox-100: var(--default-100);
    --checkbox-200: var(--default-200);
    --checkbox-300: var(--default-300);
    --checkbox-400: var(--default-400);
    --checkbox-500: var(--default-500);
    --checkbox-600: var(--default-600);
    --checkbox-700: var(--default-700);
    --checkbox-800: var(--default-800);
    --checkbox-900: var(--default-900);
    --checkbox-950: var(--default-950);
}

@utility checkbox-primary {
  --checkbox-50: var(--primary-50);
  --checkbox-100: var(--primary-100);
  --checkbox-200: var(--primary-200);
  --checkbox-300: var(--primary-300);
  --checkbox-400: var(--primary-400);
  --checkbox-500: var(--primary-500);
  --checkbox-600: var(--primary-600);
  --checkbox-700: var(--primary-700);
  --checkbox-800: var(--primary-800);
  --checkbox-900: var(--primary-900);
  --checkbox-950: var(--primary-950);
}

@utility checkbox-secondary {
  --checkbox-50: var(--secondary-50);
  --checkbox-100: var(--secondary-100);
  --checkbox-200: var(--secondary-200);
  --checkbox-300: var(--secondary-300);
  --checkbox-400: var(--secondary-400);
  --checkbox-500: var(--secondary-500);
  --checkbox-600: var(--secondary-600);
  --checkbox-700: var(--secondary-700);
  --checkbox-800: var(--secondary-800);
  --checkbox-900: var(--secondary-900);
  --checkbox-950: var(--secondary-950);
}

@utility checkbox-accent {
  --checkbox-50: var(--accent-50);
  --checkbox-100: var(--accent-100);
  --checkbox-200: var(--accent-200);
  --checkbox-300: var(--accent-300);
  --checkbox-400: var(--accent-400);
  --checkbox-500: var(--accent-500);
  --checkbox-600: var(--accent-600);
  --checkbox-700: var(--accent-700);
  --checkbox-800: var(--accent-800);
  --checkbox-900: var(--accent-900);
  --checkbox-950: var(--accent-950);
}

@utility checkbox-info {
  --checkbox-50: var(--info-50);
  --checkbox-100: var(--info-100);
  --checkbox-200: var(--info-200);
  --checkbox-300: var(--info-300);
  --checkbox-400: var(--info-400);
  --checkbox-500: var(--info-500);
  --checkbox-600: var(--info-600);
  --checkbox-700: var(--info-700);
  --checkbox-800: var(--info-800);
  --checkbox-900: var(--info-900);
  --checkbox-950: var(--info-950);
}

@utility checkbox-success {
  --checkbox-50: var(--success-50);
  --checkbox-100: var(--success-100);
  --checkbox-200: var(--success-200);
  --checkbox-300: var(--success-300);
  --checkbox-400: var(--success-400);
  --checkbox-500: var(--success-500);
  --checkbox-600: var(--success-600);
  --checkbox-700: var(--success-700);
  --checkbox-800: var(--success-800);
  --checkbox-900: var(--success-900);
  --checkbox-950: var(--success-950);
}

@utility checkbox-warning {
  --checkbox-50: var(--warning-50);
  --checkbox-100: var(--warning-100);
  --checkbox-200: var(--warning-200);
  --checkbox-300: var(--warning-300);
  --checkbox-400: var(--warning-400);
  --checkbox-500: var(--warning-500);
  --checkbox-600: var(--warning-600);
  --checkbox-700: var(--warning-700);
  --checkbox-800: var(--warning-800);
  --checkbox-900: var(--warning-900);
  --checkbox-950: var(--warning-950);
}

@utility checkbox-error {
  --checkbox-50: var(--error-50);
  --checkbox-100: var(--error-100);
  --checkbox-200: var(--error-200);
  --checkbox-300: var(--error-300);
  --checkbox-400: var(--error-400);
  --checkbox-500: var(--error-500);
  --checkbox-600: var(--error-600);
  --checkbox-700: var(--error-700);
  --checkbox-800: var(--error-800);
  --checkbox-900: var(--error-900);
  --checkbox-950: var(--error-950);
}
