@import "../themes/styles/base.css";
@utility drawer {
  @layer components {
    @apply pointer-events-none invisible absolute inset-0 m-0 grid h-full max-h-none w-full max-w-none place-items-start bg-transparent p-0 text-inherit z-999 overflow-hidden overscroll-contain;

    &:not(drawer:not([open]):not(.drawer-open)),
    &::backdrop {
      @apply opacity-100 starting:invisible starting:opacity-0 bg-backdrop;
    }

    &[open], &.drawer-open{
      @apply pointer-events-auto visible opacity-100 starting:invisible starting:opacity-0;

      .drawer-body {
        translate: 0 0;
        scale: 1;
        opacity: 1;
      }
    }
  }
}

@utility drawer-backdrop {
  @layer components {
    @apply col-start-1 row-start-1 grid self-stretch justify-self-stretch text-transparent -z-1;
    button {
      @apply cursor-pointer;
    }
  }
}

@utility drawer-body {
  @layer components {
    @apply bg-surface text-surface-fore rounded-none border border-black/60 shadow-xl shadow-black/10 forced-colors:outline col-start-1 row-start-1 h-screen max-h-none w-11/12  w-auto max-w-none p-6 transition-all duration-150 scale-95 opacity-0 overflow-y-auto overscroll-contain;
    translate: -100% 0;
    scale: 1;
  }
}


@utility drawer-top {
  @layer components {
    @apply place-items-start;

    :where(.drawer-body) {
      @apply h-auto w-full max-w-none rounded-none;
      max-height: calc(100vh - 5em);
      translate: 0 -100%;
      scale: 1;
    }
  }
}

@utility drawer-bottom {
  @layer components {
    @apply place-items-end;

    :where(.drawer-body) {
      @apply h-auto w-full max-w-none rounded-none;
      max-height: calc(100vh - 5em);
      translate: 0 100%;
      scale: 1;
    }
  }
}

@utility drawer-start {
  @layer components {
    @apply place-items-start;

    :where(.drawer-body) {
      @apply h-screen max-h-none w-auto max-w-none rounded-none;
      translate: -100% 0;
      scale: 1;
    }
  }
}

@utility drawer-end {
  @layer components {
    @apply place-items-end;

    :where(.drawer-body) {
      @apply h-screen max-h-none w-auto max-w-none rounded-none;
      translate: 100% 0;
      scale: 1;
    }
  }
}
