@import "../theme/placement.css";

@utility dropdown {
  @reference relative inline-block;
  position-area: var(--anchor-v, bottom) var(--anchor-h, span-right);

  & > *:not(summary):focus {
    @reference outline-hidden;
  }
  .dropdown-body {
    @reference absolute;
  }
  &:not(details, .dropdown-open, .dropdown-hover:hover, :focus-within) {
    .dropdown-body {
      @reference hidden origin-top opacity-0 scale-9;
    }
  }

  &[popover],
  .dropdown-body {
    @reference starting:[scale:95%] starting:[opacity:0] z-999 w-max transition-discrete duration-200 transition-[opacity,_scale,_display] ease-in-out;
    /* animation: dropdown 0.2s; */
  }

  &.dropdown-open,
  &:not(.dropdown-hover):focus,
  &:focus-within {
    > [tabindex]:first-child {
      @reference pointer-events-none;
    }
    .dropdown-body {
      @reference opacity-100;
    }
  }

  &.dropdown-hover:hover {
    .dropdown-body {
      @reference opacity-100 scale-100;
    }
  }

  &:is(details) {
    summary {
      &::-webkit-details-marker {
        @reference hidden;
      }
    }
  }

  &.dropdown-open,
  &:focus,
  &:focus-within {
    .dropdown-body {
      @reference scale-100;
    }
  }

  /* experimental */
  &:where([popover]) {
    background-color: #0000;
  }
  &[popover] {
    @reference fixed text-inherit;

    @supports not (position-area: bottom) {
      @reference m-auto;

      &.dropdown-open:not(:popover-open) {
        @reference hidden origin-top opacity-0 scale-95;
      }

      &::backdrop {
        background-color: color-mix(in oklab, #000 30%, #0000);
      }
    }

    &:not(.dropdown-open, :popover-open) {
      @reference hidden origin-top opacity-0 scale-95;
    }
  }
}

@utility dropdown-body {
  @reference shadow forced-colors:outline col-start-1 row-start-1 max-h-screen p-3 transition-all duration-150 scale-95 opacity-0 overflow-y-auto overscroll-contain;

  --tw-shadow-color: light-dark(
    color-mix(in oklab, var(--base-300) 50%, transparent),
    color-mix(in oklab, var(--base-900) 60%, transparent)
  );
  border: 1px solid light-dark(var(--base-200), var(--base-900));
  border-radius: var(--radius-dropdown);
  background-color: light-dark(var(--base-0), var(--base-1000));
  color: light-dark(var(--base-800), var(--base-50));
}

/* placements */
/* Positioning Classes */
.dropdown-x-start {
  left: 0; /* Aligns dropdown to start horizontally */
}

.dropdown-x-end {
  right: 0; /* Aligns dropdown to end horizontally */
}

.dropdown-y-top {
  bottom: calc(100% + 10px); /* Positions above the button */
}

.dropdown-y-bottom {
  top: calc(100% + 10px); /* Positions below the button */
}
