@import "../theme/placement.css";
@import "../theme/animation/slide.css";

@utility modal {
  display: grid;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  align-items: center;
  z-index: 999;
  overscroll-behavior: contain;
  overflow: hidden;
  justify-items: center;
  color: inherit;
  padding: 0.75rem;
  background-color: light-dark(var(--base-0), var(--base-1000));
  inset: 0rem;
  margin: 0rem;
  pointer-events: none;
  visibility: hidden;
  position: fixed;

  &:not(modal:not([open]):not(.modal-open)),
  &::backdrop {
    @starting-style {
      visibility: hidden;
      opacity: 0%;
    }

    opacity: 100%;
    background-color: color-mix(in oklab, var(--base-800) 50%, transparent);
  }
  &[open],
  &.modal-open {
    pointer-events: auto;
    visibility: visible;
    opacity: 100%;

    @starting-style {
      visibility: hidden;
      opacity: 0%;
    }

    .modal-body {
      translate: 0 0;
      scale: 1;
      opacity: 1;
    }
  }
}

@utility modal-backdrop {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: stretch;
  justify-self: stretch;
  color: transparent;
  background-color: transparent;
  z-index: -1;

  button {
    cursor: pointer;
  }
}

@utility modal-body {
  /* @reference shadow-sm; */

  box-shadow: light-dark(var(--base-100), var(--base-900)) 0px 1px 1px;

  @media (forced-colors: active) {
    outline-style: solid;
    outline-width: 1px;
  }
  grid-column-start: 1;
  grid-row-start: 1;
  max-height: 100vh;
  width: calc(11 / 12 * 100%);
  max-width: 32rem;
  padding: 1.5rem;
  transform: scale(95%, 95%);
  opacity: 0%;
  overflow-y: auto;
  overscroll-behavior: contain;
  border-radius: var(--radius-modal);

  background-color: light-dark(var(--base-0), var(--base-1000));
  color: light-dark(var(--base-800), var(--base-50));
  border: 1px solid light-dark(var(--base-300), var(--base-900));
  transition:
    translate 0.3s ease-out,
    visibility 0.3s allow-discrete,
    background-color 0.3s ease-out,
    opacity 0.1s ease-out;
}

/* placements */
@utility modal-x-* {
  justify-items: --value(--x- *);
}

@utility modal-y-* {
  align-items: --value(--y- *);
}

/* animation */
@utility modal-slide-* {
  :where(.modal-body) {
    translate: --value(--slide- *);
    scale: 1;
  }
}
