@import "../theme/skins/base.css";
@import "../theme/placement.css";
@import "../theme/animation/slide.css";

@utility modal{
  @apply pointer-events-none invisible fixed inset-0 m-0 grid h-full max-h-none w-full max-w-none items-center justify-items-center bg-transparent p-3 text-inherit z-999 overflow-hidden overscroll-contain;
  &:not(modal:not([open]):not(.modal-open)),
  &::backdrop {
    @apply opacity-100 starting:invisible starting:opacity-0;
    background-image: light-dark(
      color-mix(in oklab,var(--core-100)15%,transparent),
      color-mix(in oklab,var(--core-800)50%,transparent)
    );
  }
  &[open], &.modal-open {
    @apply pointer-events-auto visible opacity-100 starting:invisible starting:opacity-0;

    .modal-body {
      translate: 0 0;
      scale: 1;
      opacity: 1;
    }
  }
}

@utility modal-backdrop {
  @apply col-start-1 row-start-1 grid self-stretch justify-self-stretch text-transparent -z-1;
  background: light-dark(
    color-mix(in oklab,var(--core-300)50%,transparent),
    color-mix(in oklab,var(--core-900)80%,transparent)
  );
  button {
    @apply cursor-pointer;
  }
}

@utility modal-body {
  @apply rounded-[var(--radius-modal)] shadow-sm forced-colors:outline col-start-1 row-start-1 max-h-screen w-11/12 max-w-[32rem] p-6 transition-all duration-150 scale-95 opacity-0 overflow-y-auto overscroll-contain;
  --tw-shadow-color: light-dark(
    color-mix(in oklab,var(--core-300)50%,transparent),
    color-mix(in oklab,var(--core-900)60%,transparent)
  );
  background: light-dark(
    var(--core-50),
    var(--core-950)
  );
  color: light-dark(
    var(--default-800),
    var(--default-50)
  );
  border: 1px solid light-dark(
    var(--core-300),
    var(--core-900)
  );
}



/* placements */
@utility modal-x-* {
  @apply [justify-items:--value(--x-*)];
}

@utility modal-y-* {
  @apply [align-items:--value(--y-*)];
}

/* animation */

@utility modal-slide-* {
  :where(.modal-body) {
    @apply [translate:--value(--slide-*)];
    scale: 1;
  }
}