/* use for breadcrums and menu */
@import "../theme/placement.css";

@utility nav-x-* {
  justify-self: --value(--x-*);
  & > :where(.nav-list) {
    display: flex;
    justify-content:--value(--x-*);
    align-items: center;
    flex-direction: row;
    @apply gap-x-2;
  }
}

@utility nav {
  @apply nav-x-start;
}

@utility nav-y-* {
  justify-self:--value(--y-*);
  & > :where(.nav-list) {
      @apply gap-y-1;
      display: flex;
      align-items: start;
      flex-direction: column;
      width: 100%;
      & > :where(li) {
        width: 100%;
      }
  }
}