@import "../theme/jams/base.css";
@utility modal {
  @layer components {
    @apply pointer-events-none invisible fixed inset-0 m-0 grid h-full max-h-none w-full max-w-none items-center justify-items-center bg-transparent p-0 text-inherit z-999 overflow-hidden overscroll-contain;

    &:not(modal:not([popover]:popover-open)),
    &::backdrop {
      @apply opacity-100 starting:invisible starting:opacity-0 bg-default-600;
    }

    &[popover]:popover-open {
      @apply pointer-events-auto visible opacity-100 starting:invisible starting:opacity-0;

      .modal-body {
        translate: 0 0;
        scale: 1;
        opacity: 1;
      }
    }
  }
}

@utility modal-backdrop {
  @layer components {
    @apply col-start-1 row-start-1 grid self-stretch justify-self-stretch text-transparent -z-1;
    button {
      @apply cursor-pointer;
    }
  }
}

@utility modal-body {
  @layer components {
    @apply bg-core-50 text-core-950 rounded-3xl border border-black/60 shadow-xl shadow-black/10 forced-colors:outline col-start-1 row-start-1 max-h-screen w-11/12 max-w-[32rem] p-6 transition-all duration-150 scale-95 opacity-0 overflow-y-auto overscroll-contain;
  }
}

@utility modal-top {
  @layer components {
    @apply place-items-start;

    :where(.modal-body) {
      @apply h-auto w-full max-w-none rounded-none;
      max-height: calc(100vh - 5em);
      translate: 0 -100%;
      scale: 1;
    }
  }
}

@utility modal-middle {
  @layer components {
    @apply place-items-center;

    :where(.modal-body) {
      @apply h-auto w-11/12 max-w-[32rem];
      max-height: calc(100vh - 5em);
      translate: 0 2%;
      scale: 98%;
    }
  }
}

@utility modal-bottom {
  @layer components {
    @apply place-items-end;

    :where(.modal-body) {
      @apply h-auto w-full max-w-none rounded-none;
      max-height: calc(100vh - 5em);
      translate: 0 100%;
      scale: 1;
    }
  }
}

@utility modal-start {
  @layer components {
    @apply place-items-start;

    :where(.modal-body) {
      @apply h-screen max-h-none w-auto max-w-none rounded-none;
      translate: -100% 0;
      scale: 1;
    }
  }
}

@utility modal-end {
  @layer components {
    @apply place-items-end;

    :where(.modal-body) {
      @apply h-screen max-h-none w-auto max-w-none rounded-none;
      translate: 100% 0;
      scale: 1;
    }
  }
}
