@import "../theme/jams/base.css";

@utility sidebar {
    @apply p-6 border-x border-core-200 dark:border-core-900 max-h-dvh sticky overflow-y-auto gap-y-8;
    background-color: light-dark(
        var(--core-0),
        var(--core-1000)
    );
    display: flex;
    flex-direction: column;
}