@import "../theme/jams/base.css";

@utility sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow-y: auto;
    overflow-x:hidden;
    position: sticky;
    max-height: 100dvh;
    padding: 1.5rem;
    border-inline-style: solid;
    border-inline-width: 1px;
    border-color: light-dark(
        var(--core-200),
        var(--core-900)
    );
    background-color: light-dark(
        var(--core-0),
        var(--core-1000)
    );
}