@utility sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  max-height: 100dvh;
  padding: 1.5rem;
  border-inline-style: solid;
  border-inline-width: 1px;
  border-color: light-dark(var(--base-200), var(--base-900));
  background-color: light-dark(var(--base-0), var(--base-1000));
}
