@utility surface {
    background-color: light-dark(var(--core-50), var(--core-950));
    color: light-dark(var(--core-900), var(--core-50));
}

@utility surface-1 {
    background-color: light-dark(var(--core-100), var(--core-900));
    color: light-dark(var(--core-800), var(--core-100));
}

@utility surface-2 {
    background-color: light-dark(var(--core-200), var(--core-800));
    color: light-dark(var(--core-700), var(--core-200));
}

@utility surface-3 {
    background-color: light-dark(var(--core-300), var(--core-700));
    color: light-dark(var(--core-600), var(--core-300));
}

@utility surface-4 {
    background-color: light-dark(var(--core-400), var(--core-600));
    color: light-dark(var(--core-500), var(--core-400));
}

@utility surface-5 {
    background-color: light-dark(var(--core-500), var(--core-500));
    color: light-dark(var(--core-400), var(--core-500));
}
