@import "./snowberry.css";
@import "./darkberry.css";

@layer base {
  :root, [data-theme] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: var(--scheme-color, light);
    color: var(--color-on-base);
    background-color: var(--color-base);
  }
}

@layer base {
    :root, [data-theme] {
        --palette-shade-light-color: #fafbfc;
        --palette-shade-dark-color: #181a1b;

        --heading--color: light-dark(var(--color-base-950), var(--color-base-50));
        --para--color: light-dark(var(--color-base-950), var(--color-base-200));

        --radius-btn: calc(var(--border-radius) * 2);      /* 0.5rem */
        --radius-input: calc(var(--border-radius) * 2);      /* 0.5rem */
        --radius-checkbox: calc(var(--border-radius) * 1.5);    /* 0.375rem */
        --radius-modal: calc(var(--border-radius) * 4);     /* 1rem */
        --radius-accordion: calc(var(--border-radius) * 2);      /* 0.5rem */
        --radius-dropdown: calc(var(--border-radius) * 2);      /* 0.5rem */
        --radius-card: calc(var(--border-radius) * 4);     /* 1rem */
        --radius-badge: calc(var(--border-radius) * 2);      /* 0.5rem */

        --color-base-soft: light-dark(var(--color-base-600), color-mix(in oklch, black 10%, var(--color-base-400) 40%));
        --color-on-base-soft: var(--color-on-base);
        
        --color-base-active: light-dark(color-mix(in oklch, black 5%, var(--color-base-700) 35%), color-mix(in oklch, black 10%, var(--color-base-400) 50%));

        --color-base-50:  color-mix(in oklch, var(--palette-shade-light-color) 64%, var(--color-base) 36%);
        --color-base-100: color-mix(in oklch, var(--palette-shade-light-color) 53%, var(--color-base) 47%);
        --color-base-200: color-mix(in oklch, var(--palette-shade-light-color) 42%, var(--color-base) 58%);
        --color-base-300: color-mix(in oklch, var(--palette-shade-light-color) 31%, var(--color-base) 69%);
        --color-base-400: color-mix(in oklch, var(--palette-shade-light-color) 20%, var(--color-base) 80%);
        --color-base-500: var(--color-base); /* base */
        --color-base-600: color-mix(in oklch, var(--palette-shade-dark-color) 20%, var(--color-base) 80%);
        --color-base-700: color-mix(in oklch, var(--palette-shade-dark-color) 31%, var(--color-base) 69%);
        --color-base-800: color-mix(in oklch, var(--palette-shade-dark-color) 42%, var(--color-base) 58%);
        --color-base-900: color-mix(in oklch, var(--palette-shade-dark-color) 53%, var(--color-base) 47%);
        --color-base-950: color-mix(in oklch, var(--palette-shade-dark-color) 64%, var(--color-base) 36%);

        --color-neutral-soft: color-mix(in oklab,var(--color-neutral-500) 10%, transparent);
        --color-on-neutral-soft: light-dark(var(--color-neutral-800), var(--color-neutral-500));

        --color-neutral-active: color-mix(in oklab,var(--color-neutral-500) 90%, transparent);

        --color-neutral-50:  color-mix(in oklch, var(--palette-shade-light-color) 64%, var(--color-neutral) 36%);
        --color-neutral-100: color-mix(in oklch, var(--palette-shade-light-color) 53%, var(--color-neutral) 47%);
        --color-neutral-200: color-mix(in oklch, var(--palette-shade-light-color) 42%, var(--color-neutral) 58%);
        --color-neutral-300: color-mix(in oklch, var(--palette-shade-light-color) 31%, var(--color-neutral) 69%);
        --color-neutral-400: color-mix(in oklch, var(--palette-shade-light-color) 20%, var(--color-neutral) 80%);
        --color-neutral-500: var(--color-neutral); /* neutral */
        --color-neutral-600: color-mix(in oklch, var(--palette-shade-dark-color) 20%, var(--color-neutral) 80%);
        --color-neutral-700: color-mix(in oklch, var(--palette-shade-dark-color) 31%, var(--color-neutral) 69%);
        --color-neutral-800: color-mix(in oklch, var(--palette-shade-dark-color) 42%, var(--color-neutral) 58%);
        --color-neutral-900: color-mix(in oklch, var(--palette-shade-dark-color) 53%, var(--color-neutral) 47%);
        --color-neutral-950: color-mix(in oklch, var(--palette-shade-dark-color) 64%, var(--color-neutral) 36%);

        --color-primary-soft: color-mix(in oklab,var(--color-primary-500) 10%, transparent);
        --color-on-primary-soft: light-dark(var(--color-primary-800), var(--color-primary-500));

        --color-primary-active: color-mix(in oklab,var(--color-primary-500) 90%, transparent);

        --color-primary-50:  color-mix(in oklch, var(--palette-shade-light-color) 64%, var(--color-primary) 36%);
        --color-primary-100: color-mix(in oklch, var(--palette-shade-light-color) 53%, var(--color-primary) 47%);
        --color-primary-200: color-mix(in oklch, var(--palette-shade-light-color) 42%, var(--color-primary) 58%);
        --color-primary-300: color-mix(in oklch, var(--palette-shade-light-color) 31%, var(--color-primary) 69%);
        --color-primary-400: color-mix(in oklch, var(--palette-shade-light-color) 20%, var(--color-primary) 80%);
        --color-primary-500: var(--color-primary); /* base */
        --color-primary-600: color-mix(in oklch, var(--palette-shade-dark-color) 20%, var(--color-primary) 80%);
        --color-primary-700: color-mix(in oklch, var(--palette-shade-dark-color) 31%, var(--color-primary) 69%);
        --color-primary-800: color-mix(in oklch, var(--palette-shade-dark-color) 42%, var(--color-primary) 58%);
        --color-primary-900: color-mix(in oklch, var(--palette-shade-dark-color) 53%, var(--color-primary) 47%);
        --color-primary-950: color-mix(in oklch, var(--palette-shade-dark-color) 64%, var(--color-primary) 36%);

        --color-secondary-soft: color-mix(in oklab,var(--color-secondary-500) 10%, transparent);
        --color-on-secondary-soft: light-dark(var(--color-secondary-800), var(--color-secondary-500));

        --color-secondary-active: color-mix(in oklab,var(--color-secondary-500) 90%, transparent);

        --color-secondary-50:  color-mix(in oklch, var(--palette-shade-light-color) 64%, var(--color-secondary) 36%);
        --color-secondary-100: color-mix(in oklch, var(--palette-shade-light-color) 53%, var(--color-secondary) 47%);
        --color-secondary-200: color-mix(in oklch, var(--palette-shade-light-color) 42%, var(--color-secondary) 58%);
        --color-secondary-300: color-mix(in oklch, var(--palette-shade-light-color) 31%, var(--color-secondary) 69%);
        --color-secondary-400: color-mix(in oklch, var(--palette-shade-light-color) 20%, var(--color-secondary) 80%);
        --color-secondary-500: var(--color-secondary); /* base */
        --color-secondary-600: color-mix(in oklch, var(--palette-shade-dark-color) 20%, var(--color-secondary) 80%);
        --color-secondary-700: color-mix(in oklch, var(--palette-shade-dark-color) 31%, var(--color-secondary) 69%);
        --color-secondary-800: color-mix(in oklch, var(--palette-shade-dark-color) 42%, var(--color-secondary) 58%);
        --color-secondary-900: color-mix(in oklch, var(--palette-shade-dark-color) 53%, var(--color-secondary) 47%);
        --color-secondary-950: color-mix(in oklch, var(--palette-shade-dark-color) 64%, var(--color-secondary) 36%);

        --color-accent-soft: color-mix(in oklab,var(--color-accent-500) 10%, transparent);
        --color-on-accent-soft: light-dark(var(--color-accent-800), var(--color-accent-500));

        --color-accent-active: color-mix(in oklab,var(--color-accent-500) 90%, transparent);

        --color-accent-50:  color-mix(in oklch, var(--palette-shade-light-color) 64%, var(--color-accent) 36%);
        --color-accent-100: color-mix(in oklch, var(--palette-shade-light-color) 53%, var(--color-accent) 47%);
        --color-accent-200: color-mix(in oklch, var(--palette-shade-light-color) 42%, var(--color-accent) 58%);
        --color-accent-300: color-mix(in oklch, var(--palette-shade-light-color) 31%, var(--color-accent) 69%);
        --color-accent-400: color-mix(in oklch, var(--palette-shade-light-color) 20%, var(--color-accent) 80%);
        --color-accent-500: var(--color-accent); /* base */
        --color-accent-600: color-mix(in oklch, var(--palette-shade-dark-color) 20%, var(--color-accent) 80%);
        --color-accent-700: color-mix(in oklch, var(--palette-shade-dark-color) 31%, var(--color-accent) 69%);
        --color-accent-800: color-mix(in oklch, var(--palette-shade-dark-color) 42%, var(--color-accent) 58%);
        --color-accent-900: color-mix(in oklch, var(--palette-shade-dark-color) 53%, var(--color-accent) 47%);
        --color-accent-950: color-mix(in oklch, var(--palette-shade-dark-color) 64%, var(--color-accent) 36%);

        --color-info-soft: color-mix(in oklab,var(--color-info-500) 10%, transparent);
        --color-on-info-soft: light-dark(var(--color-info-800), var(--color-info-500));

        --color-info-active: color-mix(in oklab,var(--color-info-500) 90%, transparent);

        --color-info-50:  color-mix(in oklch, var(--palette-shade-light-color) 64%, var(--color-info) 36%);
        --color-info-100: color-mix(in oklch, var(--palette-shade-light-color) 53%, var(--color-info) 47%);
        --color-info-200: color-mix(in oklch, var(--palette-shade-light-color) 42%, var(--color-info) 58%);
        --color-info-300: color-mix(in oklch, var(--palette-shade-light-color) 31%, var(--color-info) 69%);
        --color-info-400: color-mix(in oklch, var(--palette-shade-light-color) 20%, var(--color-info) 80%);
        --color-info-500: var(--color-info); /* base */
        --color-info-600: color-mix(in oklch, var(--palette-shade-dark-color) 20%, var(--color-info) 80%);
        --color-info-700: color-mix(in oklch, var(--palette-shade-dark-color) 31%, var(--color-info) 69%);
        --color-info-800: color-mix(in oklch, var(--palette-shade-dark-color) 42%, var(--color-info) 58%);
        --color-info-900: color-mix(in oklch, var(--palette-shade-dark-color) 53%, var(--color-info) 47%);
        --color-info-950: color-mix(in oklch, var(--palette-shade-dark-color) 64%, var(--color-info) 36%);

        --color-success-soft: color-mix(in oklab,var(--color-success-500) 10%, transparent);
        --color-on-success-soft: light-dark(var(--color-success-800), var(--color-success-500));

        --color-success-active: color-mix(in oklab,var(--color-success-500) 90%, transparent);

        --color-success-50:  color-mix(in oklch, var(--palette-shade-light-color) 64%, var(--color-success) 36%);
        --color-success-100: color-mix(in oklch, var(--palette-shade-light-color) 53%, var(--color-success) 47%);
        --color-success-200: color-mix(in oklch, var(--palette-shade-light-color) 42%, var(--color-success) 58%);
        --color-success-300: color-mix(in oklch, var(--palette-shade-light-color) 31%, var(--color-success) 69%);
        --color-success-400: color-mix(in oklch, var(--palette-shade-light-color) 20%, var(--color-success) 80%);
        --color-success-500: var(--color-success); /* base */
        --color-success-600: color-mix(in oklch, var(--palette-shade-dark-color) 20%, var(--color-success) 80%);
        --color-success-700: color-mix(in oklch, var(--palette-shade-dark-color) 31%, var(--color-success) 69%);
        --color-success-800: color-mix(in oklch, var(--palette-shade-dark-color) 42%, var(--color-success) 58%);
        --color-success-900: color-mix(in oklch, var(--palette-shade-dark-color) 53%, var(--color-success) 47%);
        --color-success-950: color-mix(in oklch, var(--palette-shade-dark-color) 64%, var(--color-success) 36%);

        --color-warning-soft: color-mix(in oklab,var(--color-warning-500) 10%, transparent);
        --color-on-warning-soft: light-dark(var(--color-warning-800), var(--color-warning-500));

        --color-warning-active: color-mix(in oklab,var(--color-warning-500) 90%, transparent);

        --color-warning-50:  color-mix(in oklch, var(--palette-shade-light-color) 64%, var(--color-warning) 36%);
        --color-warning-100: color-mix(in oklch, var(--palette-shade-light-color) 53%, var(--color-warning) 47%);
        --color-warning-200: color-mix(in oklch, var(--palette-shade-light-color) 42%, var(--color-warning) 58%);
        --color-warning-300: color-mix(in oklch, var(--palette-shade-light-color) 31%, var(--color-warning) 69%);
        --color-warning-400: color-mix(in oklch, var(--palette-shade-light-color) 20%, var(--color-warning) 80%);
        --color-warning-500: var(--color-warning); /* base */
        --color-warning-600: color-mix(in oklch, var(--palette-shade-dark-color) 20%, var(--color-warning) 80%);
        --color-warning-700: color-mix(in oklch, var(--palette-shade-dark-color) 31%, var(--color-warning) 69%);
        --color-warning-800: color-mix(in oklch, var(--palette-shade-dark-color) 42%, var(--color-warning) 58%);
        --color-warning-900: color-mix(in oklch, var(--palette-shade-dark-color) 53%, var(--color-warning) 47%);
        --color-warning-950: color-mix(in oklch, var(--palette-shade-dark-color) 64%, var(--color-warning) 36%);


        --color-error-soft: color-mix(in oklab,var(--color-error-500) 10%, transparent);
        --color-on-error-soft: light-dark(var(--color-error-800), var(--color-error-500));
      
        --color-error-active: color-mix(in oklab,var(--color-error-500) 90%, transparent);

        --color-error-50:  color-mix(in oklch, var(--palette-shade-light-color) 64%, var(--color-error) 36%);
        --color-error-100: color-mix(in oklch, var(--palette-shade-light-color) 53%, var(--color-error) 47%);
        --color-error-200: color-mix(in oklch, var(--palette-shade-light-color) 42%, var(--color-error) 58%);
        --color-error-300: color-mix(in oklch, var(--palette-shade-light-color) 31%, var(--color-error) 69%);
        --color-error-400: color-mix(in oklch, var(--palette-shade-light-color) 20%, var(--color-error) 80%);
        --color-error-500: var(--color-error); /* base */
        --color-error-600: color-mix(in oklch, var(--palette-shade-dark-color) 20%, var(--color-error) 80%);
        --color-error-700: color-mix(in oklch, var(--palette-shade-dark-color) 31%, var(--color-error) 69%);
        --color-error-800: color-mix(in oklch, var(--palette-shade-dark-color) 42%, var(--color-error) 58%);
        --color-error-900: color-mix(in oklch, var(--palette-shade-dark-color) 53%, var(--color-error) 47%);
        --color-error-950: color-mix(in oklch, var(--palette-shade-dark-color) 64%, var(--color-error) 36%);
    }
}

/* Enables utility classes using color ranges, e.g., text-primary-100 */
@theme inline {
    --color-base: var(--color-base-500);
    --color-base-50: var(--color-base-50);
    --color-base-100: var(--color-base-100);
    --color-base-200: var(--color-base-200);
    --color-base-300: var(--color-base-300);
    --color-base-400: var(--color-base-400);
    --color-base-500: var(--color-base-500);
    --color-base-600: var(--color-base-600);
    --color-base-700: var(--color-base-700);
    --color-base-800: var(--color-base-800);
    --color-base-900: var(--color-base-900);
    --color-base-950: var(--color-base-950);

    --color-neutral: var(--color-neutral-500);
    --color-neutral-50: var(--color-neutral-50);
    --color-neutral-100: var(--color-neutral-100);
    --color-neutral-200: var(--color-neutral-200);
    --color-neutral-300: var(--color-neutral-300);
    --color-neutral-400: var(--color-neutral-400);
    --color-neutral-500: var(--color-neutral-500);
    --color-neutral-600: var(--color-neutral-600);
    --color-neutral-700: var(--color-neutral-700);
    --color-neutral-800: var(--color-neutral-800);
    --color-neutral-900: var(--color-neutral-900);
    --color-neutral-950: var(--color-neutral-950);

    --color-primary: var(--color-primary-500);
    --color-primary-50: var(--color-primary-50);
    --color-primary-100: var(--color-primary-100);
    --color-primary-200: var(--color-primary-200);
    --color-primary-300: var(--color-primary-300);
    --color-primary-400: var(--color-primary-400);
    --color-primary-500: var(--color-primary-500);
    --color-primary-600: var(--color-primary-600);
    --color-primary-700: var(--color-primary-700);
    --color-primary-800: var(--color-primary-800);
    --color-primary-900: var(--color-primary-900);
    --color-primary-950: var(--color-primary-950);

    --color-secondary: var(--color-secondary-500);
    --color-secondary-50: var(--color-secondary-50);
    --color-secondary-100: var(--color-secondary-100);
    --color-secondary-200: var(--color-secondary-200);
    --color-secondary-300: var(--color-secondary-300);
    --color-secondary-400: var(--color-secondary-400);
    --color-secondary-500: var(--color-secondary-500);
    --color-secondary-600: var(--color-secondary-600);
    --color-secondary-700: var(--color-secondary-700);
    --color-secondary-800: var(--color-secondary-800);
    --color-secondary-900: var(--color-secondary-900);
    --color-secondary-950: var(--color-secondary-950);

    --color-accent: var(--color-accent-500);
    --color-accent-50: var(--color-accent-50);
    --color-accent-100: var(--color-accent-100);
    --color-accent-200: var(--color-accent-200);
    --color-accent-300: var(--color-accent-300);
    --color-accent-400: var(--color-accent-400);
    --color-accent-500: var(--color-accent-500);
    --color-accent-600: var(--color-accent-600);
    --color-accent-700: var(--color-accent-700);
    --color-accent-800: var(--color-accent-800);
    --color-accent-900: var(--color-accent-900);
    --color-accent-950: var(--color-accent-950);

    --color-info: var(--color-info-500);
    --color-info-50: var(--color-info-50);
    --color-info-100: var(--color-info-100);
    --color-info-200: var(--color-info-200);
    --color-info-300: var(--color-info-300);
    --color-info-400: var(--color-info-400);
    --color-info-500: var(--color-info-500);
    --color-info-600: var(--color-info-600);
    --color-info-700: var(--color-info-700);
    --color-info-800: var(--color-info-800);
    --color-info-900: var(--color-info-900);
    --color-info-950: var(--color-info-950);

    --color-success: var(--color-success-500);
    --color-success-50: var(--color-success-50);
    --color-success-100: var(--color-success-100);
    --color-success-200: var(--color-success-200);
    --color-success-300: var(--color-success-300);
    --color-success-400: var(--color-success-400);
    --color-success-500: var(--color-success-500);
    --color-success-600: var(--color-success-600);
    --color-success-700: var(--color-success-700);
    --color-success-800: var(--color-success-800);
    --color-success-900: var(--color-success-900);
    --color-success-950: var(--color-success-950);

    --color-warning: var(--color-warning-500);
    --color-warning-50: var(--color-warning-50);
    --color-warning-100: var(--color-warning-100);
    --color-warning-200: var(--color-warning-200);
    --color-warning-300: var(--color-warning-300);
    --color-warning-400: var(--color-warning-400);
    --color-warning-500: var(--color-warning-500);
    --color-warning-600: var(--color-warning-600);
    --color-warning-700: var(--color-warning-700);
    --color-warning-800: var(--color-warning-800);
    --color-warning-900: var(--color-warning-900);
    --color-warning-950: var(--color-warning-950);

    --color-error: var(--color-error-500);
    --color-error-50: var(--color-error-50);
    --color-error-100: var(--color-error-100);
    --color-error-200: var(--color-error-200);
    --color-error-300: var(--color-error-300);
    --color-error-400: var(--color-error-400);
    --color-error-500: var(--color-error-500);
    --color-error-600: var(--color-error-600);
    --color-error-700: var(--color-error-700);
    --color-error-800: var(--color-error-800);
    --color-error-900: var(--color-error-900);
    --color-error-950: var(--color-error-950);
}