@layer theme {
    .example {
        --scheme-color: light;
        --border-radius: 0.25rem;

        --base: ;
        --on-base:;

        --neutral: ;
        --on-neutral:;
        --neutral-on-base: ;

        --primary: ;
        --on-primary: ;
        --primary-on-base:;

        --secondary: ;
        --on-secondary: ;
        --secondary-on-base: ;

        --accent: ;
        --on-accent: ;
        --accent-on-base:;

        --info: ;
        --on-info: ;
        --info-on-base: ;

        --success: ;
        --on-success: ;
        --success-on-base:;
        
        --warning:;
        --on-warning: ;
        --warning-on-base:;

        --error:;
        --on-error: ;
        --error-on-base:;
    }
}