@layer theme {
  :is([data-theme="snowberry"], [data-theme="light"], :not([data-theme])) {
        --scheme-color: light;
        --border-radius: 0.25rem;

        --color-base: oklch(0.99 0 0);
        --color-on-base:oklch(0.22 0 0);

        --color-neutral: oklch(0.15 0 0);
        --color-on-neutral: oklch(1 0 0);

        --color-primary: oklch(51.1% 0.262 276.966);
        --color-on-primary: oklch(96.2% 0.018 272.314);

        --color-secondary: oklch(0.591 0.293 322.896);
        --color-on-secondary: oklch(1 0 0);

        --color-accent: oklch(0.541 0.281 293.009);
        --color-on-accent: oklch(1 0 0);

        --color-info: oklch(0.685 0.169 237.323);
        --color-on-info: oklch(0.15 0 0);

        --color-success: oklch(0.792 0.209 151.711);
        --color-on-success: oklch(0.15 0 0);
        
        --color-warning: oklch(0.852 0.199 91.936);
        --color-on-warning: oklch(0.15 0 0);

        --color-error: oklch(0.577 0.245 27.325);
        --color-on-error: oklch(1 0 0);
    }
}