/* Size variants */
@utility loading-xs {
    --loading--size: 1rem;
    --loading--thickness: 1.5px;
}

@utility loading-sm {
    --loading--size: 1.25rem;
    --loading--thickness: 2px;
}

@utility loading-md {
    --loading--size: 1.5rem;
    --loading--thickness: 2px;
}

@utility loading-lg {
    --loading--size: 2rem;
    --loading--thickness: 2.5px;
}

@utility loading-xl {
    --loading--size: 2.5rem;
    --loading--thickness: 3px;
}