@utility pin-input-primary {
    --color-pin-input-active: var(--color-primary);
}

@utility pin-input-secondary {
    --color-pin-input-active: var(--color-secondary);
}

@utility pin-input-accent {
    --color-pin-input-active: var(--color-accent);
}

@utility pin-input-neutral {
    --color-pin-input-active: var(--color-neutral);
}

@utility pin-input-info {
    --color-pin-input-active: var(--color-info);
}

@utility pin-input-success {
    --color-pin-input-active: var(--color-success);
}

@utility pin-input-warning {
    --color-pin-input-active: var(--color-warning);
}

@utility pin-input-error {
    --color-pin-input-active: var(--color-error);
}
