@utility pin-input-xs {
    --pin-input--size: 2rem;
    --pin-input--font-size: 0.75rem;
    --pin-input--gap: 0.375rem;
}

@utility pin-input-sm {
    --pin-input--size: 2.5rem;
    --pin-input--font-size: 0.875rem;
    --pin-input--gap: 0.5rem;
}

@utility pin-input-md {
    --pin-input--size: 3rem;
    --pin-input--font-size: 1rem;
    --pin-input--gap: 0.625rem;
}

@utility pin-input-lg {
    --pin-input--size: 3.5rem;
    --pin-input--font-size: 1.25rem;
    --pin-input--gap: 0.75rem;
}

@utility pin-input-xl {
    --pin-input--size: 4rem;
    --pin-input--font-size: 1.5rem;
    --pin-input--gap: 0.875rem;
}
