@theme {
    --animate-wiggle: wiggle 1s linear infinite;
    @keyframes wiggle {
      0% {
        transform: rotate(345deg) translateY(-100%);
      }
      50% {
        transform: rotate(325deg) translateY(100%);
      }
      100% {
        transform: rotate(345deg) translateY(200%);
      }
    }
}