@import "./styles.css";

@utility carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
    scrollbar-width: none;
    gap: var(--carousel--gap, 0);

    &::-webkit-scrollbar {
        display: none;
    }
}

@utility carousel-item {
    scroll-snap-align: var(--carousel-item--snap, start);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
