@utility carousel-vertical {
    flex-direction: column;
    overflow-x: visible;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    .carousel-item {
        width: 100%;
    }
}

@utility carousel-center {
    .carousel-item {
        scroll-snap-align: center;
    }
}

@utility carousel-end {
    .carousel-item {
        scroll-snap-align: end;
    }
}
