@utility carousel-vertical {
    flex-direction: column;
    overflow-x: visible;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    :where(&) :where(.carousel-item) {
        width: 100%;
    }
}

@utility carousel-center {
    --carousel-item--snap: center;
}

@utility carousel-end {
    --carousel-item--snap: end;
}
