@utility checkbox-primary {
  --checkbox--bg-color: var(--color-primary-100);
  --checkbox--color: var(--color-primary-700);

  --checkbox--box-shadow:
    0 0 0 0px var(--color-primary-100),
    0 0 0 calc(1px + 0px) var(--color-primary-300), 0 0 var(--color-primary-100);

  @variant focus-visible {
    --checkbox--outline-color: var(--color-primary-700);
  }

  @variant checked-or-aria-checked {
    --checkbox--box-shadow:
      0 0 0 0px var(--color-primary-100),
      0 0 0 calc(1px + 0px) var(--color-primary-500),
      0 0 var(--color-primary-100);
    --checkbox--bg-color: var(--color-primary-300);

    @variant dark {
      --checkbox--box-shadow:
        0 0 0 0px var(--color-primary-100),
        0 0 0 calc(1px + 0px) var(--color-primary-700),
        0 0 var(--color-primary-100);
      --checkbox--bg-color: var(--color-primary-600);
    }

    @variant forced-colors {
      @variant before {
        --checkbox-bg-color: var(--color-primary-200);

        @variant dark {
          --checkbox-bg-color: var(--color-primary-600);
        }
      }
    }
  }

  @variant dark {
    --checkbox--bg-color: var(--color-primary-600);
    --checkbox--color: var(--color-primary-200);

    --checkbox--box-shadow:
      0 0 0 0px var(--color-primary-100),
      0 0 0 calc(1px + 0px) var(--color-primary-800),
      0 0 var(--color-primary-100);
  }
}

@utility checkbox-secondary {
  --checkbox--bg-color: var(--color-secondary-100);
  --checkbox--color: var(--color-secondary-700);

  --checkbox--box-shadow:
    0 0 0 0px var(--color-secondary-100),
    0 0 0 calc(1px + 0px) var(--color-secondary-300),
    0 0 var(--color-secondary-100);

  @variant focus-visible {
    --checkbox--outline-color: var(--color-secondary-700);
  }

  @variant checked-or-aria-checked {
    --checkbox--box-shadow:
      0 0 0 0px var(--color-secondary-100),
      0 0 0 calc(1px + 0px) var(--color-secondary-500),
      0 0 var(--color-secondary-100);
    --checkbox--bg-color: var(--color-secondary-300);

    @variant dark {
      --checkbox--box-shadow:
        0 0 0 0px var(--color-secondary-100),
        0 0 0 calc(1px + 0px) var(--color-secondary-700),
        0 0 var(--color-secondary-100);
      --checkbox--bg-color: var(--color-secondary-600);
    }

    @variant forced-colors {
      @variant before {
        --checkbox-bg-color: var(--color-secondary-200);

        @variant dark {
          --checkbox-bg-color: var(--color-secondary-600);
        }
      }
    }
  }

  @variant dark {
    --checkbox--bg-color: var(--color-secondary-600);
    --checkbox--color: var(--color-secondary-200);

    --checkbox--box-shadow:
      0 0 0 0px var(--color-secondary-100),
      0 0 0 calc(1px + 0px) var(--color-secondary-800),
      0 0 var(--color-secondary-100);
  }
}

@utility checkbox-accent {
  --checkbox--bg-color: var(--color-accent-100);
  --checkbox--color: var(--color-accent-700);

  --checkbox--box-shadow:
    0 0 0 0px var(--color-accent-100),
    0 0 0 calc(1px + 0px) var(--color-accent-300), 0 0 var(--color-accent-100);

  @variant focus-visible {
    --checkbox--outline-color: var(--color-accent-700);
  }

  @variant checked-or-aria-checked {
    --checkbox--box-shadow:
      0 0 0 0px var(--color-accent-100),
      0 0 0 calc(1px + 0px) var(--color-accent-500), 0 0 var(--color-accent-100);
    --checkbox--bg-color: var(--color-accent-300);

    @variant dark {
      --checkbox--box-shadow:
        0 0 0 0px var(--color-accent-100),
        0 0 0 calc(1px + 0px) var(--color-accent-700),
        0 0 var(--color-accent-100);
      --checkbox--bg-color: var(--color-accent-600);
    }

    @variant forced-colors {
      @variant before {
        --checkbox-bg-color: var(--color-accent-200);

        @variant dark {
          --checkbox-bg-color: var(--color-accent-600);
        }
      }
    }
  }

  @variant dark {
    --checkbox--bg-color: var(--color-accent-600);
    --checkbox--color: var(--color-accent-200);

    --checkbox--box-shadow:
      0 0 0 0px var(--color-accent-100),
      0 0 0 calc(1px + 0px) var(--color-accent-800), 0 0 var(--color-accent-100);
  }
}

@utility checkbox-info {
  --checkbox--bg-color: var(--color-info-100);
  --checkbox--color: var(--color-info-700);

  --checkbox--box-shadow:
    0 0 0 0px var(--color-info-100),
    0 0 0 calc(1px + 0px) var(--color-info-300), 0 0 var(--color-info-100);

  @variant focus-visible {
    --checkbox--outline-color: var(--color-info-700);
  }

  @variant checked-or-aria-checked {
    --checkbox--box-shadow:
      0 0 0 0px var(--color-info-100),
      0 0 0 calc(1px + 0px) var(--color-info-500), 0 0 var(--color-info-100);
    --checkbox--bg-color: var(--color-info-300);

    @variant dark {
      --checkbox--box-shadow:
        0 0 0 0px var(--color-info-100),
        0 0 0 calc(1px + 0px) var(--color-info-700), 0 0 var(--color-info-100);
      --checkbox--bg-color: var(--color-info-600);
    }

    @variant forced-colors {
      @variant before {
        --checkbox-bg-color: var(--color-info-200);

        @variant dark {
          --checkbox-bg-color: var(--color-info-600);
        }
      }
    }
  }

  @variant dark {
    --checkbox--bg-color: var(--color-info-600);
    --checkbox--color: var(--color-info-200);

    --checkbox--box-shadow:
      0 0 0 0px var(--color-info-100),
      0 0 0 calc(1px + 0px) var(--color-info-800), 0 0 var(--color-info-100);
  }
}

@utility checkbox-success {
  --checkbox--bg-color: var(--color-success-100);
  --checkbox--color: var(--color-success-700);

  --checkbox--box-shadow:
    0 0 0 0px var(--color-success-100),
    0 0 0 calc(1px + 0px) var(--color-success-300), 0 0 var(--color-success-100);

  @variant focus-visible {
    --checkbox--outline-color: var(--color-success-700);
  }

  @variant checked-or-aria-checked {
    --checkbox--box-shadow:
      0 0 0 0px var(--color-success-100),
      0 0 0 calc(1px + 0px) var(--color-success-500),
      0 0 var(--color-success-100);
    --checkbox--bg-color: var(--color-success-300);

    @variant dark {
      --checkbox--box-shadow:
        0 0 0 0px var(--color-success-100),
        0 0 0 calc(1px + 0px) var(--color-success-700),
        0 0 var(--color-success-100);
      --checkbox--bg-color: var(--color-success-600);
    }

    @variant forced-colors {
      @variant before {
        --checkbox-bg-color: var(--color-success-200);

        @variant dark {
          --checkbox-bg-color: var(--color-success-600);
        }
      }
    }
  }

  @variant dark {
    --checkbox--bg-color: var(--color-success-600);
    --checkbox--color: var(--color-success-200);

    --checkbox--box-shadow:
      0 0 0 0px var(--color-success-100),
      0 0 0 calc(1px + 0px) var(--color-success-800),
      0 0 var(--color-success-100);
  }
}

@utility checkbox-warning {
  --checkbox--bg-color: var(--color-warning-100);
  --checkbox--color: var(--color-warning-700);

  --checkbox--box-shadow:
    0 0 0 0px var(--color-warning-100),
    0 0 0 calc(1px + 0px) var(--color-warning-300), 0 0 var(--color-warning-100);

  @variant focus-visible {
    --checkbox--outline-color: var(--color-warning-700);
  }

  @variant checked-or-aria-checked {
    --checkbox--box-shadow:
      0 0 0 0px var(--color-warning-100),
      0 0 0 calc(1px + 0px) var(--color-warning-500),
      0 0 var(--color-warning-100);
    --checkbox--bg-color: var(--color-warning-300);

    @variant dark {
      --checkbox--box-shadow:
        0 0 0 0px var(--color-warning-100),
        0 0 0 calc(1px + 0px) var(--color-warning-700),
        0 0 var(--color-warning-100);
      --checkbox--bg-color: var(--color-warning-600);
    }

    @variant forced-colors {
      @variant before {
        --checkbox-bg-color: var(--color-warning-200);

        @variant dark {
          --checkbox-bg-color: var(--color-warning-600);
        }
      }
    }
  }

  @variant dark {
    --checkbox--bg-color: var(--color-warning-600);
    --checkbox--color: var(--color-warning-200);

    --checkbox--box-shadow:
      0 0 0 0px var(--color-warning-100),
      0 0 0 calc(1px + 0px) var(--color-warning-800),
      0 0 var(--color-warning-100);
  }
}

@utility checkbox-error {
  --checkbox--bg-color: var(--color-error-100);
  --checkbox--color: var(--color-error-700);

  --checkbox--box-shadow:
    0 0 0 0px var(--color-error-100),
    0 0 0 calc(1px + 0px) var(--color-error-300), 0 0 var(--color-error-100);

  @variant focus-visible {
    --checkbox--outline-color: var(--color-error-700);
  }

  @variant checked-or-aria-checked {
    --checkbox--box-shadow:
      0 0 0 0px var(--color-error-100),
      0 0 0 calc(1px + 0px) var(--color-error-500), 0 0 var(--color-error-100);
    --checkbox--bg-color: var(--color-error-300);

    @variant dark {
      --checkbox--box-shadow:
        0 0 0 0px var(--color-error-100),
        0 0 0 calc(1px + 0px) var(--color-error-700), 0 0 var(--color-error-100);
      --checkbox--bg-color: var(--color-error-600);
    }

    @variant forced-colors {
      @variant before {
        --checkbox-bg-color: var(--color-error-200);

        @variant dark {
          --checkbox-bg-color: var(--color-error-600);
        }
      }
    }
  }

  @variant dark {
    --checkbox--bg-color: var(--color-error-600);
    --checkbox--color: var(--color-error-200);

    --checkbox--box-shadow:
      0 0 0 0px var(--color-error-100),
      0 0 0 calc(1px + 0px) var(--color-error-800), 0 0 var(--color-error-100);
  }
}
