@utility checkbox-circle {
  --checkbox--radius: calc(infinity * 1px);
  --checkbox--aspect-ratio: 1 / 1;
}

@utility checkbox-rounded {
  --checkbox--radius: calc(infinity * 1px);
  --checkbox--aspect-ratio: 1 / 1;
}

@utility checkbox-square {
  --checkbox--radius: var(--radius-checkbox);
  --checkbox--aspect-ratio: 1 / 1;
}
