@utility checkbox-circle {
  --checkbox--border-radius: calc(infinity * 1px);
  --checkbox--aspect-ratio: 1 / 1;
}

@utility checkbox-rounded {
  --checkbox--border-radius: calc(infinity * 1px);
  --checkbox--aspect-ratio: 1 / 1;
}

@utility checkbox-square {
  --checkbox--border-radius: var(--radius-checkbox);
  --checkbox--aspect-ratio: 1 / 1;
}
