
@import "./safelist.css";

@utility sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  max-height: calc(100dvh - (var(--spacing) * 14.25));
  /* padding: 1rem; */
  border-inline-style: solid;
  border-inline-width: 1px;
  border-color: var(--color-base-soft);
  background-color: var(--color-base);
}