@import "./colors.css";
@import "./sizes.css";

@utility status {
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    width: var(--status--size, 0.625rem);
    border-radius: 9999px;
    background-color: var(--color-status, color-mix(in oklab, var(--color-on-base) 25%, transparent));
    outline: 2px solid var(--color-base);
    outline-offset: 1px;
}
