@utility status-primary {
    --color-status: var(--color-primary);
}

@utility status-secondary {
    --color-status: var(--color-secondary);
}

@utility status-accent {
    --color-status: var(--color-accent);
}

@utility status-neutral {
    --color-status: var(--color-neutral);
}

@utility status-info {
    --color-status: var(--color-info);
}

@utility status-success {
    --color-status: var(--color-success);
}

@utility status-warning {
    --color-status: var(--color-warning);
}

@utility status-error {
    --color-status: var(--color-error);
}
