@utility status-xs {
    --status--size: 0.375rem;
}

@utility status-sm {
    --status--size: 0.5rem;
}

@utility status-md {
    --status--size: 0.625rem;
}

@utility status-lg {
    --status--size: 0.875rem;
}

@utility status-xl {
    --status--size: 1.125rem;
}
