@import "./direction.css";

@utility footer {
    display: grid;
    width: 100%;
    grid-auto-flow: row;
    place-items: start;
    column-gap: calc(var(--spacing) * 4);
    row-gap: calc(var(--spacing) * 10);
    font-size: 0.875rem;
    line-height: 1.25rem;

    & > * {
        display: grid;
        place-items: start;
        gap: calc(var(--spacing) * 2);
    }

    &[class*=footer-center]{
      grid-auto-flow: column dense;
      place-items: center;
      text-align: center;

      & > * {
        place-items: center;
      }
    }
}

@utility footer-title {
    margin-bottom: calc(var(--spacing) * 2);
    text-transform: uppercase;
    opacity: 60%;
    font-weight: 600;
}

