@utility footer-x {
    grid-auto-flow: column;

    &[class*=footer-center] {
      grid-auto-flow: row dense;
    }
}

@utility footer-y {
    grid-auto-flow: row;

    &[class*=footer-center] {
        grid-auto-flow: column dense;
    }
}