@utility footer-x {
    grid-auto-flow: column;

    &.footer-center {
      grid-auto-flow: row dense;
    }
}

@utility footer-y {
    grid-auto-flow: row;

    &.footer-center {
        grid-auto-flow: column dense;
    }
}