@import "tailwindcss";

@plugin "frutjam" {
    prefix: "fj";
}

@layer theme {
    [data-theme="ocean"] {
        --scheme-color: light;
        --border-radius: 0.25rem;
        --color-base: oklch(98% 0.01 220);
        --color-on-base: oklch(20% 0.02 220);
        --color-primary: oklch(60% 0.2 220);
        --color-on-primary: oklch(98% 0.01 220);
    }

    [data-theme="ocean-dark"] {
        --scheme-color: dark;
        --border-radius: 0.25rem;
        --color-base: oklch(15% 0.02 220);
        --color-on-base: oklch(95% 0.01 220);
        --color-primary: oklch(65% 0.2 220);
        --color-on-primary: oklch(10% 0.01 220);
    }
}