@import "./safelist.css";
@import "./sizes.css";
@import "./styles.css";

@utility table {
  --radius-table: calc(var(--border-radius) * 4); /* 1rem */
  --color-table: var(--color-base);
  --color-table-soft: var(--color-base-soft);
  --color-on-table-soft: var(--color-on-base-soft);
  --color-table-active: var(--color-base-active);

  position: relative;
  width: 100%;
  text-align: start;
  border-radius: var(--radius-table);
  font-size: var(--text-base);
  transition: all 250ms ease-out;

  :where(th, td) {
    padding-inline: 1rem;
    padding-block: 0.75rem;
    vertical-align: middle;
    text-align: start;
  }

  :where(thead, tfoot) {
    font-size: 0.875rem;
    font-weight: 600;
    white-space: nowrap;
    color: var(--color-on-table-soft);
  }

  :where(tfoot) {
    border-block-start: 1px solid var(--color-table-active);
  }

  :where(thead tr, tbody tr:not(:last-child)) {
    border-block-end: 1px solid var(--color-table-active);
  }
}