@source inline("table");
@source inline("table-hover");
@source inline("table-zebra");
@source inline("table-zebra-{rows,cols}");
@source inline("table-pin-{rows,cols}");
@source inline("table-{xs,sm,md,lg,xl}");