@utility table-xs {
  :not(thead, tfoot) tr {
    font-size: 0.6875rem;
  }

  :where(th, td) {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
  }
}

@utility table-sm {
  :not(thead, tfoot) tr {
    font-size: 0.75rem;
  }

  :where(th, td) {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
  }
}

@utility table-md {
  :not(thead, tfoot) tr {
    font-size: 0.875rem;
  }

  :where(th, td) {
    padding-inline: 1rem;
    padding-block: 0.75rem;
  }
}

@utility table-lg {
  :not(thead, tfoot) tr {
    font-size: 1.125rem;
  }

  :where(th, td) {
    padding-inline: 1.25rem;
    padding-block: 1rem;
  }
}

@utility table-xl {
  :not(thead, tfoot) tr {
    font-size: 1.375rem;
  }

  :where(th, td) {
    padding-inline: 1.5rem;
    padding-block: 1.25rem;
  }
}
