@utility table-hover {
  tbody {
    tr:hover {
      background-color: var(--color-table-soft);
    }
  }
}

@utility table-zebra {
  tbody {
    tr {
      &:where(:nth-child(even)) {
        background-color: var(--color-table-soft);
      }
    }
  }
}

@utility table-zebra-rows {
  tbody {
    tr {
      &:where(:nth-child(even)) {
        background-color: var(--color-table-soft);
      }
    }
  }
}

@utility table-zebra-cols {
  tbody {
    tr {
      td:where(:nth-child(even)) {
        background-color: var(--color-table-soft);
      }
    }
  }
}

@utility table-pin-rows {
  thead {
    tr {
      position: sticky;
      top: 0;
      background-color: var(--color-table);
      z-index: 1;
    }
  }
}

@utility table-pin-cols {
  tr th {
    position: sticky;
    left: 0;
    right: 0;
    background-color: var(--color-table);
  }
}