@import "./direction.css";
@import "./structure.css";

@utility join {
  display: inline-flex;
  align-items: stretch;
  --join-radius: calc(var(--border-radius) * 2);      /* 0.5rem */
  
  & * {
    border-start-start-radius: var(--join-ss, 0);
    border-start-end-radius: var(--join-se, 0);
    border-end-start-radius: var(--join-es, 0);
    border-end-end-radius: var(--join-ee, 0);
  }

  @apply join-horizontal
}
