@utility join-horizontal {
  flex-direction: row;

  > .join-item:where(:first-child),
  :first-child:not(:last-child) :where(.join-item) {
    --join-ss: var(--join-radius, calc(var(--border-radius) * 2));
    --join-se: 0;
    --join-es: var(--join-radius, calc(var(--border-radius) * 2));
    --join-ee: 0;
  }

  > .join-item:where(:last-child),
  :last-child:not(:first-child) :where(.join-item) {
    --join-ss: 0;
    --join-se: var(--join-radius, calc(var(--border-radius) * 2));
    --join-es: 0;
    --join-ee: var(--join-radius, calc(var(--border-radius) * 2));
  }

  > .join-item:where(:only-child),
  :only-child :where(.join-item) {
    --join-ss: var(--join-radius, calc(var(--border-radius) * 2));
    --join-se: var(--join-radius, calc(var(--border-radius) * 2));
    --join-es: var(--join-radius, calc(var(--border-radius) * 2));
    --join-ee: var(--join-radius, calc(var(--border-radius) * 2));
  }

  .join-item {
    &:where(*:not(:first-child, :disabled, [disabled])) {
      margin-inline-start: calc(var(--border-width, 1px) * -1);
      margin-block-start: 0;
    }
  }
}

@utility join-vertical {
  flex-direction: column;

  > .join-item:where(:first-child),
  :first-child:not(:last-child) :where(.join-item) {
    --join-ss: var(--join-radius, calc(var(--border-radius) * 2));
    --join-se: var(--join-radius, calc(var(--border-radius) * 2));
    --join-es: 0;
    --join-ee: 0;
  }

  > .join-item:where(:last-child),
  :last-child:not(:first-child) :where(.join-item) {
    --join-ss: 0;
    --join-se: 0;
    --join-es: var(--join-radius, calc(var(--border-radius) * 2));
    --join-ee: var(--join-radius, calc(var(--border-radius) * 2));
  }

  > .join-item:where(:only-child),
  :only-child :where(.join-item) {
    --join-ss: var(--join-radius, calc(var(--border-radius) * 2));
    --join-se: var(--join-radius, calc(var(--border-radius) * 2));
    --join-es: var(--join-radius, calc(var(--border-radius) * 2));
    --join-ee: var(--join-radius, calc(var(--border-radius) * 2));
  }

  .join-item {
    &:where(*:not(:first-child, :disabled, [disabled])) {
      margin-inline-start: 0;
      margin-block-start: calc(var(--border-width, 1px) * -1);
    }
  }
}
