@utility join-item {
  --join--border-width: var(--btn--border-width, var(--card--border-width));

  /* Default: middle items → no radius */
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border-start-end-radius: 0;
  border-end-end-radius: 0;

  

  @variant only {
    border-radius: var(--join--radius);
  }
}