@utility avatar-circle {
  --avatar-radius: 9999px;
}

@utility avatar-rounded {
  --avatar-radius: calc(var(--border-radius) * 3);
}

@utility avatar-square {
  --avatar-radius: var(--border-radius);
}