@utility avatar-xs {
  --avatar-size: 1.5rem;
  --avatar-status-offset: -1px;
}

@utility avatar-sm {
  --avatar-size: 2rem;
  --avatar-status-offset: -1px;
}

@utility avatar-md {
  --avatar-size: 2.5rem;
}

@utility avatar-lg {
  --avatar-size: 3.5rem;
  --avatar-status-offset: 1px;
}

@utility avatar-xl {
  --avatar-size: 5rem;
  --avatar-status-offset: 2px;
}

@utility avatar-2xl {
  --avatar-size: 7rem;
  --avatar-status-offset: 3px;
}