@layer theme {
    :is([data-theme="darkberry"], [data-theme="dark"]){
        --scheme-color: dark;
        --border-radius: 0.25rem;

        --color-base:oklch(10.889% 0.00301 17.398);
        --color-on-base: oklch(98% 0.01 270);

        --color-neutral: oklch(85% 0 0);
        --color-on-neutral: oklch(20% 0 0);

        --color-primary: oklch(66.385% 0.18368 285.592);
        --color-on-primary: oklch(10% 0.01 270);

        --color-secondary: oklch(65% 0.18 220);
        --color-on-secondary: oklch(10% 0.01 220);

        --color-accent: oklch(75% 0.18 50);
        --color-on-accent: oklch(10% 0.01 50);

        --color-info: oklch(70% 0.15 250);
        --color-on-info: oklch(10% 0.01 250);

        --color-success: oklch(65% 0.18 140);
        --color-on-success: oklch(10% 0.01 140);

        --color-warning: oklch(75% 0.20 85);
        --color-on-warning: oklch(10% 0.01 85);

        --color-error: oklch(60% 0.22 30);
        --color-on-error: oklch(10% 0.01 30);
    }
}