@import "./safelist.css";
@import "./colors.css";
@import "./placement.css";
@import "./structure.css";

@utility tooltip {
    position: relative;
    display: inline-block;

    --color-tooltip: var(--color-neutral);
    --color-on-tooltip: var(--color-on-neutral);
    --tooltip-body: calc(100% + 0.5rem);
    --tooltip-tail: calc(100% + 1px + 0.25rem);
    --radius-tooltip: calc(var(--border-radius) * 2);      /* 0.5rem */

    & > [class*="tooltip-body"],
    &[data-tip]:before {
      color: var(--color-on-tooltip);
      border-radius: var(--radius-tooltip);
      position: absolute;
      max-width: 20rem;
      padding-inline: 0.5rem;
      padding-block: 0.25rem;
      opacity: 0%;
      text-align: center;
      white-space: normal;
      font-size: 0.875rem;
      line-height: 1.25;
      background-color: var(--color-tooltip);
      width: max-content;
      pointer-events: none;
      z-index: 2;
      --tw-content: attr(data-tip);
      content: var(--tw-content);

      transform: translateX(-50%) translateY(var(--tooltip-placement, 0.25rem));
      inset: auto auto var(--tooltip-body) 50%;
    }

    &:after {
      background-color: var(--color-tooltip);
      content: "";
      pointer-events: none;
      width: 0.625rem;
      height: 0.25rem;
      display: block;
      position: absolute;
      opacity: 0%;
      mask-repeat: no-repeat;
      mask-position: -1px 0;
      --mask-tooltip: url("data:image/svg+xml,%3Csvg width='10' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.500009 1C3.5 1 3.00001 4 5.00001 4C7 4 6.5 1 9.5 1C10 1 10 0.499897 10 0H0C-1.99338e-08 0.5 0 1 0.500009 1Z' fill='black'/%3E%3C/svg%3E%0A");
      mask-image: var(--mask-tooltip);

      transform: translateX(-50%) translateY(var(--tooltip-placement, 0.25rem));
      inset: auto auto var(--tooltip-tail) 50%;
    }

    @media (prefers-reduced-motion: no-preference) {
      & > [class*="tooltip-body"],
      &[data-tip]:before,
      &:after {
        transition:
          opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 75ms,
          transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 75ms;
      }
    }

    &:is([data-tip]:not([data-tip=""]), :has([class*="tooltip-body"]:not(:empty))) {
      &[class*="tooltip-open"],
      &:hover,
      &:has(:focus-visible) {
        & > [class*="tooltip-body"],
        &[data-tip]:before,
        &:after {
          opacity: 100%;
          --tooltip-placement: 0rem;

          @media (prefers-reduced-motion: no-preference) {
            transition:
              opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s,
              transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
          }
        }
      }
    }
}