@utility tooltip-primary {
    --color-tooltip: var(--color-primary);
    --color-on-tooltip: var(--color-on-primary);
}

@utility tooltip-secondary {
    --color-tooltip: var(--color-secondary);
    --color-on-tooltip: var(--color-on-secondary);
}

@utility tooltip-accent {
    --color-tooltip: var(--color-accent);
    --color-on-tooltip: var(--color-on-accent);
}

@utility tooltip-neutral {
    --color-tooltip: var(--color-neutral);
    --color-on-tooltip: var(--color-on-neutral);
}

@utility tooltip-info {
    --color-tooltip: var(--color-info);
    --color-on-tooltip: var(--color-on-info);
}

@utility tooltip-success {
    --color-tooltip: var(--color-success);
    --color-on-tooltip: var(--color-on-success);
}

@utility tooltip-warning {
    --color-tooltip: var(--color-warning);
    --color-on-tooltip: var(--color-on-warning);
}

@utility tooltip-error {
    --color-tooltip: var(--color-error);
    --color-on-tooltip: var(--color-on-error);
}