@utility toggle-primary {
    --color-toggle-checked: var(--color-primary);
    --color-on-toggle-checked: var(--color-on-primary);
}

@utility toggle-secondary {
    --color-toggle-checked: var(--color-secondary);
    --color-on-toggle-checked: var(--color-on-secondary);
}

@utility toggle-accent {
    --color-toggle-checked: var(--color-accent);
    --color-on-toggle-checked: var(--color-on-accent);
}

@utility toggle-neutral {
    --color-toggle-checked: var(--color-neutral);
    --color-on-toggle-checked: var(--color-on-neutral);
}

@utility toggle-info {
    --color-toggle-checked: var(--color-info);
    --color-on-toggle-checked: var(--color-on-info);
}

@utility toggle-success {
    --color-toggle-checked: var(--color-success);
    --color-on-toggle-checked: var(--color-on-success);
}

@utility toggle-warning {
    --color-toggle-checked: var(--color-warning);
    --color-on-toggle-checked: var(--color-on-warning);
}

@utility toggle-error {
    --color-toggle-checked: var(--color-error);
    --color-on-toggle-checked: var(--color-on-error);
}
