@utility toggle-xs {
    --toggle--width: 2rem;
    --toggle--height: 1rem;
}

@utility toggle-sm {
    --toggle--width: 2.5rem;
    --toggle--height: 1.25rem;
}

@utility toggle-md {
    --toggle--width: 3rem;
    --toggle--height: 1.5rem;
}

@utility toggle-lg {
    --toggle--width: 3.5rem;
    --toggle--height: 1.75rem;
}

@utility toggle-xl {
    --toggle--width: 4rem;
    --toggle--height: 2rem;
}
