@import "./safelist.css";

@utility accordion {
  --color-accordion-soft: var(--color-base-soft);
  --color-accordion-active: var(--color-base-active);

  display: grid;
  background-color: var(--color-base);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-accordion-active);
  border-radius: var(--radius-accordion);
  cursor: pointer;

  & > details {
    &:not(:last-child) {
      border-bottom-width: 1px;
      border-bottom-style:solid;
      border-bottom-color: var(--color-accordion-active);
    }
    text-wrap: pretty;

    & > *:not(summary) {
      padding-inline: 1rem;
      padding-bottom: 1rem;
      /* color: var(--para--color); */
    }
    & > summary::marker {
      content: none;
    }
    & > p {
      font-size: var(--text-base);
      background-color: --alpha(var(--color-base-soft) / 40%);
      padding-top: 1rem;
    }
    & > summary {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      font-weight: 500;

      &::after {
        content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyMCAyMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0icmdiYSg1Myw1Myw1MywxKSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im0xOS41IDguMjUtNy41IDcuNS03LjUtNy41Ii8+Cjwvc3ZnPg==");
        display: inline-block;
        color: inherit;
      }
    }
  }

  & > details[open] {
    & > summary {
      padding-bottom: 1rem;
      &::after {
        transform: rotate(180deg);
        transform-origin: center;
        transition: transform 300ms;
      }
    }
  }
}
