@import "./safelist.css";
@import "./structure.css";

@utility accordion {
  --radius-accordion: calc(var(--border-radius) * 2);      /* 0.5rem */
  --color-accordion-soft: var(--color-base-soft);
  --color-accordion-active: var(--color-base-active);

  display: block;
  width: 100%;
  /* background-color: var(--color-base); */

  &:not([class*="accordion-body"] *) {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-accordion-active);
    border-radius: var(--radius-accordion);
  }
  
  cursor: pointer;

  & > details {
    box-sizing: border-box;
    width: 100%;
    &:not(:last-child) {
      border-bottom-width: 1px;
      border-bottom-style:solid;
      border-bottom-color: var(--color-accordion-active);
    }
    
    text-wrap: pretty;

    /* Target nested accordion bodies to strip their padding */
    & [class*="accordion-body"] [class*="accordion-body"] {
      padding-inline: 0;
      padding-bottom: 0;
    }

    & > summary::marker {
      content: none;
    }

    & > summary {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      font-weight: 500;

      &::after {
        content: "";
        display: inline-block;
        border-right: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        width: 0.625rem;
        height: 0.625rem;
        transform: rotate(45deg);
      }
    }

    /* Remove summary padding for nested accordions */
    & [class*="accordion-body"] details > summary {
      padding-inline: 0;
    }

  }

  & > details[open] {
    & > summary {
      /* padding-bottom: 1rem; */
      &::after {
        transform: rotate(225deg);
        transform-origin: center;
        transition: transform 300ms;
      }
    }
  }
}