@import "./safelist.css";
@import "./structure.css";

@utility accordion {
  --radius-accordion: calc(var(--border-radius) * 2);      /* 0.5rem */
  --color-accordion-soft: var(--color-base-soft);
  --color-accordion-active: var(--color-base-active);

  display: block;
  width: 100%;

  &:not([class*="accordion-flush"]){
    padding-inline: 1rem;
  }

  &:not([class*="accordion-body"] *) {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-accordion-active);
    border-radius: var(--radius-accordion);
  }
  
  cursor: pointer;

  & > details {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    &:not(:last-child) {
      border-block-end-width: 1px;
      border-block-end-style:solid;
      border-block-end-color: var(--color-accordion-active);
    }
    
    text-wrap: pretty;

    & > summary::marker {
      content: none;
    }

    & > summary {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: start;
      padding-block: 1rem;
      padding-inline-end: 1.5rem; /* space for icon */
      font-weight: 500;
      color: var(--color-on-base);

      &::after {
        content: "";
        border-block-end: 1px solid;
        border-inline-end: 1px solid;
        width: .425rem;
        height: .425rem;
        position: absolute;
        inset-inline-end: 0.5rem;
        margin-block-start: 0.5rem;
        transform: translateY(-50%) rotate(45deg);
      }
    }

  }

  & > details[open] {
    & > summary {
      /* padding-block-end: 1rem; */
      &::after {
        transform: rotate(225deg);
        transform-origin: center;
        transition: transform 300ms;
      }
    }
  }
}