@utility accordion-body {
    padding-block-end: 1rem;
    font-size: var(--text-base);
}

@utility accordion-flush {
    --accordion-flush--border-width: 0;
    --accordion-flush--padding-inline: 0;

    &>details:first-child {
        >summary {
            padding-block-start: 0;
        }
    }

    &>details>summary {
        font-weight: normal;
    }

    /* &>details:last-child:not(:only-child) {
        >summary {
            padding-block-end: 0;
        }
    }

    & > details[open]:last-child:not(:only-child) {
        > summary {
            padding-block-end: 1rem;
        }
    } */
}