@utility accordion-body {
    padding-block-end: 1rem;
    font-size: var(--text-base);
}

@utility accordion-flush {
    &:not([class*="accordion-body"] *) {
        border: none;
    }

    &>details:first-child {
        >summary {
            padding-block-start: 0rem;
        }
    }

    &>details>summary {
        font-weight: normal;
    }

    &>details:last-child {
        >summary {
            padding-block-end: 0rem;
        }
    }

    &>details[open]:last-child {
        >summary {
            padding-block-end: 1rem;
        }
    }

    & [class*="accordion-body"] details>summary {
        padding-block-start: 0.375rem;
    }
}