@import "./sizes.css";

@utility kbd {
  --radius-kbd: calc(var(--border-radius) * 1.5);
  --color-kbd: var(--color-base-soft);
  --color-on-kbd: var(--color-on-base);
  --kbd--padding-inline: 0.5rem;
  --kbd--padding-block: 0.25rem;
  --kbd--font-size: 0.875rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--kbd--padding-inline);
  padding-block: var(--kbd--padding-block);
  font-size: var(--kbd--font-size);
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;

  background-color: var(--color-kbd);
  color: var(--color-on-kbd);
  border-radius: var(--radius-kbd);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-base-active);
  border-block-end-width: 3px;

  min-width: 1.75rem;
  text-align: center;
}
