@import "./layers.css";
@import "./safelist.css";
@import "./shapes.css";
@import "./sizes.css";
@import "./styles.css";

@utility surface {
  --surface--bg-color: var(--color-base);
  --surface--color: var(--color-on-base);

  background-color: var(--surface--bg-color);
  color: var(--surface--color);
  padding: var(--surface--padding, 1.5rem);
}