@utility surface-1 {
  --surface--bg-color: var(--color-base-soft);
  --surface--color: var(--color-on-base);
}

@utility surface-2 {
  --surface--bg-color: var(--color-base-active);
  --surface--color: var(--color-on-base);
}