@utility surface-1 {
  --surface--bg-color: color-mix(in oklch, var(--color-base) 90%, var(--color-on-base) 10%);
  --surface--color: var(--color-on-base);
}

@utility surface-2 {
  --surface--bg-color: color-mix(in oklch, var(--color-base) 80%, var(--color-on-base) 20%);
  --surface--color: var(--color-on-base);
}

/* @utility surface-3 {
  --surface--bg-color: color-mix(in oklch, var(--color-base) 70%, var(--color-on-base) 30%);
  --surface--color: var(--color-on-base);
} */

/* @utility surface-4 {
  --surface--bg-color: color-mix(in oklch, var(--color-base) 60%, var(--color-on-base) 40%);
  --surface--color: var(--color-on-base);
} */

/* @utility surface-5 {
  --surface--bg-color: color-mix(in oklch, var(--color-base) 50%, var(--color-on-base) 50%);
  --surface--color: var(--color-on-base);
} */