@utility surface-xs {
  --surface--padding: 0.5rem;
}

@utility surface-sm {
  --surface--padding: 1rem;
}

@utility surface-md {
  --surface--padding: 1.5rem;
}

@utility surface-lg {
  --surface--padding: 2rem;
}

@utility surface-xl {
  --surface--padding: 2.5rem;
}