@utility surface-outline {
  border-width: 1px;
  border-style: solid;
  border-color: color-mix(in oklch, var(--color-base-active) 90%, var(--color-base) 10%);
}

@utility surface-dashed {
  border-width: 1px;
  border-style: dashed;
  border-color: var(--color-base-active);
}