@utility surface-outline {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-base-soft);
}

@utility surface-dashed {
  background-color: transparent;
  border-width: 1px;
  border-style: dashed;
  border-color: var(--color-base-soft);
}