@layer base{
    :root,
    [data-theme] {
      @variant snowberry{
        background-color: var(--color-core-50);
        color: var(--color-core-900);
      }
      @variant darkberry{
        background-color: var(--color-core-950);
        color: var(--color-core-50);
      }
    }
}