@layer base {
  :root,
  [data-theme] {
    --palette-shade-light-color: white;
    --palette-shade-dark-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: var(--scheme-color, light);
    color: var(--color-on-base);
    background-color: var(--color-base);
  }

  main, footer {
    background-color: var(--color-base);
  }

  /* same as para-md or para */
  p {
    text-wrap-style: pretty;
    color: light-dark(
      color-mix(in oklch, var(--palette-shade-light-color) 20%, var(--color-on-base) 80%),
      color-mix(in oklch, var(--palette-shade-dark-color) 20%, var(--color-on-base) 80%)
    );
    font-size: var(--text-base);
  }
}
