@layer base {
  :root,
  [data-theme] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: var(--scheme-color, light);
    color: var(--color-on-base);
    background-color: var(--color-base);
  }

  main {
    background-color: var(--color-base);
  }

  /* same as para-md or para */
  p {
    text-wrap-style: pretty;
    color: var(--para--color);
    font-size: var(--text-base);
  }
}
