@import "./safelist.css";
@import "./colors.css";
@import "./sizes.css";
@import "./styles.css";

@utility link {
    --link--color: var(--color-on-base);

    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--link--color);
    font-size: var(--link-text-size, 1rem);
    transition: all 200ms ease-out;

    @variant hover {
        --link--color: light-dark(var(--color-base-950), var(--color-base-100));
        color: var(--link--color);
    }

    @variant focus {
        outline-style: none;
        @variant forced-colors {
            outline: 2px solid transparent;
            outline-offset: 2px;
        }
    }

    @variant focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 2px;
    }
}